<div id="reset-password" fxLayout="column">

    <div id="reset-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="reset-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/Logos/logo_transparent.png">
            </div>

            <div class="title">RÉINITIALISEZ VOTRE MOT DE PASSE</div>

            <form name="resetPasswordForm" [formGroup]="resetPasswordForm" (ngSubmit)="eventRestPassword(resetPasswordForm)" novalidate>
                <!-- Password -->
                <mat-form-field appearance="outline" class="spacing-bottom">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <!-- Required -->
                    <mat-error *ngIf="resetPasswordForm.get('password').hasError('required')">
                        Mot de passe est obligatoire
                    </mat-error>
                    <!-- Pattern -->
                    <mat-error *ngIf="resetPasswordForm.controls.password.errors?.pattern">
                        Utilisez au moins 5 caractères avec des lettres majuscules, minuscules et des
                        chiffres
                    </mat-error>
                    <!-- MinLength -->
                    <mat-error
                        *ngIf="!resetPasswordForm.controls.password.errors?.pattern && !resetPasswordForm.get('password').hasError('required') && resetPasswordForm.controls.password.errors?.minlength">
                        Mot de passe doit comporter 5 chiffres
                    </mat-error>
                </mat-form-field>
                <!-- Confirm Password -->
                <mat-form-field appearance="outline">
                    <mat-label>Confirmer le mot de passe</mat-label>
                    <input matInput type="password" formControlName="passwordConfirm">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                        Confirmation mot de passe est obligatoire
                    </mat-error>
                    <mat-error *ngIf="!resetPasswordForm.get('passwordConfirm').hasError('required') &&
                                       resetPasswordForm.get('passwordConfirm').hasError('passwordsNotMatching')">
                        les mots de passe doivent correspondre
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="RESET MY PASSWORD"
                    [disabled]="resetPasswordForm.invalid">
                    RÉINITIALISER MON MOT DE PASSE
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Revenir à la page de connexion</a>
            </div>

        </div>

    </div>

</div>