@import "src/@fuse/scss/fuse";

e-commerce-products {
  #products {
    .top-bg {
      @include media-breakpoint("lt-md") {
        height: 256px;
      }
    }

    > .center {
      > .header {
        .search-wrapper {
          width: 100%;
          max-width: 480px;
          border-radius: 28px;
          overflow: hidden;
          @include mat-elevation(1);

          @include media-breakpoint("xs") {
            width: 100%;
          }

          .search {
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;

            input {
              width: 100%;
              height: 48px;
              min-height: 48px;
              max-height: 48px;
              padding: 0 16px;
              border: none;
              outline: none;
            }
          }
        }

        @include media-breakpoint("lt-md") {
          padding: 8px 0;
          height: 192px !important;
          min-height: 192px !important;
          max-height: 192px !important;
        }
      }
    }
  }

  .products-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
      min-height: 64px;
    }

    .product {
      position: relative;
      cursor: pointer;
      height: 84px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-image {
      flex: 0 1 84px;

      .product-image {
        width: 52px;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    // .mat-column-category {
    //     flex: 0 1 240px;
    // }

    // .mat-column-price {
    //     flex: 0 1 160px;
    // }

    // .mat-column-quantity {
    //     flex: 0 1 160px;
    // }

    // .mat-column-active {
    //     flex: 0 1 80px;
    // }

    .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .active-icon {
      border-radius: 50%;
    }
  }
}
.c-chip-list {
  width: 100%;
}
.c-chip-list .mat-form-field-infix {
  width: 100%;
}

.mat-cell,
.mat-header-cell {
  overflow: hidden;
  word-wrap: break-word;
}
.c-active-icon {
  border-radius: 50%;
}
.c-header-accent {
  padding: 28px 15px;
}
.c-filter{background: #fff;    border: 1px solid #ccc;border-radius: 4px;margin: 20px 0;}
.c-icon-contact{width: 50px;height: 50px;}
.c-icon-contact .mat-button-wrapper{vertical-align: middle;}
.c-icon-contact .mat-button-wrapper .mat-icon{margin-left: 4px;}
.c-badge-user{width: 35px;height: 35px;vertical-align: middle;background:#ffc107;text-align: center;padding-top: 9px;margin-right: 10px;font-weight: bold;color: #fff;border-radius: 50%;}
.badge-red{background: #e74c3c;}
.badge-orange{background: #e67e22;}
.badge-blue{background: #2980b9;}
.badge-green{background: #27ae60;}