<div id="products" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <!-- <div class="top-bg accent"></div> -->
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div>

    <!-- HEADER -->
    <div class="header accent c-header-accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div fxFlex="20" class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1">
          Mes contacts
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <div fxFlex="60" class="mx-32 mx-md-0">
        <div fxFlex fxLayout="row" fxLayoutAlign="start center">
          <!-- Tags -->
          <mat-form-field class="c-chip-list pr-12 mat-form-field-white c-chip-list-custom" fxFlex="70">
            <mat-chip-list #chipList>
              <mat-chip *ngFor="let tag of formFilter.controls.tags.value" selectable="true" removable="true"
                (removed)="remove(tag)">
                {{tag}}
                <mat-icon matChipRemove>cancel</mat-icon>
              </mat-chip>
              <input placeholder="Recherche par tags..." [matChipInputFor]="chipList"
                [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
          </mat-form-field>
        </div>
      </div>
      <!-- / SEARCH -->
      <!-- ADD BUTTON EXterne 
      <button mat-icon-button (click)="ExportTOExcel()"   class="mat-elevation-z8 pink-A400-bg c-icon-contact">
        <mat-icon aria-label="Example icon-button with a heart icon">person_add</mat-icon>
      </button>-->
      <!-- / ADD BUTTON -->

      <!-- ADD BUTTON -->
      <button mat-icon-button (click)="redirectToAdd()" class="mat-elevation-z8 pink-A400-bg c-icon-contact">
        <mat-icon aria-label="Example icon-button with a heart icon">person_add</mat-icon>
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- Filter -->
      <div class="c-filter mx-16">
        <div fxLayout="row" fxLayoutAlign="start center" class="px-12 mt-12">
          <span class="mat-headline blue-900-fg">Recherche:</span>
        </div>
        <!-- Firstname / company / Secteur -->
        <div fxLayout="row" fxLayoutAlign="start center" class="px-12 mt-12">
          <!-- Nom -->
          <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
            <mat-label>Par nom</mat-label>
            <input matInput maxlength="30" (change)="changeSearchQuery($event, 'name')">
          </mat-form-field>
          <!-- Company -->
          <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
            <mat-label>Par société</mat-label>
            <input matInput maxlength="30" (change)="changeSearchQuery($event, 'company')">
          </mat-form-field>
          <!-- Secteur -->
          <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
            <mat-label>Secteur</mat-label>
            <mat-select (selectionChange)="changeSearchQuery($event, 'sector')">
              <mat-option *ngFor="let elt of listSecteur" [value]="elt.value">
                {{elt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <!-- Note / Categorie -->
        <div fxLayout="row" fxLayoutAlign="start center" class="px-12 mb-20">
          <!-- Note -->
          <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
            <mat-label>Par fonction</mat-label>
            <input matInput maxlength="30" placeholder="Par note" (change)="changeSearchQuery($event, 'fonction')">
          </mat-form-field>
          <!-- Categorie -->
          <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
            <mat-label>Catégorie</mat-label>
            <mat-select (selectionChange)="changeSearchQuery($event, 'category')" >
              <mat-option *ngFor="let elt of listCategories" [value]="elt.value">
                {{elt.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <!-- Table -->
      <mat-table class="products-table mx-16" [dataSource]="userContact" #TABLE #table >
        <!-- Lastname -->
        <ng-container matColumnDef="nom">
          <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
          <mat-cell *matCellDef="let user"><span class="c-badge-user"
              [ngClass]="{'badge-red': user.categorie =='suspect', 'badge-orange': user.categorie == 'prospect', 'badge-blue': user.categorie == 'lead', 'badge-green': user.categorie == 'client'}">{{user?.badge | uppercase }}
            </span>
            {{user?.lastname}} {{user?.firstname}} </mat-cell>
        </ng-container>
        <!-- Societe -->
        <ng-container matColumnDef="societe">
          <mat-header-cell *matHeaderCellDef> Société</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <span class="text-truncate">{{user?.societe}}</span>
          </mat-cell>
        </ng-container>
        <!-- Societe -->
        <ng-container matColumnDef="fonction">
          <mat-header-cell *matHeaderCellDef> Fonction</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <span class="text-truncate">{{user?.fonction}}</span>
          </mat-cell>
        </ng-container>
        <!-- Categorie -->
        <ng-container matColumnDef="categorie">
          <mat-header-cell *matHeaderCellDef> Categorie</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <span class="text-truncate">{{user?.categorie}}</span>
          </mat-cell>
        </ng-container>

        <!-- Actions -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
          <mat-cell *matCellDef="let user">
            <!-- details -->
            <button mat-icon-button color="warn" (click)="eventClickRow(user)">
              <mat-icon aria-label="icon-button with a heart icon">search</mat-icon>
            </button>
            <!-- Remove -->
            <button mat-icon-button color="warn" (click)="removeContact(user)">
              <mat-icon aria-label="icon-button with a heart icon">close</mat-icon>
            </button>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [length]="total" [pageSize]="limitPage" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageEvent = getServerData($event)">
      </mat-paginator>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  
      
    
    
  <!-- / CENTER -->
</div>