<div id="about" class="p-24" fxLayout="row wrap">
  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="45">
      <!-- Change password -->
      <div class="profile-box info-box general" fxLayout="column">

          <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
              <div class="title">Sécurité et connexion</div>
              <div class="more secondary-text">
                  <mat-icon class="s-16 ml-4">vpn_key</mat-icon>
              </div>
          </header>

          <div class="content" fxLayout="column wrap">
              <!-- Change Password -->
              <div class="info-line">
                  <div class="title">Changer le mot de passe</div>
              </div>
              <!-- Form -->
              <form name="formChangePassword" [formGroup]="formChangePassword"
                  (ngSubmit)="eventChangePassword(formChangePassword)" novalidate fxLayout="column"
                  fxLayoutAlign="start" fxFlex="1 0 auto">
                  <!-- Password -->
                  <mat-form-field fxFlex="100" appearance="outline" class="spacing-bottom">
                      <mat-label>Mot de passe</mat-label>
                      <input matInput type="password" formControlName="password">
                      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                      <!-- Required -->
                      <mat-error *ngIf="formChangePassword.get('password').hasError('required')">
                          Mot de passe est obligatoire
                      </mat-error>
                      <!-- Pattern -->
                      <mat-error *ngIf="formChangePassword.controls.password.errors?.pattern">
                          Utilisez au moins 5 caractères avec des lettres majuscules, minuscules et des
                          chiffres
                      </mat-error>
                      <!-- MinLength -->
                      <mat-error
                          *ngIf="!formChangePassword.controls.password.errors?.pattern && !formChangePassword.get('password').hasError('required') && formChangePassword.controls.password.errors?.minlength">
                          Mot de passe doit comporter 5 chiffres
                      </mat-error>
                  </mat-form-field>
                  <!-- Confirm Password -->
                  <mat-form-field fxFlex="100" appearance="outline">
                      <mat-label>Confirmer le mot de passe</mat-label>
                      <input matInput type="password" formControlName="passwordConfirm">
                      <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                      <mat-error *ngIf="formChangePassword.get('passwordConfirm').hasError('required')">
                          Confirmation mot de passe est obligatoire
                      </mat-error>
                      <mat-error *ngIf="!formChangePassword.get('passwordConfirm').hasError('required') &&
                          formChangePassword.get('passwordConfirm').hasError('passwordsNotMatching')">
                          les mots de passe doivent correspondre
                      </mat-error>
                  </mat-form-field>
                  <!-- Confirm -->
                  <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                      aria-label="RESET MY PASSWORD" [disabled]="formChangePassword.invalid">
                      CONFIRMER
                  </button>
              </form>
          </div>

      </div>
  </div>
</div>