<!-- Content -->
<div class="page-layout carded fullwidth">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-0 mr-sm-16" (click)="backTo()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2 class="m-0">Instit club </h2>
        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8" fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{ emission?.investorId.firstname }} {{ emission?.investorId.lastname }}</span>
                <span>Date de création:
                    <span
                        class="accent-900-fg mat-caption">{{emission?.creationDate | amLocale:'fr' | amTimeAgo}}</span>
                </span>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content p-24">

                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" fxFlex="100">
                    <div id="invoice" class="modern page-layout blank" fxLayout="row" fxFlex="100">

                        <div class="invoice-container">

                            <!-- Details Investor -->
                            <div class="card  my-12">

                                <div class="header" fxLayout="row" fxLayoutAlign="space-between start">

                                    <div class="ids" fxLayout="column" fxFlex="44">

                                        <div fxLayout="row" class="seller" fxLayoutAlign="start center">

                                            <div class="logo">
                                                <img src="{{urlLogo}}">
                                            </div>

                                            <div class="divider"></div>

                                            <div class="detail">
                                                <!-- Company -->
                                                <div class="title">
                                                    <span>Société: {{ emission?.investorId.societe }}</span>
                                                </div>
                                                <!-- Type -->
                                                <div class="type">
                                                    <span class="mb-8">Instruments acceptés:</span>
                                                    <span class="secondary-text" fxLayout="column">
                                                        <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column"
                                                            *ngFor="let item of emission?.type;let frst=first"
                                                            fxLayoutAlign="start center"
                                                            [ngClass]="{'mt-8': frst,'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                                            <span class="font-size-12">{{item}}</span>
                                                        </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <table class="summary" fxFlex="56">
                                        <tr class="code">
                                            <td class="label">Montant</td>
                                            <td class="value">
                                                <span class="p-4 mr-8">{{ emission?.amount }} Mdt</span>
                                                <span class="mat-subheading-2 teal-700-fg">pour {{emission?.period}}
                                                    jours</span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="label">Date de disponibilité</td>
                                            <td class="value">{{ emission?.availableDate | date: 'dd/MM/yyyy' }}</td>
                                        </tr>
                                    </table>
                                </div>

                                <div class="content">

                                </div>

                            </div>
                            <!-- / Details Investor -->

                            <!-- Investment -->
                            <div class="card my-12" *ngIf="!isEmissionOwner">
                                <!-- Investisseur -->
                                <div *ngIf="!isInvested" class="header" fxLayout="column" fxLayoutAlign="start"
                                    fxFlex="1 0 auto">
                                    <div class="h1">Soumettre une offre</div>

                                    <!-- <mat-divider fxFlex="100"></mat-divider> -->
                                    <hr fxFlex="100">
                                    <form [formGroup]="investForm" fxLayout="column"
                                        (ngSubmit)="onInvestment(investForm)" fxFlex="100" fxLayoutAlign="start"
                                        fxFlex="1 0 auto">

                                        <!-- Taux / Type -->
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <!-- Taux -->
                                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                                <mat-label>Taux %</mat-label>
                                                <input matInput formControlName="rateIC" maxlength="30" type="number"
                                                    required min="0" max="99.99" step="0.05">
                                                <!-- Field Required -->
                                                <mat-error *ngIf="investForm.get('rateIC').hasError('required')">
                                                    Taux d’intérêt actuariel
                                                    brut
                                                    fix est obligatoire</mat-error>
                                                <!-- Field Min -->
                                                <mat-error *ngIf="investForm.controls.rateIC.errors?.min">Valeur
                                                    minimum taux d’intérêt
                                                    actuariel
                                                    brut fix est 0</mat-error>
                                                <!-- Field Max -->
                                                <mat-error *ngIf="investForm.controls.rateIC.errors?.max">Valeur
                                                    maximum taux d’intérêt
                                                    actuariel
                                                    brut fix est 99.99</mat-error>
                                            </mat-form-field>
                                            <!-- Type -->
                                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                                <mat-label>Choisir les instruments</mat-label>
                                                <mat-select formControlName="type" required multiple>
                                                    <mat-option *ngFor="let type of ListType" [value]="type.value">
                                                        {{type.label}}
                                                    </mat-option>
                                                </mat-select>
                                                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                                <mat-error>Instruments est obligatoire</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <!-- Amount percent -->
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto"
                                            *ngIf="investForm.value.typerate == '2'">
                                            <!-- Amount percent -->
                                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                                <mat-label>montant en pourcentage %</mat-label>
                                                <input matInput formControlName="amountPercent" maxlength="30"
                                                    type="number" required min="75" max="100" step="0.5">
                                                <!-- Field Required -->
                                                <mat-error *ngIf="investForm.get('amountPercent').hasError('required')">
                                                    pourcentage obligatoire</mat-error>
                                                <!-- Field Min -->
                                                <mat-error *ngIf="investForm.controls.amountPercent.errors?.min">Valeur
                                                    minimum 75 %</mat-error>
                                                <!-- Field Max -->
                                                <mat-error *ngIf="investForm.controls.amountPercent.errors?.max">Valeur
                                                    maximum 100%</mat-error>
                                            </mat-form-field>
                                        </div>
                                        <!-- Type rate -->
                                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                            <mat-radio-group formControlName="typerate"
                                                (change)="onChangeTypeRate($event)">
                                                <mat-radio-button value="1" class="pr-4" checked="true">Tout ou rien
                                                </mat-radio-button>
                                                <mat-radio-button value="2" class="pl-4" [disabled]="isDisabled">Partiel
                                                </mat-radio-button>
                                                <span class="fuse-navy-200-fg ml-4 c-link-span" (click)="showDialog()"
                                                    *ngIf="isDisabled">
                                                    <small>
                                                        <u>
                                                            <em>
                                                                Merci de mettre à jour vos encours
                                                            </em>
                                                        </u>

                                                    </small>
                                                </span>
                                            </mat-radio-group>
                                        </div>
                                        <!-- Button -->
                                        <div fxLayoutAlign="space-around">
                                            <!-- Confirm -->
                                            <button mat-raised-button class="submit-button" color="accent"
                                                [disabled]="investForm.invalid">
                                                Soumettre
                                            </button>
                                        </div>
                                    </form>

                                </div>
                                <span *ngIf="isInvested" class="mat-headline text-center cyan-800-fg" fxFlex="100">
                                    <i class="material-icons cyan-800-fg ">
                                        send
                                    </i>
                                    Votre offre a été envoyé avec succès
                                </span>
                            </div>
                            <!-- /Investment -->

                            <!-- investments  -->
                            <div class="card my-12 inner-scroll" *ngIf="isEmissionOwner">

                                <!-- Emitteur -->
                                <div class="header" fxLayout="column" fxLayoutAlign="space-around">

                                    <div class="h1">Les offres reçues</div>

                                    <mat-table class="c-table" [dataSource]="listInvestment">
                                        <!-- Fullname Column -->
                                        <ng-container matColumnDef="firstname">
                                            <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
                                            <mat-cell *matCellDef="let element"> {{element?.emetteurId.firstname}}
                                                {{element?.emetteurId.lastname}}</mat-cell>
                                        </ng-container>

                                        <!-- Rate Column -->
                                        <ng-container matColumnDef="rateIC">
                                            <mat-header-cell *matHeaderCellDef fxFlex="50px"> Taux</mat-header-cell>
                                            <mat-cell *matCellDef="let element" fxFlex="50px">{{element.rateIC}}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Type Column -->
                                        <ng-container matColumnDef="type">
                                            <mat-header-cell *matHeaderCellDef> Type d'instrument</mat-header-cell>
                                            <mat-cell *matCellDef="let element" fxLayout="column" fxLayoutAlign="start">
                                                <span fxFlex="100" *ngFor="let elt of element.type">
                                                    {{ elt }}
                                                </span>
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Type Rate Column -->
                                        <ng-container matColumnDef="typerate">
                                            <mat-header-cell *matHeaderCellDef fxFlex="120px"> Type taux
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let element" fxFlex="120px">
                                                {{ element.typerate == 1 ? 'Tout ou rien' : 'Partiel' }}
                                            </mat-cell>
                                        </ng-container>

                                        <!-- Amount Percent Column -->
                                        <ng-container matColumnDef="amountPercent">
                                            <mat-header-cell *matHeaderCellDef fxFlex="50px"> %</mat-header-cell>
                                            <mat-cell *matCellDef="let element" fxFlex="50px">
                                                {{ element.amountPercent }}
                                            </mat-cell>
                                        </ng-container>


                                        <!-- Creation date Column -->
                                        <ng-container matColumnDef="creationDate">
                                            <mat-header-cell *matHeaderCellDef> Date de création</mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                {{ emission?.creationDate | date: 'dd/MM/yyyy' }}</mat-cell>
                                        </ng-container>

                                        <!-- Status Column -->
                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
                                            <mat-cell *matCellDef="let element">
                                                {{element.status}}
                                            </mat-cell>
                                        </ng-container>
                                        <!-- Button Accept or refuse -->
                                        <ng-container matColumnDef="Accepter/Refuser">
                                            <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let element" fxLayout="row">
                                                <div *ngIf="element.status == 'en attente'" fxLayout="row">
                                                    <button style="font-size:12px" mat-raised-button matStepperNext
                                                        type="button" fxFlex="42" color="accent" class="green-bg mr-8 c-button-cus"
                                                        (click)="acceptOrRefuseOffre(element._id, 3)">Accepter</button>
                                                    <button style="font-size:12px" mat-raised-button matStepperNext
                                                        type="button" color="accent" class="red-bg ml-8 c-button-cus" fxFlex="42"
                                                        (click)="acceptOrRefuseOffre(element._id, 2)">Refuser</button>
                                                </div>
                                                <div *ngIf="element.status != 'en attente'">
                                                    <span class="mat-body-1 px-4 py-4 white-color"
                                                        [ngClass]="{'green-900': element.status == 'Accepté', 'red-900': element.status == 'Refusé' }">
                                                        Offre
                                                        {{ element?.status == 'Accepté' ? 'acceptée' :  'refusée'}}</span>
                                                </div>
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                    </mat-table>
                                    <!-- paginator -->
                                    <mat-paginator [length]="total" [pageSize]="limitPage"
                                        [pageSizeOptions]="[5, 10, 25, 100]" (page)="pageEvent = getServerData($event)">
                                    </mat-paginator>
                                </div>
                            </div>
                            <!-- /investments -->
                        </div>

                    </div>
                </div>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>