<div id="academy-courses" class="page-layout simple">

  <!-- HEADER -->
  <!-- / HEADER -->

  <!-- CONTENT -->
  <div class="content p-24">

    <div fxLayout="column" fxLayoutAlign="center">
      <div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
        fxLayoutAlign.gt-xs="space-between center">
        <div fxFlex="80" fxFlexFill fxLayoutAlign="space-between center">
          <!-- Tri -->
          <mat-form-field appearance="outline" class="category-selector c-tri-selct">
            <mat-label>Trier par</mat-label>
            <mat-select (selectionChange)="changeTri($event)">
              <mat-option *ngFor="let type of listTri" [value]="type.value">
                {{ type.label }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div fxFlex="20" fxFlexFill fxLayoutAlign="end center">
          <!-- List -->
          <button mat-flat-button (click)="redirectToMylist()" color="accent">MON DASHBOARD</button>
        </div>

      </div>
      <div id="academy-courses">
        <div class="content">
          <mat-tab-group class="c-tabs-group" (selectedTabChange)="filterByStatus($event)">
            <!-- new offers -->
            <mat-tab label="Nouvelles offres ({{ info?.new }})" class="c-tabs-all">
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                  [@animate]="{value:'*',params:{y:'100%'}}">

                  <fuse-widget style="cursor: pointer;" fxLayout="column">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                      <!-- Logo / Company -->
                      <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                        <!-- Logo -->
                        <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                        <!-- Company -->
                        <div class="ml-16">
                          <div class="text-bold">{{ emission?.investorId.societe }}</div>
                        </div>
                        <img src="assets/icons/status-{{emission.status}}.png" alt="" class="c-em-status">
                      </div>
                      <!-- status -->
                      <!-- Type emission -->
                      <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="h4" fxFlex="100">Instit club</span>
                  </div> -->
                      <!-- Amount -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Amount -->
                          <span>
                            {{ emission?.amount }} Mdt
                          </span>
                        </div>
                      </div>
                      <!-- Period -->
                      <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="font-size-24 line-height-24">
                          <span class="font-size-16">sur</span>
                          {{ emission?.period }}
                          Jrs
                        </div>
                      </div>
                      <!-- Dispo / countdown -->
                      <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                          <div class="mb-8" fxLayout="column">
                            <div class="mb-4 text-bold">Instruments acceptés :</div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                          <div class="mb-8" fxLayout="column" style="height: 45px;">
                            <span class="secondary-text" fxLayout="row wrap">
                              <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                                *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                                [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                <span class="font-size-12">{{item}}</span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Investir -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mx-0 my-0">
                          <img src="assets/icons/auction.png" alt="">
                          <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                          offre
                        </p>
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <button mat-flat-button (click)="detailsOffre(emission)" class="c-submit-ic">Soumettre une
                            offre</button>
                        </div>
                      </div>
                      <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                          <span class="text-bold text-truncate fuse-black-A700-fg ">
                            <img src="assets/icons/hourglass.png" alt="">
                            Expire dans:
                          </span>
                          <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                            <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s
                            </countdown>
                          </span>
                        </div>
                      </div>
                    </div>
                  </fuse-widget>
                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                  Aucun élément trouvé
                </div>

              </div>
            </mat-tab>
            <!-- Waiting -->
            <mat-tab label="En attente   ({{ info?.inprogress }})" class="c-tabs-all">
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                  [@animate]="{value:'*',params:{y:'100%'}}">

                  <fuse-widget style="cursor: pointer;" fxLayout="column">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                      <!-- Logo / Company -->
                      <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                        <!-- Logo -->
                        <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                        <!-- Company -->
                        <div class="ml-16">
                          <div class="text-bold">{{ emission?.investorId.societe }}</div>
                        </div>
                        <img src="assets/icons/status-{{emission.status}}.png" alt="" class="c-em-status">
                      </div>
                      <!-- status -->
                      <!-- Type emission -->
                      <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="h4" fxFlex="100">Instit club</span>
                  </div> -->
                      <!-- Amount -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Amount -->
                          <span>
                            {{ emission?.amount }} Mdt
                          </span>
                        </div>
                      </div>
                      <!-- Period -->
                      <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="font-size-24 line-height-24">
                          <span class="font-size-16">sur</span>
                          {{ emission?.period }}
                          Jrs
                        </div>
                      </div>
                      <!-- Dispo / countdown -->
                      <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                          <div class="mb-8" fxLayout="column">
                            <div class="mb-4 text-bold">Instruments acceptés :</div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                          <div class="mb-8" fxLayout="column" style="height: 45px;">
                            <span class="secondary-text" fxLayout="row wrap">
                              <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                                *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                                [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                <span class="font-size-12">{{item}}</span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Investir -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mx-0 my-0">
                          <img src="assets/icons/auction.png" alt="">
                          <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                          offre
                        </p>
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Waiting offer -->
                          <button mat-flat-button (click)="cancelOffer(emission)"
                            class="c-submit-ic c-button-cus">Annuler</button>
                        </div>
                      </div>
                      <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                          <span class="text-bold text-truncate fuse-black-A700-fg ">
                            <img src="assets/icons/hourglass.png" alt="">
                            Expire dans:
                          </span>
                          <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                            <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s
                            </countdown>
                          </span>
                        </div>
                      </div>
                    </div>
                  </fuse-widget>
                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                  Aucun élément trouvé
                </div>

              </div>
            </mat-tab>
            <!-- Accepted -->
            <mat-tab label="Accepté ({{ info?.accepted }})" class="c-tabs-active">
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                  [@animate]="{value:'*',params:{y:'100%'}}">

                  <fuse-widget style="cursor: pointer;" fxLayout="column">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                      <!-- Logo / Company -->
                      <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                        <!-- Logo -->
                        <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                        <!-- Company -->
                        <div class="ml-16">
                          <div class="text-bold">{{ emission?.investorId.societe }}</div>
                        </div>
                        <img src="assets/icons/status-{{emission.status}}.png" alt="" class="c-em-status">
                      </div>
                      <!-- status -->
                      <!-- Type emission -->
                      <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="h4" fxFlex="100">Instit club</span>
                  </div> -->
                      <!-- Amount -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Amount -->
                          <span>
                            {{ emission?.amount }} Mdt
                          </span>
                        </div>
                      </div>
                      <!-- Period -->
                      <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="font-size-24 line-height-24">
                          <span class="font-size-16">sur</span>
                          {{ emission?.period }}
                          Jrs
                        </div>
                      </div>
                      <!-- Dispo / countdown -->
                      <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                          <div class="mb-8" fxLayout="column">
                            <div class="mb-4 text-bold">Instruments acceptés :</div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                          <div class="mb-8" fxLayout="column" style="height: 45px;">
                            <span class="secondary-text" fxLayout="row wrap">
                              <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                                *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                                [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                <span class="font-size-12">{{item}}</span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Investir -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mx-0 my-0">
                          <img src="assets/icons/auction.png" alt="">
                          <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                          offre
                        </p>
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <button mat-flat-button (click)="detailsOffre(emission)" class="c-btn-details">
                            <i class="material-icons">
                              info
                            </i>
                            <span class="c-btn-details-title">Détails</span>
                          </button>
                        </div>
                      </div>
                      <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                          <span class="text-bold text-truncate fuse-black-A700-fg ">
                            <img src="assets/icons/hourglass.png" alt="">
                            Expire dans:
                          </span>
                          <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                            <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s
                            </countdown>
                          </span>
                        </div>
                      </div>
                    </div>
                  </fuse-widget>
                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                  Aucun élément trouvé
                </div>

              </div>
            </mat-tab>
            <!-- Refused -->
            <mat-tab label="Refusé ({{ info?.refused }})" class="c-tabs-ended">
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                  [@animate]="{value:'*',params:{y:'100%'}}">

                  <fuse-widget style="cursor: pointer;" fxLayout="column">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                      <!-- Logo / Company -->
                      <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                        <!-- Logo -->
                        <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                        <!-- Company -->
                        <div class="ml-16">
                          <div class="text-bold">{{ emission?.investorId.societe }}</div>
                        </div>
                        <img src="assets/icons/status-{{emission.status}}.png" alt="" class="c-em-status">
                      </div>
                      <!-- status -->
                      <!-- Type emission -->
                      <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="h4" fxFlex="100">Instit club</span>
                  </div> -->
                      <!-- Amount -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Amount -->
                          <span>
                            {{ emission?.amount }} Mdt
                          </span>
                        </div>
                      </div>
                      <!-- Period -->
                      <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="font-size-24 line-height-24">
                          <span class="font-size-16">sur</span>
                          {{ emission?.period }}
                          Jrs
                        </div>
                      </div>
                      <!-- Dispo / countdown -->
                      <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                          <div class="mb-8" fxLayout="column">
                            <div class="mb-4 text-bold">Instruments acceptés :</div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                          <div class="mb-8" fxLayout="column" style="height: 45px;">
                            <span class="secondary-text" fxLayout="row wrap">
                              <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                                *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                                [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                <span class="font-size-12">{{item}}</span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Investir -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mx-0 my-0">
                          <img src="assets/icons/auction.png" alt="">
                          <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                          offre
                        </p>
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <button mat-flat-button (click)="detailsOffre(emission)" class="c-btn-details">
                            <i class="material-icons">
                              info
                            </i>
                            <span class="c-btn-details-title">Détails</span>
                          </button>
                        </div>
                      </div>
                      <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                          <span class="text-bold text-truncate fuse-black-A700-fg ">
                            <img src="assets/icons/hourglass.png" alt="">
                            Expire dans:
                          </span>
                          <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                            <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s
                            </countdown>
                          </span>
                        </div>
                      </div>
                    </div>
                  </fuse-widget>
                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                  Aucun élément trouvé
                </div>

              </div>
            </mat-tab>
            <!-- All -->
            <mat-tab *ngIf="isActive" label="Tout ({{ info?.totat }})" class="c-tabs-all" style="display: none;">
              <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33"
                  [@animate]="{value:'*',params:{y:'100%'}}">

                  <fuse-widget style="cursor: pointer;" fxLayout="column">
                    <!-- Front -->
                    <div class="fuse-widget-front">
                      <!-- Logo / Company -->
                      <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                        <!-- Logo -->
                        <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                        <!-- Company -->
                        <div class="ml-16">
                          <div class="text-bold">{{ emission?.investorId.societe }}</div>
                        </div>
                        <img src="assets/icons/status-{{emission.status}}.png" alt="" class="c-em-status">
                      </div>
                      <!-- status -->
                      <!-- Type emission -->
                      <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                    fxLayoutAlign="space-between center">
                    <span class="h4" fxFlex="100">Instit club</span>
                  </div> -->
                      <!-- Amount -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- Amount -->
                          <span>
                            {{ emission?.amount }} Mdt
                          </span>
                        </div>
                      </div>
                      <!-- Period -->
                      <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                        <div class="font-size-24 line-height-24">
                          <span class="font-size-16">sur</span>
                          {{ emission?.period }}
                          Jrs
                        </div>
                      </div>
                      <!-- Dispo / countdown -->
                      <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                          <div class="mb-8" fxLayout="column">
                            <div class="mb-4 text-bold">Instruments acceptés :</div>
                          </div>
                        </div>
                        <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                          <div class="mb-8" fxLayout="column" style="height: 45px;">
                            <span class="secondary-text" fxLayout="row wrap">
                              <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                                *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                                [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                                <span class="font-size-12">{{item}}</span>
                              </span>
                            </span>
                          </div>
                        </div>
                      </div>
                      <!-- Investir -->
                      <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                        <p class="mx-0 my-0">
                          <img src="assets/icons/auction.png" alt="">
                          <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                          offre
                        </p>
                        <div class="c-marketplace-rate font-size-40 line-height-40">
                          <!-- New offer -->
                          <button *ngIf="emission?.status == 0" mat-flat-button (click)="detailsOffre(emission)"
                            class="c-submit-ic c-button-cus">Soumettre une
                            offre</button>
                          <!-- Accepted or refused offer -->
                          <button *ngIf="emission?.status == 2 || emission?.status == 3" mat-flat-button
                            (click)="detailsOffre(emission)" class="c-btn-details">
                            <i class="material-icons">
                              info
                            </i>
                            <span class="c-btn-details-title">Détails</span>
                          </button>
                          <!-- Waiting offer -->
                          <button *ngIf="emission?.status == 1" mat-flat-button (click)="cancelOffer(emission)"
                            class="c-submit-ic c-button-cus">Annuler</button>
                        </div>
                      </div>
                      <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                        <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                          <span class="text-bold text-truncate fuse-black-A700-fg ">
                            <img src="assets/icons/hourglass.png" alt="">
                            Expire dans:
                          </span>
                          <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                            <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s
                            </countdown>
                          </span>
                        </div>
                      </div>
                    </div>
                  </fuse-widget>
                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                  Aucun élément trouvé
                </div>

              </div>
            </mat-tab>
          </mat-tab-group>
          <!-- paginator -->
          <mat-paginator [length]="total" [pageSize]="limitPage" [pageSizeOptions]="[5, 10, 25, 100]"
            (page)="pageEvent = getServerData($event)">
          </mat-paginator>
        </div>
      </div>
    </div>

  </div>
  <!-- / CONTENT -->

</div>