<div id="products" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <!-- <div class="top-bg accent"></div> -->
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div >

    <!-- HEADER -->
    <div class="header accent c-header-accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1">
          Instit Club / Mes offers
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <!-- <div class="search-wrapper mx-32 mx-md-0">
        <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
          <mat-icon>search</mat-icon>
          <input #filter placeholder="Search for a product">
        </div>
      </div> -->
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-icon-button (click)="redirectToAdd()" class="mat-elevation-z8 pink-A400-bg">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        <!-- <span>
                CREER UNE NOUVELLE ÉMISSION
              </span> -->
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <div id="academy-courses">
      <div class="content">

        <!-- / HEADER -->
        <div fxLayout="column" fxLayoutAlign="center">
          <!-- CONTENT CARD -->

          <div class="content-card">
            <div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

              <div class="course" *ngFor="let emission of datasourceInstit" fxFlex="100" fxFlex.gt-xs="50"
                fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                <fuse-widget style="cursor: pointer;" fxLayout="column">
                  <!-- Front -->
                  <div class="fuse-widget-front">
                    <!-- Logo / Company -->
                    <div class="py-8 border-bottom pl-16" fxLayout="row" fxLayoutAlign="start center">
                      <!-- Logo -->
                      <img class="w-40 h-40 border-radius-100" src="{{emission.investorId.logo}}" alt="">
                      <!-- Company -->
                      <div class="ml-16">
                        <div class="text-bold">{{ emission?.investorId.societe }}</div>
                      </div>
                    </div>
                    <!-- status -->
                    <!-- Type emission -->
                    <!-- <div class="pl-16 pr-8 h-28 c-marketplace-header teal-600" fxLayout="row"
                fxLayoutAlign="space-between center">
                <span class="h4" fxFlex="100">Instit club</span>
              </div> -->
                    <!-- Amount -->
                    <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                      <div class="c-marketplace-rate font-size-40 line-height-40">
                        <!-- Amount -->
                        <span>
                          {{ emission?.amount }} Mdt
                        </span>
                      </div>
                    </div>
                    <!-- Period -->
                    <div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
                      <div class="font-size-24 line-height-24">
                        <span class="font-size-16">sur</span>
                        {{ emission?.period }}
                        Jrs
                      </div>
                    </div>
                    <!-- Dispo / countdown -->
                    <div class="px-8 border-top" fxLayout="column" fxLayoutAlign="start start">
                      <div class="pt-16" fxLayout="column" fxLayoutAlign="start">
                        <div class="mb-8" fxLayout="column">
                          <div class="mb-4 text-bold">Instruments acceptés :</div>
                        </div>
                      </div>
                      <div fxLayout="column" fxLayoutAlign="start" fxFlexFill>
                        <div class="mb-8" fxLayout="column" style="height: 45px;">
                          <span class="secondary-text" fxLayout="row wrap">
                            <span class="c-inst-type mb-4 mr-4 ml-4" fxLayout="column" fxFlex="45"
                              *ngFor="let item of emission?.type" fxLayoutAlign="start center"
                              [ngClass]="{'item-cd': item == 'Certificat de Dépot', 'item-cat': item == 'Compte à terme', 'item-ps': item == 'Pension livrée', 'item-bt': item == 'Billet trésorerie'}">
                              <span class="font-size-12">{{item}}</span>
                            </span>
                          </span>
                        </div>
                      </div>
                    </div>
                    <!-- Investir -->
                    <div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
                      <p class="mx-0 my-0">
                        <img src="assets/icons/auction.png" alt="">
                        <span class="c-indicator-offer">{{ emission?.nbrInvestments }}</span> emetteurs ont deposé une
                        offre
                      </p>
                      <div class="c-marketplace-rate font-size-40 line-height-40">
                        <button mat-flat-button (click)="detailsOffre(emission)" class="c-submit-ic c-button-show">
                          <i class="material-icons">
                            search
                          </i>
                          <span>Voir</span>
                        </button>
                      </div>
                    </div>
                    <div class="px-16 pt-16 py-12 border-top" fxLayout="column" fxLayoutAlign="start start">
                      <div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
                        <span class="text-bold text-truncate fuse-black-A700-fg ">
                          <img src="assets/icons/hourglass.png" alt="">
                          Expire dans:
                        </span>
                        <span class="secondary-text ml-8 fuse-black-A700-fg c-text-countdown">
                          <countdown [config]="{leftTime: emission?.availableDate}">$!d!jrs $!h!h$!m!m$!s!s</countdown>
                        </span>
                      </div>
                    </div>
                  </div>
                </fuse-widget>
              </div>

              <div class="no-courses" *ngIf="dataSource?.length === 0">
                Aucun élément trouvé
              </div>

            </div>
            <mat-paginator [length]="total" [pageSize]="limitPage" [pageSizeOptions]="[5, 10, 25, 100]"
              (page)="pageEvent = getServerData($event)">
            </mat-paginator>
          </div>
        </div>
      </div>

    </div>


    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>