@import "src/@fuse/scss/fuse";

e-commerce-products {
  #products {
    .top-bg {
      @include media-breakpoint("lt-md") {
        height: 256px;
      }
    }

    > .center {
      > .header {
        .search-wrapper {
          width: 100%;
          max-width: 480px;
          border-radius: 28px;
          overflow: hidden;
          @include mat-elevation(1);

          @include media-breakpoint("xs") {
            width: 100%;
          }

          .search {
            width: 100%;
            height: 48px;
            line-height: 48px;
            padding: 0 18px;

            input {
              width: 100%;
              height: 48px;
              min-height: 48px;
              max-height: 48px;
              padding: 0 16px;
              border: none;
              outline: none;
            }
          }
        }

        @include media-breakpoint("lt-md") {
          padding: 8px 0;
          height: 192px !important;
          min-height: 192px !important;
          max-height: 192px !important;
        }
      }
    }
  }

  .products-table {
    flex: 1 1 auto;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    .mat-header-row {
      min-height: 64px;
    }

    .product {
      position: relative;
      cursor: pointer;
      height: 84px;
    }

    .mat-cell {
      min-width: 0;
      display: flex;
      align-items: center;
    }

    .mat-column-id {
      flex: 0 1 84px;
    }

    .mat-column-image {
      flex: 0 1 84px;

      .product-image {
        width: 52px;
        height: 52px;
        border: 1px solid rgba(0, 0, 0, 0.12);
      }
    }

    .mat-column-category {
      flex: 0 1 240px;
    }

    .mat-column-price {
      flex: 0 1 160px;
    }

    .mat-column-quantity {
      flex: 0 1 160px;
    }

    .mat-column-active {
      flex: 0 1 80px;
    }

    .quantity-indicator {
      display: inline-block;
      vertical-align: middle;
      width: 8px;
      height: 8px;
      border-radius: 4px;
      margin-right: 8px;

      & + span {
        display: inline-block;
        vertical-align: middle;
      }
    }

    .active-icon {
      border-radius: 50%;
    }
  }
}
#academy-courses {
  .header {
    position: relative;
    flex: 1 0 auto;
    height: 280px;
    max-height: 280px;
    text-align: center;
    overflow: hidden;

    @include media-breakpoint("xs") {
      height: 240px;
      padding: 16px;
    }

    .hero-text {
      .hero-icon {
        position: absolute;
        top: -64px;
        left: 0px;
        opacity: 0.04;
        font-size: 512px !important;
        width: 512px !important;
        height: 512px !important;
      }

      h1 {
        font-size: 40px;
        font-weight: 300;
        letter-spacing: 0.01em;
        text-align: center;
        margin-top: 0;
        margin-bottom: 16px;

        @include media-breakpoint("xs") {
          font-size: 24px;
        }
      }

      h3 {
        max-width: 480px;
        text-align: center;
        font-weight: 300;
        letter-spacing: 0.03em;
        margin: 0;

        @include media-breakpoint("xs") {
          font-size: 14px;
        }
      }
    }
  }
  .Certificat-de-dépôt-bg {
    background: mat-color($mat-blue, 500);
  }
  .Comptes-à-terme-bg {
    background: mat-color($mat-green, 500);
  }

  .Billets-de-trésorerie-bg {
    background: mat-color($mat-amber, 800);
  }
  .content {
    .category-selector {
      min-width: 320px;
    }

    .filters {
      width: 100%;
      max-width: 1040px;
      margin: 24px auto;
      padding: 0 20px;

      @include media-breakpoint("xs") {
        margin: 0 auto;
      }

      .course-search {
        width: 320px;

        @include media-breakpoint("gt-xs") {
          margin-right: 16px;
        }
      }
    }

    .courses {
      width: 100%;
      max-width: 1040px;
      margin: 0 auto;

      .no-courses {
        font-size: 24px;
        margin: 24px 0;
        text-align: center;
      }

      .course {
        padding: 5px;

        &:hover {
          .course-content {
            border: none;
            @include mat-elevation(12);
          }
        }

        .course-content {
          min-height: 240px;
          border-radius: 4px;
          overflow: hidden;
          transition: box-shadow 200ms ease-in-out;
          @include mat-elevation(1);

          .header {
            padding: 16px 24px;
            height: 64px !important;
            min-height: 64px !important;
            max-height: 64px !important;

            &.Certificat-de-dépôt-bg {
              background: mat-color($mat-blue, 500);
            }

            &.android-bg {
              background: mat-color($mat-green, 500);
            }

            &.firebase-bg {
              background: mat-color($mat-amber, 800);
            }

            &.cloud-bg {
              background: mat-color($mat-blue-grey, 500);
            }

            .category {
              text-transform: capitalize;
              text-align: left;
              font-weight: 600;
            }

            .length {
              .length-icon {
                margin-right: 8px;
              }

              .min {
                font-size: 16px;
              }
            }
          }

          .content {
            padding: 24px;

            .h1 {
              font-size: 16px;
              text-align: center;
            }

            .updated {
              font-size: 13px;
              font-weight: 600;
              margin-top: 4px;
            }
          }

          .footer {
            padding: 16px;
            height: 48px !important;
            min-height: 48px !important;
            max-height: 48px !important;
            box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
          }
        }
      }
    }
  }
}

#dashboard-project {
  > .sidebar {
    width: 280px;
    min-width: 280px;
    max-width: 280px;
  }

  > .center {
    > .header {
      height: 160px;
      min-height: 160px;
      max-height: 160px;

      .selected-project {
        background: rgba(0, 0, 0, 0.12);
        color: #ffffff;
        padding: 8px 16px;
        height: 40px;
        line-height: 24px;
        font-size: 16px;
        border-radius: 8px 0 0 0;
      }

      .project-selector {
        margin-left: 1px;
        background: rgba(0, 0, 0, 0.12);
        border-radius: 0 8px 0 0;

        mat-icon {
          color: #ffffff;
        }
      }
    }

    > .content {
      flex: 1;

      mat-tab-group {
        height: 100%;

        .mat-tab-body-wrapper {
          flex-grow: 1;
        }
      }

      .mat-tab-label-container {
        padding: 0 24px;
      }
    }
  }
  .widget {
    max-width: 20%;
  }
  .widget {
    &.widget5 {
      .gridline-path.gridline-path-horizontal {
        display: none;
      }
    }
  }
}
.fuse-card-select {
  cursor: pointer;
}
//CSS added 25042019 Mzoughi Ahmed
//item marketplace header
.c-marketplace-header {
  margin: 20px;
  color: #fff;
  text-align: center;
}
.c-marketplace-rate {
  color: #00c153;
}
.item-cd {
  background: #e96d00 !important;
}
.item-cat {
  background: #00c153 !important;
}
.item-ps {
  background: #2ea2e7 !important;
}
.item-bt {
  background: #c40000 !important;
}
.c-inst-type {
  color: #fff !important;
  padding: 0 7px;
  border-radius: 4px;
  font-weight: bold;
}
.mat-paginator {
  background: transparent !important;
}
.mat-button-toggle-group {
  background: #fff;
}
body.theme-default .c-btn-toggle-group .mat-button-toggle-checked {
  background: #039be5;
  color: #fff;
}

.c-tri-selct.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0;
  padding: 0;
}
.c-em-status {
  max-width: 24px;
  width: auto;
  margin-left: auto;
  margin-right: 13px;
}
.c-text-countdown {
  font-size: 17px;
}
.c-submit-ic {
  background: #2ecc71 !important;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff !important;
}
.c-indicator-offer {
  font-size: 21px;
  margin-left: 7px;
}
.c-button-show{border-radius: 0;line-height: 1;padding: 6px 15px;text-transform: none!important;}
.c-button-show .material-icons{color: #fff;font-size: 20px;}
.c-header-accent{padding: 28px 15px;}