<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="55">

        <!-- General information -->
        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Informations personnelles</div>
                <div class="more secondary-text" (click)="eventShowForm()">
                    <mat-icon class="s-16 ml-4">edit</mat-icon>
                </div>
            </header>

            <div class="content">
                <!-- User Information -->
                <div fxLayout="row" *ngIf="!showFormUser">
                    <div fxLayout="column" fxFlex="100">
                        <!-- Email -->
                        <div class="info-line">
                            <div class="title">Adresse e-mail</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.email }}</span>
                                <mat-icon class="s-16 ml-4">mail</mat-icon>
                            </div>
                        </div>
                        <!-- Role -->
                        <div class="info-line">
                            <div class="title">Rôle</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.role }}</span>
                                <mat-icon class="s-16 ml-4">people</mat-icon>
                            </div>
                        </div>
                        <!-- Category -->
                        <div class="info-line">
                            <div class="title">Catégorie</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.categorie }}</span>
                                <mat-icon class="s-16 ml-4">category</mat-icon>
                            </div>
                        </div>
                        <!-- Company -->
                        <div class="info-line">
                            <div class="title">Société</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.societe }}</span>
                                <mat-icon class="s-16 ml-4">business</mat-icon>
                            </div>
                        </div>
                        <!-- Phone -->
                        <div class="info-line">
                            <div class="title">Téléphone</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.tel }}</span>
                                <mat-icon class="s-16 ml-4">phone</mat-icon>
                            </div>
                        </div>
                        <!-- Mobile -->
                        <div class="info-line">
                            <div class="title">Mobile</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.mobile }}</span>
                                <mat-icon class="s-16 ml-4">phone</mat-icon>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" *ngIf="showFormUser">
                    <!-- Change Password -->
                    <div class="info-line">
                        <div class="title">Changez vos informations</div>
                    </div>
                    <!-- Form -->
                    <form fxFlex="100" [formGroup]="formInformationUser" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationUser)">
                        <!-- Lastname / Firstname -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Firstname -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Prénom</mat-label>
                                <input matInput formControlName="firstname" maxlength="30">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>
                                    Prénom est obligatoire
                                </mat-error>
                            </mat-form-field>
                            <!-- Lastname -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Nom</mat-label>
                                <input matInput formControlName="lastname" maxlength="30">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error>
                                    Nom est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Tel / Mobile -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <!-- Tel -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <span matPrefix>+216 &nbsp;</span>
                                <input type="tel" matInput formControlName="tel" placeholder="Téléphone" maxlength="8">
                                <mat-icon matSuffix>phone</mat-icon>
                                <mat-error *ngIf="formInformationUser.get('tel').hasError('required')">
                                    Téléphone est obligatoire
                                </mat-error>
                                <mat-error *ngIf="formInformationUser.controls.tel.errors?.minlength">
                                    Téléphone doit comporter 8 chiffres
                                </mat-error>

                            </mat-form-field>
                            <!-- Mobile -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <span matPrefix class="">+216 &nbsp;</span>
                                <input type="tel" matInput formControlName="mobile" placeholder="Mobile" maxlength="8">
                                <mat-icon matSuffix>phone</mat-icon>

                                <mat-error *ngIf="formInformationUser.get('mobile').hasError('required')">
                                    Mobile est obligatoire
                                </mat-error>
                                <mat-error *ngIf="formInformationUser.controls.mobile.errors?.minlength">
                                    Mobile doit comporter 8 chiffres
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Company -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <!-- Company -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Société</mat-label>
                                <input matInput formControlName="societe" maxlength="30">
                                <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                                <mat-error>
                                    Société est obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Confirm -->
                        <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                            aria-label="RESET MY PASSWORD" [disabled]="formInformationUser.invalid">
                            CONFIRMER
                        </button>
                    </form>

                </div>
            </div>

        </div>
        <!-- Professional information -->
        <div class="profile-box info-box general" fxLayout="column">
            <!-- Title -->
            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Informations professionnelles</div>
                <div class="more secondary-text" (click)="showFormProUser = !showFormProUser">
                    <mat-icon class="s-16 ml-4">edit</mat-icon>
                </div>
            </header>
            <!-- Content -->
            <div class="content">
                <div fxLayout="row" *ngIf="!showFormProUser">
                    <div fxLayout="column" fxFlex="100">
                        <!-- Agence de notation -->
                        <div class="info-line">
                            <div class="title">Agence de notation</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.agencenotation }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.agencenotation == '' || _serviceProfile.user?.agencenotation == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- ratinglong -->
                        <div class="info-line">
                            <div class="title">Rating Long</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.ratinglong }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.ratinglong == '' || _serviceProfile.user?.ratinglong == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- ratingcourt -->
                        <div class="info-line">
                            <div class="title">Rating Court</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.ratingcourt }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.ratingcourt == '' || _serviceProfile.user?.ratingcourt == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- perspective -->
                        <div class="info-line">
                            <div class="title">Perspective</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.perspective }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.perspective == '' || _serviceProfile.user?.perspective == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- legal form -->
                        <div class="info-line">
                            <div class="title">Forme judrique</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.infoJuridicForm }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.infoJuridicForm == '' || _serviceProfile.user?.infoJuridicForm == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!--mf -->
                        <div class="info-line">
                            <div class="title">MF (Matricule fiscal)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.mf }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.mf == '' || _serviceProfile.user?.mf == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!--lei -->
                        <div class="info-line">
                            <div class="title">LEI (Identifiant d'Entité Juridique)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.lei }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.lei == '' || _serviceProfile.user?.lei == undefined">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- secteur-->
                        <div class="info-line">
                            <div class="title">Secteur d'activité</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.secteur }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.secteur == '' || _serviceProfile.user?.secteur == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- Adresse -->
                        <div class="info-line">
                            <div class="title">Adresse</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.adresse }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.adresse == '' || _serviceProfile.user?.adresse == undefined">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- Capital social -->
                        <div class="info-line">
                            <div class="title">Capital social</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.sharecapital }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.sharecapital == '' || _serviceProfile.user?.sharecapital == undefined">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- Website -->
                        <div class="info-line">
                            <div class="title">Site web</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.website }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.website == '' || _serviceProfile.user?.website == undefined">
                                    <small>
                                        <em>
                                            Veuillez compléter votre
                                            profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" *ngIf="showFormProUser">
                    <div class="info-line" fxFlex="100">
                        <div class="title">Changez vos informations professionnelles</div>
                    </div>
                    <!-- Form -->
                    <form fxFlex="100" [formGroup]="formInformationProUser" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationProUser)">
                        <!-- Rating agency / FICH & S&P -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Rating agency -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Agence de notation</mat-label>
                                <mat-select formControlName="agencenotation"
                                    (selectionChange)="SelectAgenceDeNotation($event.value)" required>
                                    <mat-option *ngFor="let eltP of ListRatingForm" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>L'agence de notation est obligatoire</mat-error>
                            </mat-form-field>
                            <!-- FICH & S&P -->
                            <mat-form-field fxFlex="50" class="pl-4" *ngIf="VerifAgenceDeNotationLongTerme">
                                <mat-label>Rating à long terme (Monnaie locale)</mat-label>
                                <mat-select formControlName="ratinglong" required>
                                    <mat-option *ngFor="let eltP of RatingFormLongFitch_SP" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Le rating à court terme est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Short term rating / Moody's -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Short term rating -->
                            <mat-form-field fxFlex="50" class="pr-4" *ngIf="VerifAgenceDeNotationCourtTerme">
                                <mat-label>Rating à court terme (Monnaie locale)</mat-label>
                                <mat-select formControlName="ratingcourt" required>
                                    <mat-option *ngFor="let eltP of RatingFormCourtFitch_SP" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Le rating à court terme est obligatoire</mat-error>
                            </mat-form-field>
                            <!-- Moody's -->
                            <mat-form-field *ngIf="VerifAgenceDeNotationLongTermeMooday" fxFlex="50" class="pl-4">
                                <mat-label>Rating à long terme (Monnaie locale)</mat-label>
                                <mat-select formControlName="ratinglong" required>
                                    <mat-option *ngFor="let eltP of RatingFormLongMoody" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Le rating à court terme est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Short term rating / Perspective -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Short term rating -->
                            <mat-form-field fxFlex="50" class="pr-4" *ngIf="VerifAgenceDeNotationCourtTermeMooday">
                                <mat-label>Rating à court terme (Monnaie locale)</mat-label>
                                <mat-select formControlName="ratingcourt" required>
                                    <mat-option *ngFor="let eltP of RatingFormCourtMoody" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Le rating à court terme est obligatoire</mat-error>
                            </mat-form-field>
                            <!-- Perspective -->
                            <mat-form-field fxFlex="50" class="pl-4">
                                <mat-label>Perspectives</mat-label>
                                <mat-select formControlName="perspective" required>
                                    <mat-option *ngFor="let eltP of RatingFormPerspective" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <!-- Legal form / MF -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Legal form -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Forme juridique</mat-label>
                                <input matInput formControlName="infoJuridicForm" maxlength="50">
                                <mat-error>
                                    Forme juridique obligatoire
                                </mat-error>
                            </mat-form-field>
                            <!-- MF -->
                            <mat-form-field fxFlex="50" class="pl-4">
                                <mat-label>MF</mat-label>
                                <input matInput formControlName="mf" mask="000000A">
                                <mat-error>
                                    MF obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <!-- LEI / Secteur d'activité -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- LEI -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>LEI</mat-label>
                                <input matInput formControlName="lei" mask="AAAA AA AAAAAAAAAAAA 00">
                                <mat-error>
                                    LEI obligatoire
                                </mat-error>
                            </mat-form-field>
                            <!-- Secteur d'activité -->
                            <mat-form-field fxFlex="50" class="pl-4">
                                <mat-label>Secteur</mat-label>
                                <mat-select formControlName="secteur" required>
                                    <mat-option *ngFor="let eltP of ListSecteur" [value]="eltP.value">
                                        {{eltP.label}}
                                    </mat-option>
                                </mat-select>
                                <mat-error>Le secteur est obligatoire</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Adresse / website -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Adresse -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Adresse</mat-label>
                                <input matInput formControlName="adresse" maxlength="20">
                                <mat-error>
                                    Adresse obligatoire
                                </mat-error>
                            </mat-form-field>
                            <!-- Adresse -->
                            <mat-form-field fxFlex="50" class="pl-4">
                                <mat-label>Site web</mat-label>
                                <input matInput formControlName="website" maxlength="20">
                                <mat-error *ngIf="formInformationProUser.get('website').hasError('required')">Site web
                                    obligatoire</mat-error>
                                <mat-error *ngIf="formInformationProUser.get('website').hasError('pattern')">Format est
                                    incorrect</mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Share capital -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- Share capital -->
                            <mat-form-field fxFlex="50" class="pr-4">
                                <mat-label>Capital social</mat-label>
                                <input matInput formControlName="sharecapital" maxlength="50">
                                <mat-error>
                                    Capital social obligatoire
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Confirm -->
                        <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                            [disabled]="formInformationProUser.invalid">
                            CONFIRMER
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="45">
        <!-- Change password -->
        <div class="profile-box info-box general" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Sécurité et connexion</div>
                <div class="more secondary-text">
                    <mat-icon class="s-16 ml-4">vpn_key</mat-icon>
                </div>
            </header>

            <div class="content" fxLayout="column wrap">
                <!-- Change Password -->
                <div class="info-line">
                    <div class="title">Changer le mot de passe</div>
                </div>
                <!-- Form -->
                <form name="formChangePassword" [formGroup]="formChangePassword"
                    (ngSubmit)="eventChangePassword(formChangePassword)" novalidate fxLayout="column"
                    fxLayoutAlign="start" fxFlex="1 0 auto">
                    <!-- Password -->
                    <mat-form-field fxFlex="100" appearance="outline" class="spacing-bottom">
                        <mat-label>Mot de passe</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <!-- Required -->
                        <mat-error *ngIf="formChangePassword.get('password').hasError('required')">
                            Mot de passe est obligatoire
                        </mat-error>
                        <!-- Pattern -->
                        <mat-error *ngIf="formChangePassword.controls.password.errors?.pattern">
                            Utilisez au moins 5 caractères avec des lettres majuscules, minuscules et des
                            chiffres
                        </mat-error>
                        <!-- MinLength -->
                        <mat-error
                            *ngIf="!formChangePassword.controls.password.errors?.pattern && !formChangePassword.get('password').hasError('required') && formChangePassword.controls.password.errors?.minlength">
                            Mot de passe doit comporter 5 chiffres
                        </mat-error>
                    </mat-form-field>
                    <!-- Confirm Password -->
                    <mat-form-field fxFlex="100" appearance="outline">
                        <mat-label>Confirmer le mot de passe</mat-label>
                        <input matInput type="password" formControlName="passwordConfirm">
                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                        <mat-error *ngIf="formChangePassword.get('passwordConfirm').hasError('required')">
                            Confirmation mot de passe est obligatoire
                        </mat-error>
                        <mat-error *ngIf="!formChangePassword.get('passwordConfirm').hasError('required') &&
                            formChangePassword.get('passwordConfirm').hasError('passwordsNotMatching')">
                            les mots de passe doivent correspondre
                        </mat-error>
                    </mat-form-field>
                    <!-- Confirm -->
                    <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                        aria-label="RESET MY PASSWORD" [disabled]="formChangePassword.invalid">
                        CONFIRMER
                    </button>
                </form>
            </div>

        </div>
        <!-- OutStanding -->
        <div class="profile-box info-box general" fxLayout="column" *ngIf="isbank">
            <!-- Title -->
            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Mise à jour des encours</div>
                <div class="more secondary-text" (click)="showFormOutStadingUser = !showFormOutStadingUser">
                    <mat-icon class="s-16 ml-4">edit</mat-icon>
                </div>
            </header>
            <!-- Content -->
            <div class="content">
                <div fxLayout="row" *ngIf="!showFormOutStadingUser">
                    <div fxLayout="column" fxFlex="100">
                        <!-- outstanding EO -->
                        <div class="info-line">
                            <div class="title">Encours obligataire</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingEO }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingEO == '' || _serviceProfile.user?.outstandingAmounts.outstandingEO == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding BT -->
                        <div class="info-line">
                            <div class="title">Encours billets de trésorerie</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingBT }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingBT == '' || _serviceProfile.user?.outstandingAmounts.outstandingBT == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding CT -->
                        <div class="info-line">
                            <div class="title">Encours comptes à terme</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingCT }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingCT == '' || _serviceProfile.user?.outstandingAmounts.outstandingCT == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding CD -->
                        <div class="info-line">
                            <div class="title">Encours certificat de dépôt</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingCD }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingCD == '' || _serviceProfile.user?.outstandingAmounts.outstandingCD == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" *ngIf="showFormOutStadingUser">
                    <div class="info-line" fxFlex="100">
                        <div class="title">Mise à jour des encours</div>
                    </div>
                    <!-- Form -->
                    <form fxFlex="100" [formGroup]="formOutStanding" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" (ngSubmit)="eventOutStandingProfil(formOutStanding)">
                        <!-- outstanding EO -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding EO -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours obligataire</mat-label>
                                <input matInput formControlName="outstandingEO" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingEO').hasError('required')">
                                    Encours obligataire est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.min">Valeur minimum
                                    d'encours obligataire est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding BT -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding BT -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours billets de trésorerie</mat-label>
                                <input matInput formControlName="outstandingBT" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingBT').hasError('required')">
                                    Encours billets de trésorerie est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.min">Valeur minimum
                                    encours billets de trésorerie est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding CT -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding CT -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours comptes à terme</mat-label>
                                <input matInput formControlName="outstandingCT" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingCT').hasError('required')">
                                    Encours comptes à terme est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.min">
                                    Valeur minimum encours comptes à terme est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding CD -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding CD -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours certificat de dépôt</mat-label>
                                <input matInput formControlName="outstandingCD" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingCD').hasError('required')">
                                    Encours certificat de dépôt est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.min">
                                    Valeur minimum encours certificat de dépôt est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Confirm -->
                        <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                            [disabled]="formOutStanding.invalid">
                            CONFIRMER
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>