<!-- Content -->
<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/contact'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="m-0">Mes contacts</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>Ajout contact</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

          <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
            [formGroup]="contactForm" fxFlex="100" (ngSubmit)="eventContactAdd(contactForm)">
            <!-- Lastname / Firstname -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Lastname -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastname" maxlength="30">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                  Nom est obligatoire
                </mat-error>
              </mat-form-field>
              <!-- Firstname -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname" maxlength="30">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                  Prénom est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Email / Tel -->
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Email -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Adresse e-mail</mat-label>
                <input matInput formControlName="email" maxlength="60"
                  pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$">
                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                <!-- Field Required -->
                <mat-error *ngIf="contactForm.get('email').hasError('required')">
                  Adresse e-mail est obligatoire
                </mat-error>
                <!-- Field Pattern -->
                <mat-error *ngIf="contactForm.get('email').hasError('pattern')">
                  S'il vous plaît, mettez une adresse e-mail valide
                </mat-error>
              </mat-form-field>
              <!-- Tel -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Téléphone</mat-label>
                <input type="text" matInput formControlName="tel" placeholder="Téléphone (+216)" maxlength="8"
                  pattern="[0-9]*">
                <mat-icon matSuffix>phone</mat-icon>
                <!-- Field Required -->
                <mat-error *ngIf="contactForm.get('tel').hasError('required')">
                  Téléphone est obligatoire
                </mat-error>
                <!-- Field Min Length -->
                <mat-error *ngIf="contactForm.controls.tel.errors?.minlength">
                  Téléphone doit comporter 8 chiffres
                </mat-error>
                <!-- Field Pattern -->
                <mat-error
                  *ngIf="!contactForm.controls.tel.errors?.minlength && contactForm.controls.tel.errors?.pattern">
                  Téléphone doit être numérique
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Mobile / Category -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

              <!-- Mobile -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Mobile</mat-label>
                <input type="text" matInput formControlName="mobile" placeholder="Mobile (+216)" maxlength="8"
                  pattern="[0-9]*">
                <mat-icon matSuffix>stay_current_portrait</mat-icon>
                <!-- Field Required -->
                <mat-error *ngIf="contactForm.get('mobile').hasError('required')">
                  Mobile est obligatoire
                </mat-error>
                <!-- Min length Field -->
                <mat-error *ngIf="contactForm.controls.mobile.errors?.minlength">
                  Mobile doit comporter 8 chiffres
                </mat-error>
                <!-- Pattern Field -->
                <mat-error
                  *ngIf="!contactForm.controls.mobile.errors?.minlength && contactForm.controls.mobile.errors?.pattern">
                  Mobile doit être numérique
                </mat-error>
              </mat-form-field>
              <!-- Category -->
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                <mat-label>Catégorie</mat-label>
                <mat-select formControlName="categorie">
                  <mat-option *ngFor="let elt of listCategories" [value]="elt.value">
                    {{elt.label}}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">pie_chart</mat-icon>
              </mat-form-field>
            </div>
            <!-- Company / Sector -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Company -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Société</mat-label>
                <input matInput formControlName="societe" maxlength="30">
                <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                <mat-error>
                  Société est obligatoire
                </mat-error>
              </mat-form-field>
              <!-- Sector -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Secteur</mat-label>
                <mat-select formControlName="sector">
                  <mat-option *ngFor="let elt1 of listSecteur" [value]="elt1.value">
                    {{elt1.label}}
                  </mat-option>
                </mat-select>
                <img src="assets/icons/factory.png" alt="">
              </mat-form-field>
            </div>
            <!-- Fonction / Note-->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Fonction -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Fonction</mat-label>
                <input matInput formControlName="fonction" maxlength="30">
                <mat-icon matSuffix class="secondary-text">people_outline</mat-icon>
              </mat-form-field>
              <!-- Note -->
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                <mat-label>Note</mat-label>
                <input matInput formControlName="note" maxlength="30">
                <mat-icon matSuffix class="secondary-text">speaker_notes</mat-icon>
              </mat-form-field>
            </div>
            <!-- Tags -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Tags -->
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                <!-- Label Tags -->
                <mat-label>Tags</mat-label>
                <!-- Chip list tags -->
                <mat-chip-list #chipList>
                  <mat-chip *ngFor="let tag of contactForm.controls.tags.value" selectable="true" removable="true"
                    (removed)="remove(tag)">
                    {{tag}}
                    <mat-icon matChipRemove>cancel</mat-icon>
                  </mat-chip>
                  <input placeholder="Nouvelle tag..." [matChipInputFor]="chipList"
                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" matChipInputAddOnBlur="true"
                    (matChipInputTokenEnd)="add($event)">
                </mat-chip-list>
              </mat-form-field>
            </div>
            <!-- Button -->
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 0 auto" class="mt-36">
              <!-- Confirm -->
              <button fxFlex="30" mat-raised-button class="submit-button" color="accent"
                [disabled]="contactForm.invalid">
                Confirmer
              </button>
            </div>
          </form>
        </div>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>