<h2 mat-dialog-title>Contact</h2>
<div fxLayout="row wrap">
  <!-- Form -->
  <form fxFlex="100" [formGroup]="formContact" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    (ngSubmit)="eventSendMessageContact(formContact)">
    <!-- outstanding EO -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
      <!-- outstanding EO -->
      <mat-form-field fxFlex="100" class="mb-8">
        
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Laissez votre message" formControlName="message" minlength="4"></textarea>
        <!-- Field Required -->
        <mat-error *ngIf="formContact.get('message').hasError('required')">Message est obligatoire</mat-error>
        <mat-error *ngIf="formContact.get('message').errors?.minlength">le message doit être de 4 caractères minimum</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <!-- Confirm -->
      <button fxFlex="50" mat-raised-button class="submit-button mr-8" color="accent"
        [disabled]="formContact.invalid">
        Envoyer
      </button>
      <!-- Confirm -->
      <button fxFlex="50" type="button" mat-button mat-dialog-close mat-raised-button class="submit-button ml-8">
        Annuler
      </button>
    </div>

  </form>

</div>