<!-- Title -->
<h2 mat-dialog-title>Les émetteurs bloqués</h2>

<!-- Content Dialog -->
<mat-dialog-content class="mat-typography">
  <mat-table class="products-table" [dataSource]="datasource" fusePerfectScrollbar>
    
    <!-- lastname -->
    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user?.lastname}} {{user?.firstname}} </mat-cell>
    </ng-container>

    <!-- role -->
    <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Rôle</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user?.role}}</mat-cell>
    </ng-container>

    <!-- categorie -->
    <ng-container matColumnDef="categorie">
      <mat-header-cell *matHeaderCellDef> Categorie</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user?.categorie}}</mat-cell>
    </ng-container>

    <!-- email -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef> Adresse e-mail </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user?.email}} </mat-cell>
    </ng-container>
    
    <!-- societe -->
    <ng-container matColumnDef="societe">
      <mat-header-cell *matHeaderCellDef> Société</mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user?.societe}} </mat-cell>
    </ng-container>
    
    <!-- mobile -->
    <ng-container matColumnDef="mobile">
      <mat-header-cell *matHeaderCellDef> Mobile</mat-header-cell>
      <mat-cell *matCellDef="let user" fxLayout="column" fxLayoutAlign="start"> 
        <span fxFlex="100"><b>Mobile:</b> {{user?.mobile}}</span>
        <span fxFlex="100"><b>Tel:</b> {{user?.tel}}</span>
         </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</mat-dialog-content>
<!-- Actions -->
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>
</mat-dialog-actions>