<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">
    <!-- Register intro -->
    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/Logos/logo_transparent.png">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
            Bienvenue à Yanvestee !
        </div>

    </div>
    <!-- Register Form -->
    <div id="register-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}">

        <div id="register-form">
            <!-- Logo -->
            <div class="logo" fxHide.gt-xs>
                <img src="assets/Logos/logo_transparent.png">
            </div>
            <!-- Title -->
            <div class="title c-spacing-b">
                <mat-icon *ngIf="!SRisActive" matSuffix (click)="SRisActive = true"
                    class="secondary-text c-return-icon c-return-icon-center">
                    keyboard_arrow_left
                </mat-icon>
                Créer un compte <span class="mat-caption text-boxed"
                    *ngIf="roleUser.value.role != ''">{{ currentRole }}</span>
            </div>
            <!-- Content Register -->
            <div class="content-register">
                <!-- Role User -->
                <div fxLayout="column" fxLayoutAlign="center" [hidden]="!SRisActive">

                    <div fxFlex="100" class="my-28">
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">

                            <div class="c-type-user" fxFlex="100" fxFlexFill>
                                <!-- Investor / Emetteur -->
                                <div fxLayout="row" fxLayoutAlign="center center">
                                    <!-- Investor -->
                                    <div fxFlex="40" class="pr-12">
                                        <!-- Investor -->
                                        <label>
                                            <input type="radio" name="role" value="Investisseur"
                                                (change)="changeRole($event, 'Investisseur', 'Investisseur')">
                                            <div class="c-type-user-content">
                                                <img src="assets/icons/investor.png" alt="">
                                                <span class="c-type-user-name font-weight-900">Je suis un
                                                    investisseur</span>
                                                <img class="c-user-type-checked" src="assets/icons/success.png" alt="">
                                            </div>

                                        </label>
                                    </div>
                                    <!-- Emetteur -->
                                    <div fxFlex="40" class="pr-12">
                                        <!-- Emetteur -->
                                        <label>
                                            <input type="radio" name="role" value="Emetteur"
                                                (change)="changeRole($event, 'Emetteur','Émetteur')">
                                            <div class="c-type-user-content">
                                                <img src="assets/icons/emetteur.png" alt="">
                                                <span class="c-type-user-name font-weight-900">Je suis un
                                                    émetteur</span>
                                                <img class="c-user-type-checked" src="assets/icons/success.png" alt="">
                                            </div>
                                        </label>
                                    </div>
                                </div>
                                <!-- Btn Next -->
                                <div fxLayout="row" fxLayoutAlign="center center" class="c-spacing-t">
                                    <button mat-raised-button color="accent"
                                        (click)="SRisActive = false">Suivant</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Additional Information User-->
                <div class="vertical-stepper-wrapper c-spacing-b" *ngIf="!SRisActive">
                    <mat-vertical-stepper class="mat-elevation-z4" [linear]="true">
                        <!-- Step 1 role user -->
                        <mat-step [stepControl]="roleUser">
                            <form fxLayout="column" [formGroup]="roleUser" fxLayout="column" fxLayoutAlign="start"
                                fxFlex="1 0 auto">
                                <ng-template matStepLabel>Remplir vôtre rôle</ng-template>
                                <!-- Begin Category -->
                                <span fxFlex="100" class="mat-subheading-2 c-spacing-t">êtes-vous ?</span>

                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <!-- If Role Is  Transmitter -->
                                    <mat-radio-group *ngIf="roleUser.value.role == 'Emetteur'" fxFlex="100"
                                        class="c-group-radio" formControlName="categorie">
                                        <mat-radio-button *ngFor="let categorieT of listCategoriesBytransmitter"
                                            value="{{ categorieT.value }}">
                                            {{ categorieT.label }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                    <!-- If Role Is  investor -->
                                    <mat-radio-group *ngIf="roleUser.value.role == 'Investisseur'" fxFlex="100"
                                        class="c-group-radio" formControlName="categorie">
                                        <mat-radio-button *ngFor="let categorieI of listCategoriesByinvestor"
                                            value="{{ categorieI.value }}">
                                            {{ categorieI.label }}
                                        </mat-radio-button>
                                    </mat-radio-group>
                                </div>
                                <!-- End Category -->

                                <!-- Next -->
                                <div fxLayout="row" fxLayoutAlign="center center" class="c-spacing-t">
                                    <button mat-raised-button matStepperNext type="button" color="accent">
                                        Suivant
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                        <!-- Step 2 information user -->
                        <mat-step [stepControl]="informationUser">
                            <form fxLayout="column" [formGroup]="informationUser" fxLayout="column"
                                fxLayoutAlign="start" fxFlex="1 0 auto">

                                <ng-template matStepLabel>Remplir vos informations:</ng-template>

                                <!-- Lastname / Firstname -->
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                                    <!-- Firstname -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Prénom</mat-label>
                                        <input matInput formControlName="firstname" maxlength="30">
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>
                                            Prénom est obligatoire
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Lastname -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Nom</mat-label>
                                        <input matInput formControlName="lastname" maxlength="30">
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>
                                            Nom est obligatoire
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Email / Company -->
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <!-- Email -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Adresse e-mail</mat-label>
                                        <input matInput formControlName="email" maxlength="60"
                                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$">
                                        <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                        <!-- Field Required -->
                                        <mat-error *ngIf="informationUser.get('email').hasError('required')">
                                            Adresse e-mail est obligatoire
                                        </mat-error>
                                        <!-- Field Pattern -->
                                        <mat-error *ngIf="informationUser.get('email').hasError('pattern')">
                                            S'il vous plaît, mettez une adresse e-mail valide
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Company -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Société</mat-label>
                                        <input matInput formControlName="societe" maxlength="30">
                                        <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                                        <mat-error>
                                            Société est obligatoire
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Tel / Mobile -->
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <!-- Tel -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <span matPrefix>+216 &nbsp;</span>
                                        <input type="text" matInput formControlName="tel" placeholder="Téléphone"
                                            maxlength="8" pattern="[0-9]*">
                                        <mat-icon matSuffix>phone</mat-icon>
                                        <!-- Field Required -->
                                        <mat-error *ngIf="informationUser.get('tel').hasError('required')">
                                            Téléphone est obligatoire
                                        </mat-error>
                                        <!-- Field Min Length -->
                                        <mat-error *ngIf="informationUser.controls.tel.errors?.minlength">
                                            Téléphone doit comporter 8 chiffres
                                        </mat-error>
                                        <!-- Field Pattern -->
                                        <mat-error
                                            *ngIf="!informationUser.controls.tel.errors?.minlength && informationUser.controls.tel.errors?.pattern">
                                            Téléphone doit être numérique
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Mobile -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <span matPrefix class="">+216 &nbsp;</span>
                                        <input type="text" matInput formControlName="mobile" placeholder="Mobile"
                                            maxlength="8" pattern="[0-9]*">
                                        <mat-icon matSuffix>stay_current_portrait</mat-icon>

                                        <mat-error *ngIf="informationUser.get('mobile').hasError('required')">
                                            Mobile est obligatoire
                                        </mat-error>
                                        <mat-error *ngIf="informationUser.controls.mobile.errors?.minlength">
                                            Mobile doit comporter 8 chiffres
                                        </mat-error>
                                        <!-- Field Pattern -->
                                        <mat-error
                                            *ngIf="!informationUser.controls.mobile.errors?.minlength && informationUser.controls.mobile.errors?.pattern">
                                            Mobile doit être numérique
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Fonction  -->
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <!-- Fonction -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Fonction</mat-label>
                                        <input matInput formControlName="fonction" maxlength="30">
                                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                        <mat-error>
                                            Fonction est obligatoire
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <!-- Previous / Next -->
                                <div fxLayout="row" fxLayoutAlign="center center" class="c-spacing-t">
                                    <!-- Previous -->
                                    <button class="mr-8" mat-raised-button matStepperPrevious type="button"
                                        color="accent">
                                        Précédent
                                    </button>
                                    <!-- Next -->
                                    <button mat-raised-button matStepperNext type="button" color="accent">
                                        Suivant
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                        <!-- Step 3 password -->
                        <mat-step [stepControl]="passwordUser">
                            <form fxLayout="column" [formGroup]="passwordUser" fxLayout="column" fxLayoutAlign="start"
                                fxFlex="1 0 auto">
                                <ng-template matStepLabel>Saisir votre mot de passe</ng-template>
                                <!-- Password / Confirm password -->
                                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                                    <!-- Password -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Mot de passe</mat-label>
                                        <input matInput type="password" formControlName="password">
                                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                        <!-- Required -->
                                        <mat-error *ngIf="passwordUser.get('password').hasError('required')">
                                            Mot de passe est obligatoire
                                        </mat-error>
                                        <!-- Pattern -->
                                        <mat-error *ngIf="passwordUser.controls.password.errors?.pattern">
                                            Utilisez au moins 5 caractères avec des lettres majuscules, minuscules et
                                            des
                                            chiffres
                                        </mat-error>
                                        <!-- MinLength -->
                                        <mat-error
                                            *ngIf="!passwordUser.controls.password.errors?.pattern && !passwordUser.get('password').hasError('required') && passwordUser.controls.password.errors?.minlength">
                                            Mot de passe doit comporter 5 chiffres
                                        </mat-error>
                                    </mat-form-field>
                                    <!-- Confirm password -->
                                    <mat-form-field fxFlex="50" class="pr-4">
                                        <mat-label>Confirmer le mot de passe</mat-label>
                                        <input matInput type="password" formControlName="passwordConfirm">
                                        <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                        <mat-error *ngIf="passwordUser.get('passwordConfirm').hasError('required')">
                                            Confirmation mot de passe est obligatoire
                                        </mat-error>
                                        <mat-error *ngIf="!passwordUser.get('passwordConfirm').hasError('required') &&
                                        passwordUser.get('passwordConfirm').hasError('passwordsNotMatching')">
                                            les mots de passe doivent correspondre
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <!-- Previous / Next -->
                                <div fxLayout="row" fxLayoutAlign="center center" class="c-spacing-t">
                                    <!-- Previous -->
                                    <button class="mr-8" mat-raised-button matStepperPrevious type="button"
                                        color="accent">
                                        Précédent
                                    </button>
                                    <!-- Next -->
                                    <button mat-raised-button matStepperNext type="button" color="accent">
                                        Suivant
                                    </button>
                                </div>
                            </form>
                        </mat-step>
                        <!-- Step 4 done -->
                        <mat-step>
                            <ng-template matStepLabel>Terminé</ng-template>

                            <div class="h2 m-16" fxLayout="row" fxLayoutAlign="center center">
                                Merci d'avoir rempli notre formulaire.
                            </div>

                            <div fxLayout="row" fxLayoutAlign="center center">
                                <button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
                                    Précédent
                                </button>
                                <button mat-raised-button type="button" color="accent" (click)="register()">
                                    Terminer
                                </button>
                            </div>
                        </mat-step>
                    </mat-vertical-stepper>
                </div>
                <!-- Navigate To Login -->
                <div class="register" fxLayout="column" fxLayoutAlign="center center">
                    <span class="text">Vous avez déjà un compte ?</span>
                    <a class="link" [routerLink]="'/login'">S'identifier</a>
                </div>
            </div>

        </div>
    </div>
</div>