@import "src/@fuse/scss/fuse";

register-2 {

    #register {
        width: 100%;
        overflow: hidden;
        background: url('/assets/Logos/bg.jpg') no-repeat;
        background-size: cover;
        background-position-x: -290px;

        #register-intro {
            color: #fff;
            padding: 128px;

            @include media-breakpoint('sm') {
                padding: 128px 64px;
            }

            .logo {
                width: 208px;
            }

            .title {
                font-size: 31px;
                font-weight: 300;
                line-height: 1;
                color: #40356f;
            }

            .description {
                padding-top: 16px;
                font-size: 14px;
                max-width: 600px;
            }
        }

        #register-form-wrapper {
            background: #fff;
            width: 55%;
            min-width: 55%;
            max-width: 55%;
            overflow: auto;
            -webkit-overflow-scrolling: touch;

            @include mat-elevation(16);

            @include media-breakpoint('sm') {
                width: 360px;
                min-width: 360px;
                max-width: 360px;
            }

            @include media-breakpoint('xs') {
                width: 100%;
                min-width: 100%;
                max-width: 100%;
            }

            #register-form {
                padding: 128px 20px 48px 20px;

                @include media-breakpoint('xs') {
                    text-align: center;
                    padding: 24px;
                }

                .logo {
                    width: 128px;
                    margin: 32px auto;
                }

                .title {
                    font-size: 21px;
                }

                .description {
                    padding-top: 8px;
                }

                form {
                    width: 100%;
                    padding-top: 0;

                    mat-form-field {
                        width: 100%;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }

                    mat-checkbox {
                        margin: 0;
                    }

                    .terms {
                        margin: 16px 0 32px 0;

                        a {
                            font-size: 16px;
                            margin-left: 4px;
                        }
                    }

                    .submit-button {
                        width: 100%;
                        margin: 16px auto;
                        display: block;

                        @include media-breakpoint('xs') {
                            width: 80%;
                        }
                    }
                }

                .separator {
                    font-size: 15px;
                    font-weight: 600;
                    margin: 24px auto;
                    position: relative;
                    overflow: hidden;
                    width: 100px;
                    text-align: center;

                    .text {
                        display: inline-flex;
                        position: relative;
                        padding: 0 8px;
                        z-index: 9999;

                        &:before,
                        &:after {
                            content: '';
                            display: block;
                            width: 30px;
                            position: absolute;
                            top: 10px;
                            border-top: 1px solid;
                        }

                        &:before {
                            right: 100%;
                        }

                        &:after {
                            left: 100%;
                        }
                    }
                }

                button {

                    &.google,
                    &.facebook {
                        width: 70%;
                        text-transform: none;
                        color: #FFFFFF;
                        font-size: 13px;

                        @include media-breakpoint('xs') {
                            width: 60%;
                        }

                        mat-icon {
                            color: #FFFFFF;
                            margin: 0 8px 0 0;
                        }
                    }

                    &.google {
                        background-color: #D73D32;
                        margin-bottom: 8px;
                    }

                    &.facebook {
                        background-color: rgb(63, 92, 154);
                    }
                }
            }
        }
    }
    .c-group-radio .mat-radio-label { margin-right: 15px;}
    .c-group-radio .mat-radio-label .mat-radio-label-content{padding-left: 4px;font-size: 13px;}
    .c-spacing-t{margin-top: 15px;}
    .c-prefix{top:0;}
    .c-spacing-b{margin-bottom: 15px;}
    .c-return-icon{cursor: pointer;}
    .c-return-icon-center{vertical-align: middle;}
    .content-register .mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper{line-height: 1.5;}
}
