<!-- Content -->
<div class="page-layout carded fullwidth">

	<!-- TOP BACKGROUND -->
	<div class="top-bg accent"></div>
	<!-- / TOP BACKGROUND -->

	<!-- CENTER -->
	<div class="center">

		<!-- CONTENT HEADER -->
		<div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
			<button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/listing/emprunt-obligataire'">
				<mat-icon>arrow_back</mat-icon>
			</button>
			<h2 class="m-0">Emprunt obligataire</h2>
		</div>
		<!-- / CONTENT HEADER -->

		<!-- CONTENT CARD -->
		<div class="content-card">

			<!-- CONTENT TOOLBAR -->
			<div class="toolbar px-48 py-16">
				<span class="mat-headline">Ajout emprunt obligataire</span>
			</div>


			<div class="horizontal-stepper-wrapper">

				<!-- HORIZONTAL STEPPER EXAMPLE -->
				<mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">

					<mat-step [stepControl]="horizontalStepperStep1">

						<form fxLayout="column" [formGroup]="horizontalStepperStep1">

							<ng-template matStepLabel>Émetteur</ng-template>

							<div fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Raison sociale</mat-label>
									<input matInput formControlName="RaisonSocial" required maxlength="30">
									<mat-error *ngIf="horizontalStepperStep1.get('RaisonSocial').hasError('required')">
										La raison sociale est obligatoire
									</mat-error>

									<mat-error *ngIf="horizontalStepperStep1.controls.RaisonSocial.errors?.maxlength">
										La raison sociale est invalide
									</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Secteur</mat-label>
									<mat-select formControlName="Secteur" required>
										<mat-option *ngFor="let eltP of ListSecteur" [value]="eltP.value">
											{{eltP.label}}
										</mat-option>
									</mat-select>
									<mat-error>Le secteur est obligatoire</mat-error>
								</mat-form-field>
							</div>

							<div fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Forme juridique</mat-label>
									<mat-select formControlName="JuridicForm" required>
										<mat-option *ngFor="let eltP of ListJuridicForm" [value]="eltP.value">
											{{eltP.label}}
										</mat-option>
									</mat-select>
									<mat-error>La forme juridique est obligatoire</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Adresse</mat-label>
									<input matInput maxlength="50" formControlName="Adresse" required>
									<mat-error>L'adresse est obligatoire</mat-error>
								</mat-form-field>
							</div>

							<div fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Site web</mat-label>
									<input matInput formControlName="SiteWeb" maxlength="30" required>
									<mat-error>Le site web est obligatoire</mat-error>
								</mat-form-field>
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Matricule fiscal</mat-label>
									<input matInput formControlName="MatriculeFiscal" pattern="\d{6}[a-zA-Z]{1}"
										mask="000000 A" maxlength="20" required>
									<!-- Field required -->
									<mat-error
										*ngIf="horizontalStepperStep1.get('MatriculeFiscal').hasError('required')">Le
										matricule fiscal est obligatoire</mat-error>
									<!-- Field Pattern -->
									<mat-error *ngIf="horizontalStepperStep1.controls.MatriculeFiscal.errors?.pattern">
										format doit
										être (000000 A)</mat-error>
								</mat-form-field>
							</div>

							

							<div fxFlex="1 0 auto" fxLayout="row">
								<mat-checkbox formControlName="StatusObligatoire" [(ngModel)]="statusChecked"
									(change)="checkValue(statusChecked)">
									Les statuts de la société prévoient-ils l’autorisation d’émettre des titres de
									créances / obligations
								</mat-checkbox>
							</div>
							<div *ngIf="statusChecked" fxFlex="1 0 auto" fxLayout="row">

								<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
									<mat-label>Date décision AGO</mat-label>
									<input matInput formControlName="DateDecisionAGO" [max]="todayDate"
										[matDatepicker]="picker2" placeholder="Date décision AGO"   
>
									<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
									<mat-datepicker #picker2></mat-datepicker>
									<mat-error>Une date décision AGO valide est obligatoire</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
									<mat-label>Date décision du conseil d'administration</mat-label>
									<input formControlName="DateConseilAdd" matInput [matDatepicker]="picker"
										[max]="todayDate" placeholder="Date décision du conseil d'administration">
									<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
									<mat-datepicker #picker></mat-datepicker>
									<mat-error>La date de décision du conseil d'administration est obligatoire
									</mat-error>
								</mat-form-field>
							</div>
							<div fxFlex="1 0 auto" fxLayout="row" class="my-12">
								<div>Rating : </div>
								<mat-slide-toggle formControlName="Rating" [(ngModel)]="toggleChecked"
									(change)="checkToggleValue(toggleChecked)"></mat-slide-toggle>
							</div>
							<div *ngIf="toggleChecked" fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Agence de notation</mat-label>
									<mat-select formControlName="AgenceDeNotation" required>
										<mat-option *ngFor="let eltP of ListRatingForm" [value]="eltP.value"
											(click)="ChangeRatingSolution(eltP)">
											{{eltP.label}}
										</mat-option>
									</mat-select>
									<mat-error>L'agence de notation est obligatoire</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
									<mat-label>Date de notation</mat-label>
									<input [min]="firstDate" [max]="yesterdayDate" matInput
										formControlName="DateNotation" [matDatepicker]="picker3" 
										placeholder="Date de notation" >
									<mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
									<mat-datepicker #picker3></mat-datepicker>
									<mat-error>La date de notation est obligatoire</mat-error>
								</mat-form-field>
							</div>
							<div *ngIf="toggleChecked" fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Rating à long terme (Monnaie locale)</mat-label>
									<mat-select formControlName="RatingLong" required>
										<mat-option *ngFor="let eltP of RatingForm" [value]="eltP.value">
											{{eltP.label}}
										</mat-option>
									</mat-select>
									<mat-error>Le rating à court terme est obligatoire</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Rating à court terme (Monnaie locale)</mat-label>
									<mat-select formControlName="RatingCourt" required>
										<mat-option *ngFor="let eltP of RatingFormCourt" [value]="eltP.value">
											{{eltP.label}}
										</mat-option>
									</mat-select>
									<mat-error>Le rating à court terme est obligatoire</mat-error>
								</mat-form-field>

							</div>
							<div fxFlex="1 0 auto" fxLayout="row">
								
								<!-- Perspective -->
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Perspectives</mat-label>
									<mat-select formControlName="perspective" required>
										<mat-option *ngFor="let eltP of RatingFormPerspective" [value]="eltP.value">
											{{eltP.label}}
										</mat-option>
									</mat-select>
								</mat-form-field>
							</div>

							<div fxLayout="row" fxLayoutAlign="center center">
								<button mat-raised-button matStepperNext type="button" color="accent">
									Suivant
								</button>
							</div>
						</form>

					</mat-step>

					<mat-step [stepControl]="horizontalStepperStep2">

						<form fxLayout="column" [formGroup]="horizontalStepperStep2">

							<ng-template matStepLabel>Emprunt</ng-template>
							<!-- Nature -->
							<div fxFlex="1 0 auto" fxLayout="row">

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Nature des titres</mat-label>
									<input matInput readonly value="Titres de créances">
								</mat-form-field>
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Forme des obligations</mat-label>
									<input matInput readonly value="Nominatives">
								</mat-form-field>

							</div>
							<!-- Name emprunt -->
							<div fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Nom de l'emprunt</mat-label>
									<input matInput formControlName="nameEmprunt" maxlength="30" required>
									<mat-error>Le nom de l'emprunt est obligatoire</mat-error>
								</mat-form-field>
							</div>
							<div class="mb-16" fxFlex="1 0 auto" fxLayout="row">
								<div>Opération par appel public à l'épargne : </div>
								<mat-slide-toggle formControlName="AppelPublic" [(ngModel)]="appelPublic"
									(change)="checkToggleAppelPublicValue(appelPublic)"></mat-slide-toggle>
							</div>
							<div *ngIf="appelPublic" fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>VISA CMF N°</mat-label>
									<input matInput formControlName="VisaCMF" mask="00-0000" maxlength="10" required>
									<mat-error>Le VISA CMF est obligatoire</mat-error>
								</mat-form-field>

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>JORT N°</mat-label>
									<input matInput formControlName="Jort" maxlength="30" required>
									<mat-error>Le numero JORT est obligatoire</mat-error>
								</mat-form-field>
							</div>

							<div *ngIf="appelPublic" fxFlex="1 0 auto" fxLayout="row">
								<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
									<mat-label>Date VISA CMF</mat-label>
									<input matInput formControlName="DataVisa" [max]="todayDate"
										[matDatepicker]="picker8" placeholder="Date du dernier rating">
									<mat-datepicker-toggle matSuffix [for]="picker8"></mat-datepicker-toggle>
									<mat-datepicker #picker8></mat-datepicker>
									<mat-error>Une date valide VISA CMF est obligatoire</mat-error>
								</mat-form-field>
								<div fxFlex="25"></div>
								<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
									<mat-label>Date de publication au JORT</mat-label>
									<input matInput formControlName="DateJort" [max]="todayDate"
										[matDatepicker]="picker9" placeholder="Date du dernier rating">
									<mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
									<mat-datepicker #picker9></mat-datepicker>
									<mat-error>une date valide de publication au JORT est obligatoire</mat-error>
								</mat-form-field>
							</div>
							<!-- Amount / Min invest-->
							<div fxFlex="1 0 auto" fxLayout="row">
								<!-- Amount -->
								<mat-form-field appearance="outline" fxFlex="50" class="pr-4">
									<mat-label>Montant (DT)</mat-label>
									<input matInput formControlName="Montant" type="number" step="1000000" required>
									<mat-error *ngIf="horizontalStepperStep2.get('Montant').hasError('required')">
										Le montant est obligatoire
									</mat-error>
									<mat-error *ngIf="horizontalStepperStep2.get('Montant').hasError('pattern')">
										Le montant doit être un multiple de 1 000 000
									</mat-error>
								</mat-form-field>
								<!-- Min Invest -->
								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Investissement minimum à partir de (DT)</mat-label>
									<input matInput formControlName="miniInvest" maxlength="30" type="number" required
										min="100">
									<!-- Field Required -->
									<mat-error *ngIf="horizontalStepperStep2.get('miniInvest').hasError('required')">
										Investissement minimum est
										obligatoire</mat-error>
									<!-- Field Min -->
									<mat-error *ngIf="horizontalStepperStep2.controls.miniInvest.errors?.min">
										Investissement
										minimum est 100
									</mat-error>
								</mat-form-field>
							</div>
							<label id="example-radio-group-label">Catégorie des titres*</label>
							<div class="mb-16" fxFlex="1 0 auto" fxLayout="row">

								<mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group"
									formControlName="CategoryTitre" fxFlex="100">
									<div appearance="outline" fxFlex="25" class="pl-4">
										<mat-radio-button class="example-radio-button" [value]="'Ordinaires'">
											Ordinaires
										</mat-radio-button>
									</div>
									<div appearance="outline" fxFlex="25" class="pl-4">
										<mat-radio-button class="example-radio-button" [value]="'Subordonnés'">
											Subordonnés
										</mat-radio-button>
									</div>
								</mat-radio-group>
							</div>
							<div class="mb-8" fxFlex="1 0 auto" fxLayout="row">
								<mat-checkbox formControlName="EmpruntModifiable" [(ngModel)]="empruntModifiable"
									(change)="changeValueEmprunt(empruntModifiable)">Emprunt modifiable</mat-checkbox>
							</div>
							<div *ngIf="empruntModifiable" fxFlex="1 0 auto" fxLayout="row">

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Montant suseptible d'être porté à (DT)</mat-label>
									<input matInput formControlName="MontantModifiable" type="number" required
										(change)="checkValidityMontant()">
									<mat-error
										*ngIf="horizontalStepperStep2.get('MontantModifiable').hasError('required')">
										Le montant modifiable est obligatoire
									</mat-error>

									<mat-error
										*ngIf="horizontalStepperStep2.controls.MontantModifiable.errors?.incorrect">
										Le montant modifiable ne doit pas dépasser le double du montant original
									</mat-error>
								</mat-form-field>

							</div>
							<div fxFlex="1 0 auto" fxLayout="row">

								<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
									<mat-label>Prix d'émission (DT)</mat-label>
									<input matInput formControlName="PrixEmission" type="number"
										(change)="checkValidityPrixEmission()" required>

									<mat-error *ngIf="horizontalStepperStep2.get('PrixEmission').hasError('required')">
										Le prix d'émission est obligatoire
									</mat-error>
									<mat-error *ngIf="horizontalStepperStep2.controls.PrixEmission.errors?.incorrect">
										Le montant doit être supérieur à 100
									</mat-error>
								</mat-form-field>

							</div>
							<!-- Date key -->
							<div fxFlex="1 0 auto" fxLayout="column">
								<!-- Title -->
								<h4 fxlfex="100" class="mb-4">Date clé:</h4>
								<div fxFlex="1 0 auto" fxLayout="row">
									<!-- Date de démarrage des souscriptions -->
									<mat-form-field appearance="outline" fxFlex="33" class="pr-8">
										<mat-label>Date de démarrage des souscriptions</mat-label>
										<input matInput formControlName="DateDemmarage" [matDatepicker]="picker4"
											placeholder="Date de démarrage des souscriptions">
										<mat-datepicker-toggle matSuffix [for]="picker4"></mat-datepicker-toggle>
										<mat-datepicker #picker4></mat-datepicker>
										<mat-error>Une date valide de démarrage des souscriptions est obligatoire
										</mat-error>
									</mat-form-field>
									<!-- Date de clôture des souscriptions -->
									<mat-form-field appearance="outline" fxFlex="33" class="px-8">
										<mat-label>Date de clôture des souscriptions</mat-label>
										<input matInput [min]="horizontalStepperStep2.get('DateDemmarage').value"
											formControlName="DateCloture" [matDatepicker]="picker5"
											placeholder="Date de clôture des souscriptions">
										<mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
										<mat-datepicker #picker5></mat-datepicker>
										<mat-error>Une date valide de clôture des souscriptions est obligatoire
										</mat-error>
									</mat-form-field>
									<!-- Date jouissance des souscriptions -->

									<mat-form-field appearance="outline" fxFlex="33" class="pl-4">
										<mat-label>Date jouissance des souscriptions</mat-label>
										<input matInput [min]="horizontalStepperStep2.get('DateDemmarage').value"
											formControlName="DateJouissance" [matDatepicker]="picker6"
											placeholder="Date jouissance des souscriptions">
										<mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
										<mat-datepicker #picker6></mat-datepicker>
										<mat-error>Une date valide jouissance des souscriptions est obligatoire
										</mat-error>
									</mat-form-field>
								</div>

							</div>

							<div fxFlex="1 0 auto" fxLayout="column">
								<h4 fxlfex="100" class="mb-4">Notation garantie:</h4>
								<div fxFlex="1 0 auto" class="mb-8" fxLayout="row">
									<mat-radio-group aria-labelledby="example-radio-group-label"
										class="example-radio-group" formControlName="RatingRadio" fxFlex="100"
										(change)="checkSeason(favoriteSeason)">
										<div appearance="outline" fxFlex="25" class="pl-4">
											<mat-radio-button class="example-radio-button" [value]="'Rating'">
												Rating
											</mat-radio-button>
										</div>
										<div appearance="outline" fxFlex="25" class="pl-4">
											<mat-radio-button class="example-radio-button" [value]="'Garantie'">
												Garantie
											</mat-radio-button>
										</div>
										<mat-error *ngIf="!(secondRating||garantie)">Veuillez choisir un rating ou une
											garantie</mat-error>
									</mat-radio-group>
								</div>
								<div *ngIf="secondRating" fxFlex="1 0 auto" fxLayout="row">

									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Agence de notation</mat-label>
										<mat-select formControlName="AgenceNotation" required>
											<mat-option *ngFor="let eltP of ListRatingForm" [value]="eltP.value"
												(click)="ChangeRatingSolution(eltP)">
												{{eltP.label}}
											</mat-option>
										</mat-select>
										<mat-error>L'agence de notation est obligatoire</mat-error>
									</mat-form-field>

									<mat-form-field appearance="outline" fxFlex="25" class="pl-4">
										<mat-label>Date du dernier rating</mat-label>
										<input matInput formControlName="DateRating" [max]="todayDate"
											[matDatepicker]="picker7" placeholder="Date du dernier rating">
										<mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
										<mat-datepicker #picker7></mat-datepicker>
										<mat-error>Une date valide du dernier rating est obligatoire</mat-error>
									</mat-form-field>
								</div>

								<div *ngIf="secondRating" fxFlex="1 0 auto" fxLayout="row">
									<!-- <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
											<mat-label>Notation de l'emprunt</mat-label>
											<input matInput formControlName="NotationEmprunt" required>
											<mat-error>La notation de l'emprunt est obligatoire</mat-error>
										</mat-form-field> -->

									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Rating à long terme (Monnaie locale)</mat-label>
										<mat-select formControlName="SecondRatingCourt" required>
											<mat-option *ngFor="let eltP of RatingForm" [value]="eltP.value"
												(click)="ChangeGradeAndQuality(eltP.index)">
												{{eltP.label}}
											</mat-option>
										</mat-select>
										<mat-error>Le rating à long terme est obligatoire</mat-error>
									</mat-form-field>
								</div>

								<div *ngIf="secondRating" fxFlex="1 0 auto" fxLayout="row">

									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Grade</mat-label>
										<input matInput readonly formControlName="Grade">
									</mat-form-field>
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Qualité</mat-label>
										<input matInput readonly formControlName="Qualité">
									</mat-form-field>

								</div>

								<div *ngIf="garantie" fxFlex="1 0 auto" fxLayout="row">
									<mat-form-field class="example-chip-list" fxFlex="50">
										<mat-chip-list #chipList>
											<mat-chip *ngFor="let bank of banks" [selectable]="selectable"
												[removable]="removable" (removed)="removeContact(bank)">
												{{bank.name}}
												<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
											</mat-chip>
											<input placeholder="Banques garantes *" [matChipInputFor]="chipList"
												[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
												[matChipInputAddOnBlur]="addOnBlur"
												(matChipInputTokenEnd)="add($event)">
										</mat-chip-list>
									</mat-form-field>
									{{banks}}
								</div>
								<div *ngIf="garantie&&(banks.length==0)">
									<mat-error>
										Ce champ est obligatoire
									</mat-error>
								</div>
							</div>



							<div fxLayout="row" fxLayoutAlign="center center">
								<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
									Précédant
								</button>
								<button mat-raised-button matStepperNext type="button" color="accent">
									Suivant
								</button>
							</div>

						</form>

					</mat-step>
					<mat-step [stepControl]="horizontalStepperStep3">
						<form fxLayout="column" [formGroup]="horizontalStepperStep3">
							<ng-template matStepLabel>Remboursement</ng-template>

							<div fxFlex="1 0 auto" fxLayout="column">
								<div fxFlex="1 0 auto" fxLayout="column">
									<div fxFlex="1 0 auto" fxLayout="row">
										<span>Nombre de catégories</span>
									</div>
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-select (selectionChange)="addLanguage()" formControlName="categoryNumber"
											required>
											<mat-option *ngFor="let eltP of ListNumber" [value]="eltP.value">
												{{eltP.label}}
											</mat-option>
										</mat-select>
										<mat-error>Le nombre de catégories est obligatoire</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div formArrayName="categories" class="mt-24">
								<div style="border: 2px solid black; border-radius: 5px;padding : 10px; margin-bottom: 10px;"
									*ngFor="let language of horizontalStepperStep3.controls.categories.controls; let i=index"
									class="panel panel-default" fxLayout="column">
									<div fxFlex="1 0 auto" fxLayout="row">
										<span>Catégorie {{categoryNameList[i]}}</span>
									</div>
									<div [formGroupName]="i" fxFlex="1 0 auto" fxLayout="column">
										<div fxFlex="1 0 auto" fxLayout="row">
											<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
												<mat-label>Maturité (années)</mat-label>
												<mat-select formControlName="maturity"
													(selectionChange)="changeMaturity($event,i)" required>
													<mat-option *ngFor="let eltP of [1,2,3,4,5]" [value]="eltP">
														{{eltP}}
													</mat-option>
												</mat-select>
												<mat-error>La forme juridique est obligatoire</mat-error>
											</mat-form-field>
										</div>

										<div fxFlex="1 0 auto" fxLayout="row">
											<div fxFlex="50" fxLayout="column">
												<h2 class="example-h2">Modalité de remboursement</h2>
												<mat-radio-group aria-labelledby="example-radio-group-label"
													class="example-radio-group"
													formControlName="ModaliteRemboursementType" fxFlex="100">
													<div appearance="outline" fxFlex="25" class="pl-4">
														<mat-radio-button class="example-radio-button"
															[value]="'In Fine'">
															In Fine
														</mat-radio-button>
													</div>
													<div appearance="outline" fxFlex="25" class="pl-4">
														<mat-radio-button class="example-radio-button"
															[value]="'Amortie'">
															Amortissement constant
														</mat-radio-button>
													</div>
												</mat-radio-group>
											</div>
											<div *ngIf="language.value.ModaliteRemboursementType != 'In Fine'"
												fxFlex="50" fxLayout="column">
												<h2 class="example-h2">Fréquence de coupons</h2>

												<mat-radio-group aria-labelledby="example-radio-group-label"
													class="example-radio-group" formControlName="frequenceCoupon"
													fxFlex="100">
													<!-- Annuelle -->
													<div appearance="outline" fxFlex="25" class="pl-4">
														<mat-radio-button class="example-radio-button"
															[value]="'Anuelle'">
															Annuelle
														</mat-radio-button>
													</div>
													<!-- Semestrielle -->
													<div appearance="outline" fxFlex="25" class="pl-4">
														<mat-radio-button class="example-radio-button"
															[value]="'Semestrielle'">
															Semestrielle
														</mat-radio-button>
													</div>
													<!-- trimestrielle -->
													<div appearance="outline" fxFlex="25" class="pl-4">
														<mat-radio-button class="example-radio-button"
															[value]="'Trimestrielle'">
															Trimestrielle
														</mat-radio-button>
													</div>
												</mat-radio-group>
											</div>


										</div>
										<div class="mt-16" fxFlex="1 0 auto" fxLayout="row">
											<div fxFlex="1 0 auto" fxLayout="row">

												<section class="checkBox-section">
													<mat-checkbox class="example-margin"
														(change)="changeEnable($event, i,'GraceYearValue', 'GraceYearBoolean')"
														formControlName="GraceYearBoolean">Definir le nombre d'année de
														grâce</mat-checkbox>

												</section>
												<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
													<mat-label>Nombre d'année de grâce</mat-label>
													<input matInput type="number" formControlName="GraceYearValue">
													<mat-error
														*ngIf="horizontalStepperStep3.get('categories')['controls'][i]['controls']['GraceYearValue'].errors?.required">
														Un nombre d'années de grâce valide est obligatoire</mat-error>
													<mat-error
														*ngIf="horizontalStepperStep3.get('categories')['controls'][i]['controls']['GraceYearValue'].errors?.max">
														Valeur maximum est
														{{ this.horizontalStepperStep3.get('categories')['controls'][i].value.maturity }}
													</mat-error>
													<mat-error
														*ngIf="horizontalStepperStep3.get('categories')['controls'][i]['controls']['GraceYearValue'].errors?.min">
														Valeur minimum est 0</mat-error>
												</mat-form-field>
											</div>

											<div fxFlex="1 0 auto" fxLayout="row">
											</div>
										</div>
										<br />
										<div fxFlex="1 0 auto" fxLayout="row">
											<div fxFlex="1 0 auto" fxLayout="row">

												<section class="checkBox-section">
													<mat-checkbox class="example-margin"
														(change)="changeEnable($event, i,'TauxFixeValue', 'TauxFixeBoolean');checkValidityCheckbox(i, $event, 'TwoRates')"
														formControlName="TauxFixeBoolean">Definir le taux fixe
													</mat-checkbox>
												</section>
												{{this.horizontalStepperStep3.get('TauxFixeValue')?.value}}
												<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
													<mat-label>Taux fixe (%)</mat-label>
													<input matInput (change)="checkValidityTauxFixe(i)" type="number"
														min="0" formControlName="TauxFixeValue">
													<mat-error>Un taux fixe valide est obligatoire</mat-error>
												</mat-form-field>
											</div>

											<div fxFlex="1 0 auto" fxLayout="row">

												<section class="checkBox-section">
													<mat-checkbox
														(change)="changeEnable($event, i,'TauxVaraibleValue', 'TauxVariableBoolean');checkValidityCheckbox(i, $event, 'TwoRates')"
														class="example-margin" formControlName="TauxVariableBoolean">Le
														taux variable (TMM+)
													</mat-checkbox>
												</section>
												<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
													<mat-label>Taux variable (%)</mat-label>
													<input matInput type="number" formControlName="TauxVaraibleValue">
													<mat-error>Un taux variable valide est obligatoire</mat-error>
												</mat-form-field>
											</div>

										</div>
										<div fxFlex="1 0 auto" fxLayout="row">
											<mat-error style="width: 50%"
												*ngIf="this.horizontalStepperStep3.get('categories')['controls'][i].get('TwoRates').hasError('required')">
												Choisir au moins un taux
											</mat-error>
										</div>

									</div>
								</div>
							</div>
							<div fxLayout="row" fxLayoutAlign="center center">
								<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
									Précédant
								</button>
								<button mat-raised-button matStepperNext type="button" color="accent">
									Suivant
								</button>
							</div>
						</form>
					</mat-step>
					<mat-step [stepControl]="horizontalStepperStep4">

						<form fxLayout="column" [formGroup]="horizontalStepperStep4">

							<ng-template matStepLabel>Deal Manager</ng-template>
							<br />
							<br />
							<div fxFlex="1 0 auto" fxLayout="row">
								<div>Ajout un Deal manager : </div>
								<mat-slide-toggle formControlName="AddConseiller" [(ngModel)]="addConseiller"
									(change)="checkToggleAddConseiller(addConseiller)"></mat-slide-toggle>
							</div>

							<div *ngIf="addConseiller" fxFlex="1 0 auto" fxLayout="column">
								<br />
								<div class="font-size-36 line-height-36">
									Informations sur le Deal Manager :
								</div>
								<br />
								<div fxFlex="1 0 auto" fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Adresse e-mail</mat-label>
										<input matInput formControlName="ConseillerEmail"
											(ngModelChange)="displayName()" required>
										<mat-error>L'adresse e-mail est obligatoire</mat-error>
									</mat-form-field>
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Société</mat-label>
										<input matInput formControlName="ConseillerSociete" required>
										<mat-error>La société du Deal manager est obligatoire</mat-error>
									</mat-form-field>
								</div>
								<div fxFlex="1 0 auto" fxLayout="row">
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Nom</mat-label>
										<input matInput formControlName="ConseillerNom" required>
										<mat-error>Le nom est obligatoire</mat-error>
									</mat-form-field>
									<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
										<mat-label>Prénom</mat-label>
										<input matInput formControlName="ConseillerPrenom" required>
										<mat-error>Le prénom est obligatoire</mat-error>
									</mat-form-field>
								</div>

								<div fxFlex="1 0 auto" fxLayout="row">
									<div fxFlex="1 0 auto" fxLayout="column">
										<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
											<mat-label>Téléphone</mat-label>
											<input matInput formControlName="ConseillerPhone" required>
											<mat-error>Le numero de téléphone est obligatoire</mat-error>
										</mat-form-field>


										<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
											<mat-label>Site web</mat-label>
											<input matInput formControlName="ConseillerSite" required>
											<mat-error>Le site web est obligatoire</mat-error>
										</mat-form-field>
									</div>

									<div fxFlex="1 0 auto" fxFlex="50" fxLayout="column">
									</div>
								</div>

							</div>

							<div fxLayout="row" fxLayoutAlign="center center">
								<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
									Précédant
								</button>
								<button mat-raised-button matStepperNext type="button" color="accent">
									Suivant
								</button>
							</div>

						</form>

					</mat-step>



					<mat-step [stepControl]="horizontalStepperStep6">

						<form fxLayout="column" [formGroup]="horizontalStepperStep6">

							<ng-template matStepLabel>Documents & contrats</ng-template>
							<div fxFlex="1 0 auto" fxLayout="row">
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<p>Note d'opération</p>
									<button mat-raised-button [disabled]="NoteOperation.length==5"
										style="background-color: #88a793;" type="button" color="accent"
										(click)="fileInput1.click()">
										<input hidden type="file" #fileInput1
											(change)="fileSelected($event.target.files, 1)" />
										<i class="material-icons">
											cloud_upload
										</i>
										Parcourir
									</button>
								</div>
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<p>Documents juridiques</p>
									<button mat-raised-button [disabled]="DocumentJuridique.length==5"
										style="background-color: #88a793;" type="button" color="accent"
										(click)="fileInput2.click()">
										<input hidden type="file" #fileInput2
											(change)="fileSelected($event.target.files, 2)" />
										<i class="material-icons">
											cloud_upload
										</i>
										Parcourir
									</button>

								</div>
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<p>Documents Comptables</p>
									<button mat-raised-button [disabled]="DocumentComptable.length==5"
										style="background-color: #88a793;" type="button" color="accent"
										(click)="fileInput3.click()">
										<input hidden type="file" #fileInput3
											(change)="fileSelected($event.target.files, 3)" />
										<i class="material-icons">
											cloud_upload
										</i>
										Parcourir
									</button>

								</div>
							</div>


							<div fxFlex="1 0 auto" fxLayout="row">
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<div class="example-chip-list" *ngFor="let file of NoteOperation; let i=index">

										<mat-chip [selectable]="selectable"
											style="background-color: #d3da92;font: bold italic large serif;"
											[removable]="removable" (removed)="removeDocument(index, 1)">
											{{file.name}}
											<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
									</div>
								</div>
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<div class="example-chip-list" *ngFor="let file of DocumentJuridique; let i=index">

										<mat-chip [selectable]="selectable"
											style="background-color: #d3da92;font: bold italic large serif;"
											[removable]="removable" (removed)="removeDocument(index, 2)">
											{{file.name}}
											<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
									</div>
								</div>
								<div fxLayout="column" fxFlex="30" fxLayoutAlign="center center">
									<div class="example-chip-list" *ngFor="let file of DocumentComptable; let i=index">

										<mat-chip [selectable]="selectable"
											style="background-color: #d3da92;font: bold italic large serif;"
											[removable]="removable" (removed)="removeDocument(index, 3)">
											{{file.name}}
											<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
										</mat-chip>
									</div>
								</div>
							</div>

							<div fxLayout="row" fxLayoutAlign="center center" style="margin-top: 150px">
								<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
									Précédant
								</button>
								<button (click)="loging()" mat-raised-button matStepperNext type="button"
									color="accent">
									Suivant
								</button>
							</div>
						</form>

					</mat-step>

					<mat-step>

						<ng-template matStepLabel>Résumé</ng-template>
						<div id="contentToConvert" fxLayout="column">
							<div fxFlex="1 0 auto" fxLayout="row">

								<div class="border-resume" fxFlex="1 0 auto" fxFlex="50" fxLayout="row">
									<table class="summary">
										<tr class="code">
											<td class="label">Raison sociale :</td>
											<td class="value">{{horizontalStepperStep1.value.RaisonSocial}}</td>
										</tr>

										<tr>
											<td class="label">Secteur :</td>
											<td class="value">{{horizontalStepperStep1.value.Secteur}}</td>
										</tr>

										<tr>
											<td class="label">Forme juridique :</td>
											<td class="value">{{horizontalStepperStep1.value.JuridicForm}}</td>
										</tr>

										<tr>
											<td class="label">Adresse :</td>
											<td class="value">{{horizontalStepperStep1.value.Adresse}}</td>
										</tr>

										<tr>
											<td class="label">Site web :</td>
											<td class="value">{{horizontalStepperStep1.value.SiteWeb}}</td>
										</tr>
										<tr *ngIf="statusChecked">
											<td class="label">Date décision AGO :</td>
											<td class="value">
												{{horizontalStepperStep1.value.DateDecisionAGO | date:'dd/MM/yyyy'}}
											</td>
										</tr>

										<tr *ngIf="statusChecked">
											<td class="label">Date décision du conseil d'administration :</td>
											<td class="value">
												{{horizontalStepperStep1.value.DateConseilAdd | date:'dd/MM/yyyy'}}</td>
										</tr>

										<tr *ngIf="toggleChecked">
											<td class="label">Agence de notation :</td>
											<td class="value">{{horizontalStepperStep1.value.AgenceDeNotation}}</td>
										</tr>
										<tr *ngIf="toggleChecked">
											<td class="label">Date de notation :</td>
											<td class="value">
												{{horizontalStepperStep1.value.DateNotation | date:'dd/MM/yyyy'}}</td>
										</tr>
										<tr *ngIf="toggleChecked">
											<td class="label">Rating à long terme :</td>
											<td class="value">{{horizontalStepperStep1.value.RatingLong}}</td>
										</tr>
										<tr *ngIf="toggleChecked">
											<td class="label">Rating à court terme :</td>
											<td class="value">{{horizontalStepperStep1.value.RatingCourt}}</td>
										</tr>

									</table>
								</div>
								<div class="border-resume" fxFlex="1 0 auto" fxFlex="50" fxLayout="row">
									<table class="summary">
										<tr class="code">
											<td class="label">Nom de l'emprunt :</td>
											<td class="value">{{horizontalStepperStep2.value.nameEmprunt}}</td>
										</tr>

										<tr>
											<td class="label">Montant :</td>
											<td class="value">
												{{horizontalStepperStep2.value.Montant | number:'':'fr-FR'}}</td>
										</tr>

										<tr *ngIf="empruntModifiable">
											<td class="label">Montant susceptibled'être porté à :</td>
											<td class="value">{{horizontalStepperStep2.value.MontantModifiable}}</td>
										</tr>

										<tr>
											<td class="label">Prix d'émission :</td>
											<td class="value">{{horizontalStepperStep2.value.PrixEmission}}</td>
										</tr>

										<tr>
											<td class="label">Date de démarrage des souscriptions :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DateDemmarage | date:'dd/MM/yyyy'}}</td>
										</tr>

										<tr>
											<td class="label">Date de clôture des souscriptions :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DateCloture | date:'dd/MM/yyyy'}}</td>
										</tr>

										<tr>
											<td class="label">Date jouissance des souscriptions :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DateJouissance | date:'dd/MM/yyyy'}}</td>
										</tr>
										<tr *ngIf="secondRating">
											<td class="label">Agence de notation :</td>
											<td class="value">{{horizontalStepperStep2.value.AgenceNotation}}</td>
										</tr>
										<tr *ngIf="secondRating">
											<td class="label">Date du dernier rating :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DateRating | date:'dd/MM/yyyy'}}</td>
										</tr>
										<tr *ngIf="secondRating">
											<td class="label">Notation de l'emprunt :</td>
											<td class="value">{{horizontalStepperStep2.value.NotationEmprunt}}</td>
										</tr>
										<tr *ngIf="secondRating">
											<td class="label">Rating à court terme :</td>
											<td class="value">{{horizontalStepperStep2.value.SecondRatingCourt}}</td>
										</tr>
										<tr *ngIf="appelPublic">
											<td class="label">VISA CMF N° :</td>
											<td class="value">{{horizontalStepperStep2.value.VisaCMF}}</td>
										</tr>
										<tr *ngIf="appelPublic">
											<td class="label">JORT N° :</td>
											<td class="value">{{horizontalStepperStep2.value.Jort}}</td>
										</tr>
										<tr *ngIf="appelPublic">
											<td class="label">Date VISA CMF :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DataVisa | date:'dd/MM/yyyy'}}
											</td>
										</tr>
										<tr *ngIf="appelPublic">
											<td class="label">Date de publication au JORT :</td>
											<td class="value">
												{{horizontalStepperStep2.value.DateJort | date:'dd/MM/yyyy'}}
											</td>
										</tr>
									</table>
								</div>
							</div>
							<br />
							<br />
							<div fxFlex="1 0 auto" fxLayout="row">
								<div class="border-resume" fxFlex="1 0 auto" fxFlex="50" fxLayout="row">
									<table class="summary">
										<tr class="code">
											<td class="label">Nombre de catégories :</td>
											<td class="value">{{horizontalStepperStep3.value.categoryNumber}}</td>
										</tr>
										<br />
										<div style="margin-left: 30px"
											*ngFor="let categorie of horizontalStepperStep3.value.categories; let i=index">
											<tr>
												<td class="label">Catégorie{{categoryNameList[i]}}</td>
											</tr>

											<tr>
												<td class="label">Maturité :</td>
												<td class="value">{{categorie.maturity *12}} mois</td>
											</tr>
											<tr>
												<td class="label">Modalité de remboursement :</td>
												<td class="value">{{categorie.ModaliteRemboursementType}}</td>
											</tr>
											<tr>
												<td class="label">Fréquence de coupon :</td>
												<td class="value">{{categorie.frequenceCoupon}}</td>
											</tr>
											<tr *ngIf="categorie.GraceYearBoolean">
												<td class="label">Nombre d'années de grâce :</td>
												<td class="value">{{categorie.GraceYearValue}}</td>
											</tr>
											<tr *ngIf="categorie.TauxFixeBoolean">
												<td class="label">Taux fixe :</td>
												<td class="value">{{categorie.TauxFixeValue}}</td>
											</tr>
											<tr *ngIf="categorie.TauxVariableBoolean">
												<td class="label">Taux variable :</td>
												<td class="value">{{categorie.TauxVaraibleValue}}</td>
											</tr>
											<br />
										</div>
									</table>
								</div>
								<div class="border-resume" fxFlex="1 0 auto" fxFlex="60" fxLayout="row">
									<table class="summary">
										<tr *ngIf="!addConseiller">
											<td class="label">Aucun Deal Manager ne sera affecté à cette émission</td>
										</tr>
										<tr *ngIf="addConseiller">
											<td class="label">Société :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerSociete}}</td>
										</tr>

										<tr *ngIf="addConseiller">
											<td class="label">Nom :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerNom}}</td>
										</tr>

										<tr *ngIf="addConseiller">
											<td class="label">Prénom :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerPrenom}}</td>
										</tr>

										<tr *ngIf="addConseiller">
											<td class="label">Téléphone :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerPhone}}</td>
										</tr>

										<tr *ngIf="addConseiller">
											<td class="label">Adresse e-mail :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerEmail}}</td>
										</tr>

										<tr *ngIf="addConseiller">
											<td class="label">Site web :</td>
											<td class="value">{{horizontalStepperStep4.value.ConseillerSite}}</td>
										</tr>

									</table>
								</div>

							</div>
						</div>

						<div fxLayout="row" fxLayoutAlign="center center">
							<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
								Précédant
							</button>
							<button class="mr-8" (click)="loging()" mat-raised-button matStepperNext type="button"
								color="accent">
								Suivant
							</button>
							<button (click)="donwloadPdf()" mat-raised-button type="button" class="green-800">
								Télécharger
							</button>
						</div>

					</mat-step>

					<mat-step [stepControl]="horizontalStepperStep5">

						<form fxLayout="column" [formGroup]="horizontalStepperStep5">

							<ng-template matStepLabel>Accès Emprunt</ng-template>
							<div class="mb-12">
								si vous choisissez de laisser cet emprunt obligataire public, il sera disponible à tous
								les émetteurs et les investisseurs sur le Marketplace.
								<br>Si vous
								choisissez de rendre votre emprunt privé, il sera visible uniquement par les personnes
								que vous sélectionnez à partir de votre liste des contacts ou sur invitation.
							</div>
							<div class="mt-12" fxFlex="1 0 auto" fxLayout="column">
								<!-- Filter -->
								<div class="c-filter mx-16" fxFlex="100">
									<div fxLayout="row" fxLayoutAlign="start center" class="px-12 mt-12">
										<span class="mat-headline blue-900-fg">Recherche:</span>
									</div>
									<!-- Firstname / company / Secteur -->
									<div fxLayout="row" fxLayoutAlign="start center" class="px-12 mt-12">
										<!-- Nom -->
										<mat-form-field appearance="outline" class="pr-12" fxFlex="33">
											<mat-label>Par nom</mat-label>
											<input matInput maxlength="30" (change)="changeSearchQuery($event, 'name')">
										</mat-form-field>
										<!-- Company -->
										<mat-form-field appearance="outline" class="pr-12" fxFlex="33">
											<mat-label>Par société</mat-label>
											<input matInput maxlength="30"
												(change)="changeSearchQuery($event, 'company')">
										</mat-form-field>
										<!-- Secteur -->
										<mat-form-field appearance="outline" fxFlex="50" class="pr-4">
											<mat-label>Secteur</mat-label>
											<mat-select (selectionChange)="changeSearchQuery($event, 'sector')">
												<mat-option *ngFor="let elt of listSecteur" [value]="elt.value">
													{{elt.label}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
									<!-- Fonction / Categorie -->
									<div fxLayout="row" fxLayoutAlign="start center" class="px-12 mb-20">
										<!-- Fonction -->
										<mat-form-field appearance="outline" class="pr-12" fxFlex="33">
											<mat-label>Par fonction</mat-label>
											<input matInput maxlength="30" placeholder="Par note"
												(change)="changeSearchQuery($event, 'fonction')">
										</mat-form-field>
										<!-- Categorie -->
										<mat-form-field appearance="outline" fxFlex="50" class="pl-4">
											<mat-label>Catégorie</mat-label>
											<mat-select (selectionChange)="changeSearchQuery($event, 'category')">
												<mat-option *ngFor="let elt of listCategories" [value]="elt.value">
													{{elt.label}}
												</mat-option>
											</mat-select>
										</mat-form-field>
									</div>
								</div>


								<div class="card-preview">

									<div class="fuse-card">

										<div class="p-16 pb-0">
											<div class="h1 font-weight-300">Liste de contacts</div>
										</div>

										<div class="card-divider"></div>
										<div style="max-height:100%;overflow:auto;">
											<mat-selection-list formControlName="myContacts" #selectedContacts
												(selectionChange)="onSelection($event, selectedContacts.selectedOptions.selected)"
												style="height:150px;" class="pt-0 pb-16">
												<mat-list-option *ngFor="let contact of myContacts"
													checkboxPosition="before" [value]="contact.email">
													<div fxLayout="row" fxLayoutAlign="stretch center">
														<span class="c-badge-user"
															[ngClass]="{'badge-red': contact.categorie =='suspect', 'badge-orange': contact.categorie == 'prospect', 'badge-blue': contact.categorie == 'lead', 'badge-green': contact.categorie == 'client'}">{{contact?.badge | uppercase }}
														</span>
														<span>{{contact.firstname}}
															{{contact.lastname}}</span>
													</div>

												</mat-list-option>
											</mat-selection-list>

										</div>


									</div>

								</div>
								<div style="margin: 15px"></div>
								<div fxFlex="1 0 auto" fxLayout="row">
									<mat-form-field class="example-chip-list" fxFlex="50">
										<mat-chip-list #chipList formControlName="myExtrenalContacts">
											<mat-chip *ngFor="let cont of externalContacts" [removable]="removable"
												(removed)="remove(cont)">
												{{cont.email}}
												<mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
											</mat-chip>
											<input
												placeholder="inviter des investisseurs hors contacts (adresse e-mail)"
												[matChipInputFor]="chipList"
												[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
												[matChipInputAddOnBlur]="addOnBlur"
												(matChipInputTokenEnd)="addContact($event)">
										</mat-chip-list>
									</mat-form-field>
								</div>
							</div>

							<div fxLayout="row" fxLayoutAlign="center center" class="mt-24">
								<button class="mr-8" mat-raised-button matStepperPrevious type="button" color="accent">
									Précédant
								</button>
								<button mat-raised-button type="button" color="accent" (click)="eventCertif(true)">
									Publier sur Marketplace
								</button>
								<button mat-raised-button type="button" style="margin-left: 7px" color="accent"
									(click)="eventCertif(false)">
									Publier sur Deal Club
								</button>
							</div>
						</form>

					</mat-step>

				</mat-horizontal-stepper>
				<!-- / HORIZONTAL STEPPER EXAMPLE -->

			</div>


		</div>
	</div>
</div>