@import "src/@fuse/scss/fuse";



toolbar {
    position: relative;
    display: flex;
    flex: 0 0 auto;
    z-index: 4;

    &.below {
        z-index: 2;
    }

    .mat-toolbar {
        position: relative;
        background: inherit ;
        color: inherit !important;
    }

    .logo {
        display: flex;
        align-items: center;

        .logo-icon {
            width: 38px;
        }
    }

    .user-button,
    fuse-search-bar,
    .language-button,
    .chat-panel-toggle-button,
    .quick-panel-toggle-button {
        min-width: 64px;
        height: 64px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }

    .navbar-toggle-button {
        min-width: 56px;
        height: 56px;
    }

    .toolbar-separator {
        height: 64px;
        width: 1px;

        @include media-breakpoint('xs') {
            height: 56px;
        }
    }
}


/**************************
    If Role Emetteur
***************************/
body.theme-default .mat-toolbar.c-emetteur {
    background-color: #9accfc;
}

body.theme-default .mat-toolbar.c-emetteur .banque {
    background-color:#ff8f00;
    color: #fff;
}

body.theme-default .mat-toolbar.c-emetteur .leasing {
    background-color:#283593;
    color: #fff;
}
body.theme-default .mat-toolbar.c-emetteur .imf {
    background-color:#00897b;
    color: #fff;
}
body.theme-default .mat-toolbar.c-emetteur .conseil {
    background-color:#645FCF;
    color: #fff;
}
body.theme-default .mat-toolbar.c-emetteur .corporates {
    background-color:#2D323E;
    color: #fff;
}
/***************************************
/********  End Role Emetteur  *********/
/***************************************


/******************************************
    If Role Investisseur
********************************************/
body.theme-default .mat-toolbar.c-investisseur {
    background-color: #039be5;
    color: #fff;
}
body.theme-default .mat-toolbar.c-investisseur .asset {
    background-color:#ff8f00;
    color: #fff;
}

body.theme-default .mat-toolbar.c-investisseur .assurances {
    background-color:#283593;
    color: #fff;
}
body.theme-default .mat-toolbar.c-investisseur .avertis {
    background-color:#00897b;
    color: #fff;
}
body.theme-default .mat-toolbar.c-investisseur .corporates {
    background-color:#645FCF;
    color: #fff;
}
body.theme-default .mat-toolbar.c-investisseur .public {
    background-color:#2D323E;
    color: #fff;
}
.c-notif-icons{color:#fff!important;}
/********  End Role Investisseur  ****/
// .item-notification{padding-top: 17px;margin-bottom: 8px;}
.item-notification img{width: 45px;height: 45px;border-radius: 50%;object-fit: cover;margin-right: 7px;}
.content-notification{font-size: 11px;text-align: left;}
.c-timeago{display: block;font-size: 9px;}
.content-notif-username{font-weight: bold;}
// .bg-blue{background: #edf2fa;}
.item-notif {height: 60px !important;border-bottom: 1px solid #ededed;}
.new-item-notif{background: #c8ced7;}






