<mat-toolbar class="p-0 mat-elevation-z1"
    [ngClass]="{'c-emetteur': role=='Emetteur', 'c-investisseur':role=='Investisseur' }">
    <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && !rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && !rightNavbar" fxHide.gt-md></div>

            <div fxLayout="row" fxLayoutAlign="start center" *ngIf="horizontalNavbar">
                <div class="logo ml-16">
                    <img class="logo-icon" src="assets/images/logos/fuse.svg">
                </div>
            </div>

            <!-- <div class="px-8 px-md-16">
                <fuse-shortcuts [navigation]="navigation"></fuse-shortcuts>
            </div> -->

        </div>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="start center">

            <button mat-icon-button class="mx-8" [matMenuTriggerFor]="notificationMenu" matTooltip="Notification">
                <i class="material-icons c-notif-icons" matBadge="{{_authService.nbrNotif}}" matBadgeColor="warn">
                    notifications_none
                </i>
            </button>
            <mat-menu #notificationMenu="matMenu" fxLayout="column">
                <div class="text-center" *ngIf="_authService.notifications.length > 0">
                    <!-- Last 5 notifications -->
                    <mat-nav-list style="max-height: 320px; overflow: auto" fusePerfectScrollbar>
                        <mat-list-item role="listitem" *ngFor="let notif of _authService.notifications"
                            [ngClass]="{'new-item-notif': !notif.seen}" class="item-notif" (click)="eventItemNotif(notif)" >
                            <div class="item-notification" fxLayout="row" fxLayoutAlign="start center">
                                <!-- Logo user -->
                                <img src="{{notif.notifId.userSender.logo}}" alt="">
                                <!-- content -->
                                <p class="content-notification">
                                    <span><span class="content-notif-username">{{notif?.notifId.userSender.firstname}}
                                            {{notif?.notifId.userSender.lastname}}</span>
                                            {{ notif?.notifId.content }}
                                    </span>
                                    <span class="c-timeago">{{ notif.creationDate | amLocale:'fr' | amTimeAgo }}</span>
                                </p>
                            </div>
                        </mat-list-item>
                    </mat-nav-list>
                    <!-- Button see all -->
                    <button mat-flat-button color="accent" class="mt-16" (click)="goToNotifications()">Voir
                        tous</button>
                </div>
            </mat-menu>



            <button mat-icon-button class="mx-8 mr-16" matTooltip="Notification">
                <i class="material-icons c-notif-icons">
                    mail_outline
                </i>
            </button>

            <button mat-button [matMenuTriggerFor]="userMenu" style="border-radius:0;"
                [ngClass]="{'banque': categorie=='Banque', 'leasing':categorie=='Leasing, factoring',
                        'imf': categorie=='IMF', 'conseil':categorie=='Conseil', 'corporates': categorie=='Corporates',
                        'asset': categorie=='Asset Managers', 'assurances':categorie=='Assurance',
                        'avertis': categorie=='Avertis', 'corporates':categorie=='Corporates', 'public': categorie=='Public'}" class="user-button">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="avatar mr-0 mr-sm-16" src="{{_serviceHelper.userProfil?.logo.path}}">
                    <span class="username mr-12" fxHide fxShow.gt-sm>{{user?.firstname}} {{user?.lastname}}
                        <span style="display:block;font-size: 13px;font-weight: bold;"> {{categorie}} </span>
                    </span>
                    <mat-icon class="s-16" fxHide.xs>keyboard_arrow_down</mat-icon>
                </div>
            </button>

            <mat-menu #userMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item (click)="profil()">
                    <mat-icon>account_circle</mat-icon>
                    <span>Mon profil</span>
                </button>

                <!-- <button mat-menu-item class="">
                    <mat-icon>mail</mat-icon>
                    <span>Inbox</span>
                </button> -->

                <button mat-menu-item class="" (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>
                    <span>Déconnexion</span>
                </button>

            </mat-menu>
            <!-- <div class="toolbar-separator"></div>

            <fuse-search-bar (input)="search($event)"></fuse-search-bar>

            <div class="toolbar-separator"></div> -->

            <!-- <button mat-button fxHide fxShow.gt-xs
                    class="language-button"
                    [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/icons/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/icons/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu> -->

            <!-- <div class="toolbar-separator" fxHide fxShow.gt-xs></div>

            <button mat-icon-button
                    class="quick-panel-toggle-button"
                    (click)="toggleSidebarOpen('quickPanel')"
                    aria-label="Toggle quick panel">
                <mat-icon class="secondary-text">format_list_bulleted</mat-icon>
            </button> -->

            <div class="toolbar-separator" *ngIf="!hiddenNavbar && rightNavbar" fxHide fxShow.gt-xs></div>

            <button mat-icon-button class="navbar-toggle-button" *ngIf="!hiddenNavbar && rightNavbar"
                (click)="toggleSidebarOpen('navbar')" fxHide.gt-md>
                <mat-icon class="secondary-text">menu</mat-icon>
            </button>

        </div>

    </div>

</mat-toolbar>