<div id="forgot-password" fxLayout="column">

    <div id="forgot-password-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="forgot-password-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/Logos/logo_transparent.png">
            </div>

            <div class="title">RECOUVREZ VOTRE MOT DE PASSE</div>

            <form name="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="eventForgotPassword(forgotPasswordForm)" novalidate>

                <mat-form-field appearance="outline">
                    <mat-label>Adresse e-mail</mat-label>
                    <input matInput formControlName="email" maxlength="60"
                    pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,64})+$">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('required')">
                        Adresse e-mail est obligatoire
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('email').hasError('pattern')">
                        S'il vous plaît, mettez une adresse e-mail valide
                    </mat-error>
                </mat-form-field>

                <button mat-raised-button class="submit-button" color="accent" aria-label="ENVOYER LE LIEN"
                    [disabled]="forgotPasswordForm.invalid">
                    ENVOYER LE LIEN
                </button>
            </form>

            <div class="login" fxLayout="row" fxLayoutAlign="center center">
                <a class="link" [routerLink]="'/login'">Revenir à la page de connexion</a>
            </div>

        </div>

    </div>

</div>