@import "src/@fuse/scss/fuse";

invoice-modern {
  #invoice {
    &.modern {
      padding: 0;

      .invoice-container {
        padding: 5px;
        .card {
          margin: 5px;
          padding: 25px;
          overflow: hidden;
          background: #ffffff;
          @include mat-elevation(7);

          .header {
            .ids {
              line-height: 22px;
              color: rgba(0, 0, 0, 0.54);

              .detail {
                width: 160px;
              }

              .seller {
                margin-bottom: 0;

                .logo {
                  width: 156px;
                }
              }

              .client {
                .label {
                  width: 156px;
                  font-size: 24px;
                  font-weight: 300;
                }
              }

              .divider {
                width: 1px;
                margin: 0 48px;
                background-color: rgba(0, 0, 0, 0.12);
                height: 144px;
              }
            }

            .summary {
              font-size: 15px;

              .label {
                color: rgba(0, 0, 0, 0.54);
                text-align: left;
                padding-right: 16px;
              }

              .value {
                color: rgba(0, 0, 0, 1);
              }

              .code {
                font-size: 35px;
                font-weight: 300;

                td {
                  padding-bottom: 32px;
                }
              }
            }
          }

          .content {
            .invoice-table {
              margin-top: 96px;
              font-size: 15px;
              color: rgba(0, 0, 0, 0.87);

              thead {
                tr {
                  th {
                    color: rgba(0, 0, 0, 0.87);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                  }
                }
              }

              tbody {
                tr {
                  td {
                    color: rgba(0, 0, 0, 0.87);
                    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
                  }
                }
              }

              .title {
                font-size: 17px;
              }

              .detail {
                margin-top: 8px;
                font-size: 12px;
                color: rgba(0, 0, 0, 0.54);
                max-width: 360px;
              }
            }

            .invoice-table-footer {
              margin: 32px 0 96px 0;

              tr {
                td {
                  text-align: right;
                  font-size: 17px;
                  font-weight: 600;
                  color: rgba(0, 0, 0, 0.54);
                  border-bottom: none;
                  padding: 8px 8px;

                  &:first-child {
                    text-align: left;
                  }
                }

                &.discount {
                  td {
                    padding-bottom: 32px;
                  }
                }

                &.total {
                  td {
                    padding: 32px 8px;
                    border-top: 1px solid rgba(0, 0, 0, 0.12);
                    font-size: 35px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 1);
                  }
                }
              }
            }
          }

          .footer {
            .note {
              font-size: 15px;
              font-weight: 600;
              margin-bottom: 24px;
            }

            // IE10 fix
            .logo,
            .small-note {
              -ms-flex: 0 1 auto;
            }

            .logo {
              width: 32px;
              min-width: 32px;
              margin-right: 24px;
            }

            .small-note {
              font-size: 12px;
              font-weight: 600;
              color: rgba(0, 0, 0, 0.54);
              line-height: 18px;
            }
          }
        }
      }
    }
  }

  /* PRINT STYLES */
  @media print {
    /* Invoice Specific Styles */
    #invoice {
      &.modern {
        background: white;

        .invoice-container {
          padding: 0;

          .card {
            width: 100%;
            min-width: 0;
            background: none;
            padding: 0;
            box-shadow: none;

            .header {
              .ids {
                .detail {
                  width: 120pt;
                }

                .seller {
                  margin-bottom: 8pt;

                  .logo {
                    width: 60pt;
                  }
                }

                .client {
                  .label {
                    width: 60pt;
                    font-size: 16pt;
                  }
                }

                .divider {
                  margin: 0 12pt;
                  height: 100pt;
                }
              }

              .summary {
                font-size: 10pt;

                .code {
                  font-size: 18pt;

                  td {
                    padding-bottom: 10pt;
                  }
                }
              }
            }

            .content {
              .invoice-table {
                margin-top: 16pt;

                thead {
                  tr {
                    th {
                      font-size: 10pt;
                      max-width: 60pt;

                      &:first-child {
                        padding-left: 0;
                      }

                      &:last-child {
                        padding-right: 0;
                      }
                    }
                  }
                }

                tbody {
                  tr {
                    td {
                      &:first-child {
                        padding-left: 0;
                      }

                      &:last-child {
                        padding-right: 0;
                      }
                    }
                  }
                }

                .title {
                  font-size: 10pt;
                }

                .detail {
                  margin-top: 4pt;
                  font-size: 9pt;
                  max-width: none;
                }
              }

              .invoice-table-footer {
                margin: 16pt 0;

                tr {
                  td {
                    font-size: 13pt;
                    padding: 4pt 4pt;

                    &:first-child {
                      text-align: left;
                      padding-left: 0;
                    }

                    &:last-child {
                      padding-right: 0;
                    }
                  }

                  &.discount {
                    td {
                      padding-bottom: 16pt;
                    }
                  }

                  &.total {
                    td {
                      padding: 16pt 4pt 0 4pt;
                      font-size: 16pt;

                      &:first-child {
                        padding-left: 0;
                      }

                      &:last-child {
                        padding-right: 0;
                      }
                    }
                  }
                }
              }
            }

            .footer {
              .note {
                font-size: 10pt;
                margin-bottom: 8pt;
              }

              .logo {
                font-size: 14pt;
                margin-right: 8pt;
              }

              .small-note {
                font-size: 8pt;
                line-height: normal;
              }
            }
          }
        }
      }
    }
  }
}
.divider {
  width: 1px;
  margin: 0 27px;
  background-color: rgba(0, 0, 0, 0.12);
  height: 144px;
}

.border-resume {
  padding: 10px;
  margin: 10px;
  background: #ffffff;
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14),
    0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.halfScreen {
  width: 50%;
}
.allScreen {
  width: 100%;
}
.c-table {
  width: 100%;
}

mat-progress-bar.mat-progress-bar-buffer .mat-progress-bar-fill::after {
  background-color: green;
  width: 327px !important;
  margin-right: 10px !important;
  height: 12px !important;
}
body.theme-default .mat-progress-bar-buffer {
  width: 300px !important;
  margin-right: 10px !important;
  height: 12px !important;
}
.mat-progress-bar {
  width: 300px !important;
  margin-right: 10px !important;
  height: 12px !important;
}
mat-progress-bar {
  width: 300px !important;
  margin-right: 10px !important;
  height: 12px !important;
}

.valueprogress {
  color: red;
  size: 14px;
  white-space: nowrap;
}
.actif {
  color: green;
}
.close {
  color: red;
}
.c-btn-small {
  font-size: 12px;
  line-height: 28px;
}
.c-toolbar-emission {
  background: #fff;
}
.c-stepper input[type=number]::-webkit-outer-spin-button,
.c-stepper input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.c-stepper input[type=number] {
    -moz-appearance:textfield;
}


.c-stepper{background: #fff;border: 1px solid #ccc;padding: 3px 0;margin: 10px 0;border-radius: 4px;}
.c-stepper .material-icons{color: #3498db!important;font-weight: bold;}
.c-stepper .c-stepper-plus,.c-stepper-minus{text-align: center;color: #1e9fd4;cursor: pointer;display: inline-block;height: 32px;width: 50px;position: relative;padding-top: 5px;}
.c-stepper .c-stepper-minus{border-right:1px solid #ccc;}
.c-stepper .c-stepper-plus{border-left:1px solid #ccc;}
.c-stepper .c-stepper-input{display: inline-block;}
.c-stepper .c-stepper-input input{width: auto;padding: 0 10px 0 10px;height: 32px;}
.c-mat-headline-15{font-size: 15px;text-transform: uppercase;font-weight: bold;}
.c-icon-rate{font-size: 17px;margin: 10px 0 0 0;}
.c-btn-investor{margin: 5px;padding: 0 31px;text-transform: uppercase;font-weight: bold;font-size: 17px;}
.c-dataroom-select{cursor: pointer;}
body.theme-default .c-btn-investor{background: #2ecc71!important;}
body.theme-default .c-btn-investor[disabled]{background: #ef6629!important;color: #fff!important;cursor: not-allowed;opacity: 0.5;}
.c-filter{background: #fff;    border: 1px solid #ccc;border-radius: 4px;margin: 20px 0;}
.c-icon-contact{width: 50px;height: 50px;}
.c-icon-contact .mat-button-wrapper{vertical-align: middle;}
.c-icon-contact .mat-button-wrapper .mat-icon{margin-left: 4px;}
.c-badge-user{width: 35px;height: 35px;vertical-align: middle;text-align: center;padding-top: 7px;margin-right: 10px;font-weight: bold;color: #fff;border-radius: 50%;}
.badge-red{background: #e74c3c;}
.badge-orange{background: #e67e22;}
.badge-blue{background: #2980b9;}
.badge-green{background: #27ae60;}