<!-- Content -->
<div class="page-layout carded fullwidth">
    <!-- / TOP BACKGROUND -->
    <div>
        <!-- CONTENT HEADER -->
        <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
            <button mat-icon-button class="mr-0 mr-sm-16" (click)="backTo()">
                <mat-icon>arrow_back</mat-icon>
            </button>
            <h2 class="m-0">{{ dataSource?.type }}</h2>
        </div>
        <!-- / CONTENT HEADER -->
        <!-- CONTENT CARD -->
        <div class="content-card">
            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8 c-toolbar-emission" fxLayout="row" fxLayoutAlign="space-between center">
                <span>{{ dataSource?.emetteurId.firstname }} {{ dataSource?.emetteurId.lastname }}</span>
                <span>Date de création:
                    <span
                        class="accent-900-fg mat-caption">{{dataSource?.creationDate | amLocale:'fr' | amTimeAgo}}</span>
                </span>
            </div>
            <!-- / CONTENT TOOLBAR -->
            <div class="content p-24">
                <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" fxFlex="100">
                    <div id="invoice" class="modern page-layout blank" fxLayout="row">
                        <div class="invoice-container" fxFlex="100">
                            <mat-tab-group #tabGroup dynamicHeight="true" fxFlex="100"
                                (selectedTabChange)="onLinkClick($event)">
                                <!-- Executive summary -->
                                <mat-tab label="Executive summary">
                                    <!-- CD BT CAT -->
                                    <div *ngIf="dataSource?.type != 'Emprunt obligataire'">
                                        <div class="card my-20">
                                            <div class="header" fxLayout="column" fxLayoutAlign="center center">

                                                <div class="ids" style="width: 100%;" fxLayout="row" fxFlex="100">

                                                    <div fxLayout="row" class="seller halfScreen"
                                                        fxLayoutAlign="center center">

                                                        <div class="logo">
                                                            <img src="{{urlLogo}}">
                                                        </div>

                                                        <div class="divider"></div>

                                                        <div class="detail">
                                                            <div class="title">{{dataSource?.emetteurId?.societe}}</div>
                                                        </div>
                                                    </div>

                                                    <table class="summary halfScreen">
                                                        <tr class="code">
                                                            <td class="label">Taux d'intérêt:</td>
                                                            <td class="value">
                                                                {{dataSource?.rateFixedActuarial| number:'1.2'}}%
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Durée de l'émission:</td>
                                                            <td class="value">{{dataSource?.period}} mois</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Taux d'intérêt nominal brut fixe:</td>
                                                            <td class="value">
                                                                {{dataSource?.rateFixedNominal| number:'1.2'}}%
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Résiliation anticipée:</td>
                                                            <td class="value">{{ dataSource?.anticipatedTerm }}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.anticipatedTerm == 'Oui'">
                                                            <td class="label">Taux de résiliation anticipée:</td>
                                                            <td class="value">
                                                                {{dataSource?.rateAntipTerm| number:'1.2'}}%</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Versement des intérêts:</td>
                                                            <td class="value">{{dataSource?.paymentInterest}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Imposition des intérêts:</td>
                                                            <td class="value">{{dataSource?.taxationInter}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Investissement minimum à partir de:</td>
                                                            <td class="value">{{dataSource?.miniInvest}}DT</td>
                                                        </tr>
                                                    </table>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <!-- EO -->
                                    <div *ngIf="dataSource?.type == 'Emprunt obligataire'">
                                        <!-- Logo / information rate -->
                                        <div class="card my-20">
                                            <!-- Logo / information rate -->
                                            <div class="header" fxLayout="column" fxLayoutAlign="center center">
                                                <div class="ids" style="width: 100%;" fxLayout="row" fxFlex="100">
                                                    <!-- Logo / company -->
                                                    <div fxLayout="row" class="seller halfScreen"
                                                        fxLayoutAlign="center">

                                                        <div class="logo">
                                                            <img src="{{urlLogo}}">
                                                        </div>

                                                        <div class="divider"></div>

                                                        <div class="detail">
                                                            <div class="title">{{dataSource?.emetteurId.societe}}</div>
                                                        </div>
                                                    </div>
                                                    <!-- Information rate -->
                                                    <table class="summary halfScreen">
                                                        <tr class="code" *ngIf="dataSource?.RembourseTauxFixeBool">
                                                            <td class="label">Taux fixe:</td>
                                                            <td class="value">
                                                                {{dataSource?.RembourseTauxFixeAmount| number:'1.2'}}%
                                                            </td>
                                                        </tr>
                                                        <tr class="code" *ngIf="dataSource?.RembourseTauxVariableBool">
                                                            <td class="label">Taux Variable:</td>
                                                            <td class="value">
                                                                {{dataSource?.RembourseTauxVariableAmount| number:'1.2'}}%
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Raison sociale:</td>
                                                            <td class="value">{{dataSource?.infoRaisonSocial}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Secteur:</td>
                                                            <td class="value">{{dataSource?.infoSecteur}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Forme juridique:</td>
                                                            <td class="value">{{ dataSource?.infoJuridicForm}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td class="label">Site web:</td>
                                                            <td class="value">{{dataSource?.infoSiteWeb}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoStatusObligatoire">
                                                            <td class="label">Date décision AGO:</td>
                                                            <td class="value">
                                                                {{dataSource?.infoDateDecisionAGO| date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoStatusObligatoire">
                                                            <td class="label">Date décision conseil d'administration:
                                                            </td>
                                                            <td class="value">
                                                                {{dataSource?.infoDateConseilAdd| date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoRating">
                                                            <td class="label">Agence de notation:</td>
                                                            <td class="value">{{dataSource?.infoAgenceDeNotation}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoRating">
                                                            <td class="label">Date de notation:</td>
                                                            <td class="value">
                                                                {{dataSource?.infoDateNotation| date:'dd/MM/yyyy'}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoRating">
                                                            <td class="label">Rating à long terme:</td>
                                                            <td class="value">{{dataSource?.infoRatingLong}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.infoRating">
                                                            <td class="label">Rating à court terme:</td>
                                                            <td class="value">{{dataSource?.infoRatingCourt}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Emprunt / Remboursement -->
                                        <div class="my-20">
                                            <div fxLayout="row" fxLayoutAlign="start">
                                                <!-- Emprunt -->
                                                <div fxLayout="row wrap" class="card mr-8" fxFlex="50"
                                                    fxLayoutAlign="stretch center">
                                                    <span class="mat-title" fxFlex="100" fxLayout="row">Emprunt</span>
                                                    <table class="summary">
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Nom:</td>
                                                            <td class="value">{{dataSource?.EmpruntName}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Montant:</td>
                                                            <td class="value">{{dataSource?.EmpruntMontant}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntMontantModifiableBool">
                                                            <td style="font-size: 15px" class="label">Montant
                                                                modifiable:</td>
                                                            <td class="value">{{dataSource?.EmpruntMontantModifiable}}
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Prix d'émission:
                                                            </td>
                                                            <td class="value">{{dataSource?.EmpruntPrixEmission}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Date de démarrage
                                                                des
                                                                souscriptions:</td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDateDemarrage | date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Date de clôture
                                                                des
                                                                souscriptions:</td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDatecloture | date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Date jouissance
                                                                des
                                                                souscriptions:</td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDateJouissance | date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntRating">
                                                            <td style="font-size: 15px" class="label">Agence de
                                                                notation:</td>
                                                            <td class="value">{{dataSource?.EmpruntAgenceNotation}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntRating">
                                                            <td style="font-size: 15px" class="label">Date du dernier
                                                                rating:
                                                            </td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDateRating | date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntRating">
                                                            <td style="font-size: 15px" class="label">Notation de
                                                                l'emprunt:
                                                            </td>
                                                            <td class="value">{{dataSource?.EmpruntNotationEmprunt}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntRating">
                                                            <td style="font-size: 15px" class="label">Rating à court
                                                                terme:</td>
                                                            <td class="value">{{dataSource?.EmpruntRatingCourt}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntAppelPublicBool">
                                                            <td style="font-size: 15px" class="label">VISA CMF N°:</td>
                                                            <td class="value">{{dataSource?.EmpruntVisaCMF}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntAppelPublicBool">
                                                            <td style="font-size: 15px" class="label">JORT N°:</td>
                                                            <td class="value">{{dataSource?.EmpruntJort}}</td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntAppelPublicBool">
                                                            <td style="font-size: 15px" class="label">Date VISA CMF:
                                                            </td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDateVisaCMF | date:'dd/MM/yyyy'}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.EmpruntAppelPublicBool">
                                                            <td style="font-size: 15px" class="label">Date de
                                                                publication au
                                                                JORT:</td>
                                                            <td class="value">
                                                                {{dataSource?.EmpruntDateJort | date:'dd/MM/yyyy'}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                                <!-- Remboursement -->
                                                <div fxLayout="row wrap" class="card ml-8" fxFlex="50"
                                                    fxLayoutAlign="stretch center">
                                                    <span class="mat-title" fxFlex="100"
                                                        fxLayout="row">Remboursement</span>

                                                    <table class="summary" fxFlex="100" fxLayout="row">
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Maturité:</td>
                                                            <td class="value">{{dataSource?.RembourseMaturity}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Modalité de
                                                                remboursement
                                                                amortie:</td>
                                                            <td class="value">{{dataSource?.EmpruntMontant}} DT</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Modalité de
                                                                remboursement
                                                                In Fine:</td>
                                                            <td class="value">{{dataSource?.EmpruntMontant}} DT</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Frequence de
                                                                coupons
                                                                annuelle:</td>
                                                            <td class="value">
                                                                {{dataSource?.RembourseFrequenceCouponYear ? 'Oui' : 'Non'}}
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Frequence de
                                                                coupons
                                                                semestrielle:</td>
                                                            <td class="value">
                                                                {{dataSource?.RembourseFrequenceCouponSemester ? 'Oui' : 'Non' }}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.RembourseYearGraceBool">
                                                            <td style="font-size: 15px" class="label">Nombre d'années de
                                                                grâce:
                                                            </td>
                                                            <td class="value">{{dataSource?.RembourseYearGraceAmount}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.RembourseTauxFixeBool">
                                                            <td style="font-size: 15px" class="label">Taux fixe:</td>
                                                            <td class="value">{{dataSource?.RembourseTauxFixeAmount}}
                                                            </td>
                                                        </tr>

                                                        <tr *ngIf="dataSource?.RembourseTauxVariableBool">
                                                            <td style="font-size: 15px" class="label">Taux variable:
                                                            </td>
                                                            <td class="value">
                                                                {{dataSource?.RembourseTauxVariableAmount}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Emetteur / Souscriptions -->
                                        <div class="my-20">
                                            <div fxLayout="row" fxLayoutAlign="start">
                                                <!-- Emetteur -->
                                                <div fxLayout="row wrap" class="card mr-8" fxFlex="50"
                                                    fxLayoutAlign="stretch start">
                                                    <span class="mat-title" fxFlex="100" fxLayout="row">Emetteur</span>
                                                    <table class="summary" fxFlex="100" fxLayout="row">
                                                        <tr c>
                                                            <td style="font-size: 15px" class="label">Société:</td>
                                                            <td class="value">{{dataSource?.emtteurSociete}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Nom:</td>
                                                            <td class="value">{{dataSource?.emtteurNom}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Prénom:</td>
                                                            <td class="value">{{dataSource?.emtteurPrenom}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Téléphone:</td>
                                                            <td class="value">{{dataSource?.emtteurPhone}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Adresse e-mail:
                                                            </td>
                                                            <td class="value">{{dataSource?.emtteurEmail}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Site web:</td>
                                                            <td class="value">{{dataSource?.emtteurSiteWeb}}</td>
                                                        </tr>



                                                    </table>
                                                    <div *ngIf="dataSource?.conseillerBool" style="margin:30px;">

                                                    </div>
                                                    <div *ngIf="dataSource?.conseillerBool" class="label" fxLayout="row"
                                                        fxLayoutAlign="end center">
                                                        <div>Conseiller</div>
                                                    </div>

                                                    <div *ngIf="dataSource?.conseillerBool" class="divider">

                                                    </div>

                                                    <table *ngIf="dataSource?.conseillerBool" class="summary">
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Société:</td>
                                                            <td class="value">{{dataSource?.conseillerSociete}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Nom:</td>
                                                            <td class="value">{{dataSource?.conseillerNom}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Prénom:</td>
                                                            <td class="value">{{dataSource?.conseillerPrenom}}</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Téléphone:</td>
                                                            <td class="value">{{dataSource?.conseillerPhone}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Adresse e-mail:
                                                            </td>
                                                            <td class="value">{{dataSource?.conseillerEmail}}</td>
                                                        </tr>

                                                        <tr>
                                                            <td style="font-size: 15px" class="label">Site web:</td>
                                                            <td class="value">{{dataSource?.conseillerSiteWeb}}</td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Data room -->
                                        <div class="my-20">
                                            <div fxLayout="row" fxLayoutAlign="start">
                                                <!-- Data room -->
                                                <div fxLayout="row wrap" class="card" fxFlex="100"
                                                    fxLayoutAlign="space-around start">
                                                    <span class="mat-title" fxFlex="100" fxLayout="row">Data Room</span>
                                                    <!-- Note d'operation -->
                                                    <div>
                                                        <mat-list>
                                                            <h3 mat-subheader>Documents de l'opération</h3>
                                                            <mat-list-item
                                                                *ngFor="let docOp of dataSource?.noteOperation"
                                                                (click)="downloadFile(docOp)" class="c-dataroom-select">
                                                                <mat-icon mat-list-icon>
                                                                    <img src="assets/icons/pdf.png" alt="">
                                                                </mat-icon>
                                                                <h4 mat-line>{{docOp.name}}</h4>
                                                                <p mat-line> {{docOp.createdAt | date}} </p>
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                    <!-- Document juridique -->
                                                    <div>
                                                        <mat-list>
                                                            <h3 mat-subheader>Documents juridiques</h3>
                                                            <mat-list-item
                                                                *ngFor="let docjur of dataSource?.documentJuridique"
                                                                (click)="downloadFile(docjur)"
                                                                class="c-dataroom-select">
                                                                <mat-icon mat-list-icon>
                                                                    <img src="assets/icons/pdf.png" alt="">
                                                                </mat-icon>
                                                                <h4 mat-line>{{docjur.name}}</h4>
                                                                <p mat-line> {{docjur.createdAt | date}} </p>
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                    <!-- Documents comptables -->
                                                    <div>
                                                        <mat-list>
                                                            <h3 mat-subheader>Documents comptables</h3>
                                                            <mat-list-item
                                                                *ngFor="let docCpt of dataSource?.documentComptable"
                                                                (click)="downloadFile(docCpt)"
                                                                class="c-dataroom-select">
                                                                <mat-icon mat-list-icon>
                                                                    <img src="assets/icons/pdf.png" alt="">
                                                                </mat-icon>
                                                                <h4 mat-line>{{docCpt.name}}</h4>
                                                                <p mat-line> {{docCpt.createdAt | date}} </p>
                                                            </mat-list-item>
                                                        </mat-list>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center" *ngIf="!isEmissionOwner">
                                        <button class="c-btn-investor c-button-cus" mat-raised-button type="button"
                                            color="accent" (click)="goToInvestorTab()">
                                            Investir
                                        </button>
                                    </div>
                                </mat-tab>
                                <!-- Details product -->
                                <mat-tab label="Fiche produit">
                                    <div class="card">
                                        <mat-accordion class="faqs-accordion">
                                            <mat-expansion-panel
                                                *ngFor="let product of fileProduct; let i = index"
                                                [expanded]="step === i" (opened)="setStep(i)">
                                                <!-- Header -->
                                                <mat-expansion-panel-header>
                                                    <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                                                        <mat-icon class="mr-12 s-20 secondary-text">help_outline
                                                        </mat-icon>
                                                        {{ product.title }}
                                                    </mat-panel-title>
                                                </mat-expansion-panel-header>
                                                <!-- Content -->
                                                <span>{{ product.content }}</span>
                                                <ul
                                                    *ngIf="product?.children != undefined && product?.children.length > 0">
                                                    <li *ngFor="let item of product.children">
                                                        <strong>{{ item.title }}</strong> {{ item.content }}
                                                        <ul
                                                            *ngIf="item.children != undefined && item.children.length > 0">
                                                            <li *ngFor="let subItem of item.children">
                                                                <strong>{{ subItem.title }}:</strong>
                                                                {{ subItem.content }}
                                                            </li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </mat-expansion-panel>
                                        </mat-accordion>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center" *ngIf="!isEmissionOwner">
                                        <button class="c-btn-investor c-button-cus" mat-raised-button type="button"
                                            color="accent" (click)="goToInvestorTab()">
                                            Investir
                                        </button>
                                    </div>
                                </mat-tab>
                                <!-- Investor -->
                                <mat-tab label="Investir" *ngIf="!isEmissionOwner">
                                    <!-- Investor -->
                                    <div class="card" *ngIf="!isEmissionOwner">
                                        <!-- Emission EO -->
                                        {{ datasource | json }}
                                        <!-- Investisseur -->
                                        <div class="header" fxLayout="column" fxLayoutAlign="stretch"
                                            *ngIf="dataSource?.type == 'Emprunt obligataire'">
                                            <div class="h1 text-center">Investir</div>
                                            <hr fxFlexFill>
                                            <form [formGroup]="formInvEO" fxLayout="column">
                                                <div formArrayName="investissement" fxFlex="100">
                                                    <div
                                                        *ngFor="let category of formInvEO.controls.investissement.controls; let i=index">
                                                        <span
                                                            class="mat-headline c-mat-headline-15">{{category.value.categorie}}</span>
                                                        <!-- Bloc invest -->
                                                        <div class="c-invest-cat" [formGroupName]="i">
                                                            <div formArrayName="values">
                                                                <div
                                                                    *ngFor="let item of category.controls.values.controls;let ivalues = index">
                                                                    <div [formGroupName]="ivalues">
                                                                        <!-- Rate -->
                                                                        <div fxFlex="31" fxLayoutAlign="start center">
                                                                            <i class="material-icons c-icon-rate">
                                                                                assessment
                                                                            </i>
                                                                            <span *ngIf="item.value.type == 'fix'">Taux
                                                                                Fixe {{ item.value.rate }} % sur
                                                                                {{ category.value.maturite }} ans</span>
                                                                            <span
                                                                                *ngIf="item.value.type == 'variable'">Taux
                                                                                Variable TMM+ {{ item.value.rate }}
                                                                                %
                                                                                sur
                                                                                {{ category.value.maturite }} ans</span>
                                                                        </div>
                                                                        <!-- Amount -->
                                                                        <div fxFlex="39" fxLayout="column"
                                                                            fxLayoutAlign="start center">
                                                                            <div class="c-stepper">
                                                                                <div class="c-stepper-minus"
                                                                                    (click)="decreaseValue(item)">
                                                                                    <i class="material-icons">
                                                                                        remove
                                                                                    </i>
                                                                                </div>
                                                                                <div class="c-stepper-input">
                                                                                    <input type="number" matInput
                                                                                        formControlName="amount"
                                                                                        placeholder="Montant"
                                                                                        (change)="changeamountValue($event,item)">
                                                                                </div>
                                                                                <div class="c-stepper-plus"
                                                                                    (click)="increaseValue(item)">
                                                                                    <i class="material-icons">
                                                                                        add
                                                                                    </i>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Separator -->
                                                        <mat-divider class="mt-12 pb-12"></mat-divider>
                                                    </div>
                                                </div>
                                                <!-- Button -->
                                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                                                    <button class="c-btn-investor c-button-cus" mat-raised-button
                                                        [disabled]="formInvEO.invalid" type="button" style="margin:5px"
                                                        color="accent" (click)="onInvestir(formInvEO)">
                                                        Investir
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                        <!-- Investisseur -->
                                        <div class="header" fxLayout="column" fxLayoutAlign="stretch"
                                            *ngIf="dataSource?.type != 'Emprunt obligataire'">
                                            <div class="h1 text-center">Investir</div>
                                            <!-- <mat-divider fxFlex="100"></mat-divider> -->
                                            <hr fxFlexFill>
                                            <form [formGroup]="amountForm" fxLayout="row" fxLayoutAlign="space-around"
                                                (ngSubmit)="onInvestir(amountForm)">
                                                <!-- Amount -->
                                                <div fxFlex="35" fxLayoutAlign="start center">
                                                    <mat-form-field fxFlex="100">
                                                        <mat-label>Montant (TND)</mat-label>
                                                        <input type="number" matInput formControlName="amount" min="1"
                                                            required>
                                                        <!-- Field Required -->
                                                        <mat-error *ngIf="amountForm.controls.amount.errors?.required">
                                                            Le montant est obligatoire
                                                        </mat-error>
                                                        <!-- Field Min -->
                                                        <mat-error *ngIf="amountForm.controls.amount.errors?.min">
                                                            Valeur minimum du montant est {{ dataSource.miniInvest }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Rate -->
                                                <div fxFlex="35" fxLayoutAlign="start center">
                                                    <mat-radio-group formControlName="rate">
                                                        <mat-radio-button value="1" class="pr-4" checked="true"
                                                            *ngIf="dataSource?.RembourseTauxFixeAmount">Taux
                                                            Fixe
                                                            ({{dataSource?.RembourseTauxFixeAmount| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="pl-4"
                                                            *ngIf="dataSource?.RembourseTauxVariableAmount"
                                                            checked="true">
                                                            Taux
                                                            Variable
                                                            ({{dataSource?.RembourseTauxVariableAmount| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                        <mat-radio-button value="3" class="pl-4"
                                                            *ngIf="dataSource?.rateFixedNominal" checked="true">Taux
                                                            d'intérêt
                                                            ({{dataSource?.rateFixedNominal| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <!-- Investir -->
                                                <div fxFlex="20" fxLayoutAlign="start center">
                                                    <!-- Confirm -->
                                                    <button fxFlex="100" mat-raised-button class="submit-button"
                                                        color="accent" [disabled]="amountForm.invalid">
                                                        Investir
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </mat-tab>
                                <!-- Dashboard -->
                                <mat-tab label="Dashboard">
                                    <!-- Investor -->
                                    <div class="card" *ngIf="!isEmissionOwner">
                                        <!-- Emission EO -->
                                        {{ datasource | json }}
                                        <!-- Investisseur -->
                                        <div class="header" fxLayout="column" fxLayoutAlign="stretch"
                                            *ngIf="dataSource?.type == 'Emprunt obligataire'">
                                            <div class="h1 text-center">Investir</div>
                                            <hr fxFlexFill>
                                            <form [formGroup]="formInvEO" fxLayout="column">
                                                <div formArrayName="investissement" fxFlex="100">
                                                    <div
                                                        *ngFor="let category of formInvEO.controls.investissement.controls; let i=index">
                                                        <span
                                                            class="mat-headline c-mat-headline-15">{{category.value.categorie}}</span>
                                                        <!-- Bloc invest -->
                                                        <div class="c-invest-cat" [formGroupName]="i">
                                                            <div formArrayName="values">
                                                                <div
                                                                    *ngFor="let item of category.controls.values.controls;let ivalues = index">
                                                                    <div [formGroupName]="ivalues">
                                                                        <!-- Rate -->
                                                                        <div fxFlex="31" fxLayoutAlign="start center">
                                                                            <i class="material-icons c-icon-rate">
                                                                                assessment
                                                                            </i>
                                                                            <span *ngIf="item.value.type == 'fix'">Taux
                                                                                Fixe {{ item.value.rate }} % sur
                                                                                {{ category.value.maturite }} ans</span>
                                                                            <span
                                                                                *ngIf="item.value.type == 'variable'">Taux
                                                                                Variable TMM+ {{ item.value.rate }}
                                                                                %
                                                                                sur
                                                                                {{ category.value.maturite }} ans</span>
                                                                        </div>
                                                                        <!-- Amount -->
                                                                        <div fxFlex="39" fxLayout="column"
                                                                            fxLayoutAlign="start center">
                                                                            <div class="c-stepper">
                                                                                <div class="c-stepper-minus"
                                                                                    (click)="decreaseValue(item)">
                                                                                    <i class="material-icons">
                                                                                        remove
                                                                                    </i>
                                                                                </div>
                                                                                <div class="c-stepper-input">
                                                                                    <input type="number" matInput
                                                                                        formControlName="amount"
                                                                                        placeholder="Montant"
                                                                                        (change)="changeamountValue($event,item)">
                                                                                </div>
                                                                                <div class="c-stepper-plus"
                                                                                    (click)="increaseValue(item)">
                                                                                    <i class="material-icons">
                                                                                        add
                                                                                    </i>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- Separator -->
                                                        <mat-divider class="mt-12 pb-12"></mat-divider>
                                                    </div>
                                                </div>
                                                <!-- Button -->
                                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center">
                                                    <button class="c-btn-investor c-button-cus" mat-raised-button
                                                        [disabled]="formInvEO.invalid" type="button" style="margin:5px"
                                                        color="accent" (click)="onInvestir(formInvEO)">
                                                        Investir
                                                    </button>
                                                </div>
                                            </form>

                                        </div>
                                        <!-- Investisseur -->
                                        <div class="header" fxLayout="column" fxLayoutAlign="stretch"
                                            *ngIf="dataSource?.type != 'Emprunt obligataire'">
                                            <div class="h1 text-center">Investir</div>
                                            <!-- <mat-divider fxFlex="100"></mat-divider> -->
                                            <hr fxFlexFill>
                                            <form [formGroup]="amountForm" fxLayout="row" fxLayoutAlign="space-around"
                                                (ngSubmit)="onInvestir(amountForm)">
                                                <!-- Amount -->
                                                <div fxFlex="35" fxLayoutAlign="start center">
                                                    <mat-form-field fxFlex="100">
                                                        <mat-label>Montant (TND)</mat-label>
                                                        <input type="number" matInput formControlName="amount" min="1"
                                                            required>
                                                        <!-- Field Required -->
                                                        <mat-error *ngIf="amountForm.controls.amount.errors?.required">
                                                            Le montant est obligatoire
                                                        </mat-error>
                                                        <!-- Field Min -->
                                                        <mat-error *ngIf="amountForm.controls.amount.errors?.min">
                                                            Valeur minimum du montant est {{ dataSource.miniInvest }}
                                                        </mat-error>
                                                    </mat-form-field>
                                                </div>
                                                <!-- Rate -->
                                                <div fxFlex="35" fxLayoutAlign="start center">
                                                    <mat-radio-group formControlName="rate">
                                                        <mat-radio-button value="1" class="pr-4" checked="true"
                                                            *ngIf="dataSource?.RembourseTauxFixeAmount">Taux
                                                            Fixe
                                                            ({{dataSource?.RembourseTauxFixeAmount| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                        <mat-radio-button value="2" class="pl-4"
                                                            *ngIf="dataSource?.RembourseTauxVariableAmount"
                                                            checked="true">
                                                            Taux
                                                            Variable
                                                            ({{dataSource?.RembourseTauxVariableAmount| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                        <mat-radio-button value="3" class="pl-4"
                                                            *ngIf="dataSource?.rateFixedActuarial" checked="true">Taux
                                                            d'intérêt
                                                            ({{dataSource?.rateFixedActuarial| number:'1.2'}}%)
                                                        </mat-radio-button>
                                                    </mat-radio-group>
                                                </div>
                                                <!-- Investir -->
                                                <div fxFlex="20" fxLayoutAlign="start center">
                                                    <!-- Confirm -->
                                                    <button fxFlex="100" mat-raised-button class="submit-button"
                                                        color="accent" [disabled]="amountForm.invalid">
                                                        Investir
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <!-- Emetteur -->
                                    <div class="card" *ngIf="isEmissionOwner">
                                        <h1>Suivi des souscriptions</h1>
                                        <!-- Emitteur -->
                                        <div class="header" fxLayout="column" fxLayoutAlign="center space-around">
                                            <div fxFlex="100" class="my-20">
                                                <table class="c-table" mat-table [dataSource]="listInvestment"
                                                    fxFlex="100">

                                                    <!-- Firstname Column -->
                                                    <ng-container matColumnDef="firstname">
                                                        <th mat-header-cell *matHeaderCellDef> Nom </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.investorId.firstname}}
                                                            {{element.investorId.lastname}} </td>
                                                    </ng-container>

                                                    <!-- Amount Column -->
                                                    <ng-container matColumnDef="amount">
                                                        <th mat-header-cell *matHeaderCellDef> Montant </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
                                                    </ng-container>

                                                    <!-- Rate Column -->
                                                    <ng-container matColumnDef="rate">
                                                        <th mat-header-cell *matHeaderCellDef> Taux </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.rate}} </td>
                                                    </ng-container>

                                                    <!-- Status Column -->
                                                    <ng-container matColumnDef="status">
                                                        <th mat-header-cell *matHeaderCellDef> Statut </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
                                                    </ng-container>

                                                    <!-- Button Accept or refuse -->
                                                    <ng-container matColumnDef="Accepter/Refuser">
                                                        <th mat-header-cell *matHeaderCellDef> Accepter/Refuser </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <div *ngIf="element.status == 'en attente'">
                                                                <button mat-raised-button matStepperNext type="button"
                                                                    color="accent"
                                                                    class="green-bg mr-8 c-btn-small c-button-cus"
                                                                    (click)="accept(element._id)">Accepter</button>
                                                                <button mat-raised-button matStepperNext type="button"
                                                                    color="accent"
                                                                    class="red-bg ml-8 c-btn-small c-button-cus"
                                                                    (click)="refuse(element._id)">Refuser</button>
                                                            </div>
                                                            <div *ngIf="element.status != 'en attente'">
                                                                <span class="mat-body-1 px-4 py-4 white-color"
                                                                    [ngClass]="{'green-900': element.status == 'Accepté', 'red-900': element.status == 'Refusé' }">
                                                                    Offre
                                                                    {{ element?.status == 'Accepté' ? 'acceptée' :  'refusée'}}</span>
                                                            </div>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Souscriptions -->
                                    <div fxLayout="row wrap" class="card mr-8" fxFlex="100"
                                        fxLayoutAlign="stretch center">

                                        <div class="label" fxLayout="row" fxLayoutAlign="end center">

                                            <mat-list>
                                                <div class="h2">Etat des souscriptions</div>
                                                <div fxLayout="row">
                                                    <div class="ml-16">
                                                        <h3 matSubheader>Etat</h3>
                                                        <mat-list-item>
                                                            <mat-icon matListIcon>
                                                                <i class="material-icons"> class</i>
                                                            </mat-icon>
                                                            <span matLine class="actif text-bold"
                                                                *ngIf="ResultDate == false">
                                                                Actif </span>
                                                            <span matLine class="close text-bold"
                                                                *ngIf="ResultDate == true">
                                                                Clôturé </span>

                                                        </mat-list-item>
                                                    </div>
                                                    <div class="ml-16">
                                                        <h3 matSubheader
                                                            *ngIf="dataSource?.EmpruntMontant != undefined">
                                                            Restant
                                                        </h3>
                                                        <mat-list-item *ngIf="dataSource?.EmpruntMontant != undefined">
                                                            <mat-icon matListIcon>
                                                                <i class="material-icons"> money</i>
                                                            </mat-icon>
                                                            <h4 matLine>{{dataSource?.EmpruntMontant}}</h4>
                                                        </mat-list-item>
                                                    </div>
                                                </div>
                                                <div fxLayout="row">
                                                    <div class="ml-16">
                                                        <h3 matSubheader>Souscrit</h3>
                                                        <mat-list-item>
                                                            <mat-icon matListIcon>
                                                                <i class="material-icons"> money</i>
                                                            </mat-icon>
                                                            <h4 matLine>{{gaugeValue}} TND</h4>
                                                        </mat-list-item>
                                                    </div>
                                                    <div class="ml-16">
                                                        <h3 matSubheader>Nombre des souscriptions</h3>
                                                        <mat-list-item>
                                                            <mat-icon matListIcon>
                                                                <i class="material-icons"> how_to_vote</i>
                                                            </mat-icon>
                                                            <h4 matLine>{{NbInves}}</h4>
                                                        </mat-list-item>
                                                    </div>
                                                </div>
                                                <div fxLayout="column" fxLayoutAlign="space-around center">
                                                    <mat-list-item>
                                                        <mat-icon matListIcon>
                                                            <i class="material-icons"> av_timer </i>
                                                        </mat-icon>
                                                        <span
                                                            class="text-bold text-truncate fuse-black-A700-fg">{{Time}}
                                                            Restant(e)s</span>

                                                    </mat-list-item>
                                                    <mat-list-item *ngIf="dataSource?.EmpruntMontant != undefined">
                                                        <img src="assets/icons/profits.png" alt="">
                                                        <mat-progress-bar class="mat-progress-bar-buffer"
                                                            mode="determinate" [value]="ValueProgress">
                                                        </mat-progress-bar>
                                                        <span
                                                            class="valueprogress text-bold">{{ValueProgress | number:'1.0-0'}}%
                                                            souscrit</span>
                                                    </mat-list-item>
                                                </div>
                                            </mat-list>
                                        </div>
                                    </div>
                                    <!-- History investments -->
                                    <div class="my-20">
                                        <!-- History investments -->
                                        <div fxLayout="row wrap" class="card mr-8" fxFlex="100"
                                            fxLayoutAlign="stretch start" *ngIf="!isEmissionOwner">
                                            <span class="mat-title" fxFlex="100" fxLayout="row">Mes investments</span>
                                            <div fxFlex="100" class="my-20" fxLayout="column">
                                                <table class="c-table" mat-table [dataSource]="listmyinvestment"
                                                    fxFlex="100">

                                                    <!-- Amount Column -->
                                                    <ng-container matColumnDef="amount">
                                                        <th mat-header-cell *matHeaderCellDef> Montant investit (DT)
                                                        </th>
                                                        <td mat-cell *matCellDef="let element"> {{element.amount}}</td>
                                                    </ng-container>

                                                    <!-- CreatedDate Column -->
                                                    <ng-container matColumnDef="createdDate">
                                                        <th mat-header-cell *matHeaderCellDef> Date investissement </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            {{element.creationDate | date: 'dd/MM/yyyy HH:mm'}}
                                                        </td>
                                                    </ng-container>

                                                    <!-- Status Column -->
                                                    <ng-container matColumnDef="status">
                                                        <th mat-header-cell *matHeaderCellDef> Statut </th>
                                                        <td mat-cell *matCellDef="let element">
                                                            <span class="mat-body-1 px-4 py-4"
                                                                [ngClass]="{'green-900': element.status == 'Accepté', 'red-900': element.status == 'Refusé', 'orange-700':  element.status == 'en attente'}">
                                                                {{ element?.status }}</span>
                                                        </td>
                                                    </ng-container>
                                                    <tr mat-header-row *matHeaderRowDef="investmentsColumns"></tr>
                                                    <tr mat-row *matRowDef="let row; columns: investmentsColumns;"></tr>
                                                </table>
                                                <mat-paginator [length]="total" [pageSize]="limitPage"
                                                    [pageSizeOptions]="[5, 10, 25, 100]"
                                                    (page)="pageEvent = getServerData($event)">
                                                </mat-paginator>
                                            </div>
                                        </div>
                                    </div>
                                    <div fxLayout="row" fxFlex="100" fxLayoutAlign="center" *ngIf="!isEmissionOwner">
                                        <button class="c-btn-investor c-button-cus" mat-raised-button type="button"
                                            color="accent" (click)="goToInvestorTab()">
                                            Investir
                                        </button>
                                    </div>
                                </mat-tab>
                                <!-- Invited -->
                                <mat-tab label="Inviter" *ngIf="isEmissionOwner">
                                    <!-- Invite -->
                                    <div class="my-20" *ngIf="dataSource?.type == 'Emprunt obligataire'">
                                        <div fxLayout="column" fxLayoutAlign="start">

                                            <!-- Invite -->
                                            <div *ngIf="isEmissionOwner" fxLayout="row wrap" class="card" fxFlex="100"
                                                fxLayoutAlign="stretch center">
                                                <span class="mat-title" fxFlex="100" fxLayout="row">Inviter
                                                    des investisseurs</span>
                                                <!-- Filter -->
                                                <div class="c-filter mx-16" fxFlex="100">
                                                    <div fxLayout="row" fxLayoutAlign="start center"
                                                        class="px-12 mt-12">
                                                        <span class="mat-headline blue-900-fg">Recherche:</span>
                                                    </div>
                                                    <!-- Firstname / company / Secteur -->
                                                    <div fxLayout="row" fxLayoutAlign="start center"
                                                        class="px-12 mt-12">
                                                        <!-- Nom -->
                                                        <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
                                                            <mat-label>Par nom</mat-label>
                                                            <input matInput maxlength="30"
                                                                (change)="changeSearchQuery($event, 'name')">
                                                        </mat-form-field>
                                                        <!-- Company -->
                                                        <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
                                                            <mat-label>Par société</mat-label>
                                                            <input matInput maxlength="30"
                                                                (change)="changeSearchQuery($event, 'company')">
                                                        </mat-form-field>
                                                        <!-- Secteur -->
                                                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                                            <mat-label>Secteur</mat-label>
                                                            <mat-select
                                                                (selectionChange)="changeSearchQuery($event, 'sector')">
                                                                <mat-option *ngFor="let elt of listSecteur"
                                                                    [value]="elt.value">
                                                                    {{elt.label}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                    <!-- Fonction / Categorie -->
                                                    <div fxLayout="row" fxLayoutAlign="start center"
                                                        class="px-12 mb-20">
                                                        <!-- Fonction -->
                                                        <mat-form-field appearance="outline" class="pr-12" fxFlex="33">
                                                            <mat-label>Par fonction</mat-label>
                                                            <input matInput maxlength="30" placeholder="Par note"
                                                                (change)="changeSearchQuery($event, 'fonction')">
                                                        </mat-form-field>
                                                        <!-- Categorie -->
                                                        <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                                            <mat-label>Catégorie</mat-label>
                                                            <mat-select
                                                                (selectionChange)="changeSearchQuery($event, 'category')">
                                                                <mat-option *ngFor="let elt of listCategories"
                                                                    [value]="elt.value">
                                                                    {{elt.label}}
                                                                </mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </div>
                                                </div>

                                                <div class="summary" fxFlex="100" fxLayout="row">
                                                    <form fxLayout="column" [formGroup]="invitForm" fxFlex="100">
                                                        <div fxFlex="100" fxLayout="column">
                                                            <div fxFlex="100" fxLayout="row">
                                                                <mat-form-field class="example-chip-list" fxFlex="100">
                                                                    <mat-chip-list #chipList
                                                                        formControlName="myExtrenalContacts">
                                                                        <mat-chip *ngFor="let cont of externalContacts"
                                                                            [removable]="removable"
                                                                            (removed)="removeContact(cont)">
                                                                            {{cont.email}}
                                                                            <mat-icon matChipRemove *ngIf="removable">
                                                                                cancel
                                                                            </mat-icon>
                                                                        </mat-chip>
                                                                        <input
                                                                            placeholder="Ajout d'investisseurs hors contacts (Email)"
                                                                            [matChipInputFor]="chipList"
                                                                            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                                                            [matChipInputAddOnBlur]="addOnBlur"
                                                                            (matChipInputTokenEnd)="addContact($event)">
                                                                    </mat-chip-list>
                                                                </mat-form-field>
                                                            </div>
                                                            <div fxFlex="100" class="card-preview">
                                                                <div>
                                                                    <div class="p-16 pb-0">
                                                                        <div class="h1 font-weight-300">Liste des
                                                                            contacts
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-divider"></div>
                                                                    <div style="max-height:100%;overflow:auto;">
                                                                        <mat-selection-list formControlName="myContacts"
                                                                            #selectedContacts
                                                                            (selectionChange)="onSelection($event, selectedContacts.selectedOptions.selected)"
                                                                            style="height:150px;" class="pt-0 pb-16">
                                                                            <mat-list-option
                                                                                *ngFor="let contact of myContacts"
                                                                                checkboxPosition="before"
                                                                                [value]="contact.email">
                                                                                <div fxLayout="row"
                                                                                    fxLayoutAlign="stretch center">
                                                                                    <span class="c-badge-user"
                                                                                        [ngClass]="{'badge-red': contact.categorie =='suspect', 'badge-orange': contact.categorie == 'prospect', 'badge-blue': contact.categorie == 'lead', 'badge-green': contact.categorie == 'client'}">{{contact?.badge | uppercase }}
                                                                                    </span>
                                                                                    <span>{{contact.firstname}}
                                                                                        {{contact.lastname}}</span>
                                                                                </div>

                                                                            </mat-list-option>
                                                                        </mat-selection-list>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div fxLayout="row" fxFlex="100" fxLayoutAlign="center center">

                                                    <button mat-raised-button type="button" style="margin:5px"
                                                        color="accent" (click)="invitContacts()">
                                                        Inviter
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>