@import "src/@fuse/scss/fuse";

#academy-courses {

    .header {
        position: relative;
        flex: 1 0 auto;
        height: 280px;
        max-height: 280px;
        text-align: center;
        overflow: hidden;

        @include media-breakpoint('xs') {
            height: 240px;
            padding: 16px;
        }

        .hero-text {

            .hero-icon {
                position: absolute;
                top: -64px;
                left: 0px;
                opacity: 0.04;
                font-size: 512px !important;
                width: 512px !important;
                height: 512px !important;
            }

            h1 {
                font-size: 40px;
                font-weight: 300;
                letter-spacing: 0.01em;
                text-align: center;
                margin-top: 0;
                margin-bottom: 16px;

                @include media-breakpoint('xs') {
                    font-size: 24px;
                }
            }

            h3 {
                max-width: 480px;
                text-align: center;
                font-weight: 300;
                letter-spacing: 0.03em;
                margin: 0;

                @include media-breakpoint('xs') {
                    font-size: 14px;
                }
            }
        }
    }
    .Certificat-de-dépôt-bg {
        background: #e96d00;
    }
    .Comptes-à-terme-bg {
        background: #00c153;
    }

    .Billets-de-trésorerie-bg {
        background: #c40000;
    }
    .Emprunt-obligataire-bg {
        background: #2ea2e7;
    }
    .content {

        .category-selector {
            min-width: 288px;
        }

        .filters {
            width: 100%;
            max-width: 1100px;
            margin: 24px auto;
            padding: 0 20px;
            margin-bottom: 0;

            @include media-breakpoint('xs') {
                margin: 0 auto;
            }

            .course-search {
                width: 320px;

                @include media-breakpoint('gt-xs') {
                    margin-right: 16px;
                }
            }
        }

        .courses {
            width: 100%;
            max-width: 1040px;
            margin: 0 auto;

            .no-courses {
                font-size: 24px;
                margin: 24px 0;
                text-align: center;
            }

            .course {
                padding: 16px;

                &:hover {

                    .course-content {
                        border: none;
                        @include mat-elevation(12);
                    }
                }

                .course-content {
                    min-height: 240px;
                    border-radius: 4px;
                    overflow: hidden;
                    transition: box-shadow 200ms ease-in-out;
                    @include mat-elevation(1);

                    .header {
                        padding: 16px 24px;
                        height: 64px !important;
                        min-height: 64px !important;
                        max-height: 64px !important;

                        &.Certificat-de-dépôt-bg {
                            background: mat-color($mat-blue, 500);
                        }

                        &.android-bg {
                            background: mat-color($mat-green, 500);
                        }

                        &.firebase-bg {
                            background: mat-color($mat-amber, 800);
                        }

                        &.cloud-bg {
                            background: mat-color($mat-blue-grey, 500);
                        }

                        .category {
                            text-transform: capitalize;
                            text-align: left;
                            font-weight: 600;
                        }

                        .length {

                            .length-icon {
                                margin-right: 8px;
                            }

                            .min {
                                font-size: 16px;
                            }
                        }
                    }

                    .content {
                        padding: 24px;

                        .h1 {
                            font-size: 16px;
                            text-align: center;
                        }

                        .updated {
                            font-size: 13px;
                            font-weight: 600;
                            margin-top: 4px;
                        }
                    }

                    .footer {
                        padding: 16px;
                        height: 48px !important;
                        min-height: 48px !important;
                        max-height: 48px !important;
                        box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.12);
                    }
                }
            }
        }
    }
}

#dashboard-project {

    > .sidebar {
        width: 280px;
        min-width: 280px;
        max-width: 280px;
    }

    > .center {

        > .header {
            height: 160px;
            min-height: 160px;
            max-height: 160px;

            .selected-project {
                background: rgba(0, 0, 0, 0.12);
                color: #FFFFFF;
                padding: 8px 16px;
                height: 40px;
                line-height: 24px;
                font-size: 16px;
                border-radius: 8px 0 0 0;
            }

            .project-selector {
                margin-left: 1px;
                background: rgba(0, 0, 0, 0.12);
                border-radius: 0 8px 0 0;

                mat-icon {
                    color: #FFFFFF;
                }
            }
        }

        > .content {
            flex: 1;

            mat-tab-group {
                height: 100%;

                .mat-tab-body-wrapper {
                    flex-grow: 1;
                }
            }

            .mat-tab-label-container {
                padding: 0 24px;
            }
        }
    }
    .widget {
        max-width: 20%;
    }
    .widget {

        &.widget5 {

            .gridline-path.gridline-path-horizontal {
                display: none;
            }
        }
    }
}
//CSS added 25042019 Mzoughi Ahmed
//item marketplace header
.c-marketplace-header{margin: 20px;color:#fff;text-align: center;}
.c-marketplace-rate{color: #00c153;}
body.theme-default .c-marketplace-invisted.mat-flat-button{border-radius: 0;line-height: 28px;background: #27ae60;text-transform: uppercase;color: #fff;}
body.theme-default .c-marketplace-contact.mat-flat-button{border-radius: 0;line-height: 28px;background: #34495e;text-transform: uppercase;color: #fff;}
.c-star-rating{margin-left: auto;margin-right: 15px;}
.c-star-rating .material-icons{color: #f1c40f;}
.c-btn-details{border-radius: 0;background: #2ecc71 !important;line-height: 1;padding: 6px 15px;color: #fff;}
.c-btn-details .material-icons{color: #fff;font-size: 20px;}
.c-btn-details .c-btn-details-title{color: #fff;}
.c-title-filter{margin-top: -4px;color: rgba(0, 0, 0, 0.55);}
.c-type-marketplace .mat-button-toggle-checked{background: #2ea2e7!important;color: #fff!important;}