<div id="products" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <!-- <div class="top-bg accent"></div> -->
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div>

    <!-- HEADER -->
    <div class="header accent c-header-accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div fxFlex="30" class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">
          shopping_basket
        </mat-icon>
        <span class="logo-text h1">
          Mes comptes à terme
        </span>
      </div>
      <!-- / APP TITLE -->

      <!-- SEARCH -->
      <!-- <div fxFlex="30" class="search-wrapper mx-32 mx-md-0">
        <mat-form-field class="mat-form-field-white" fxFlex="100" class="pr-4">
          <mat-label>Status</mat-label>
          <mat-select [(ngModel)]="statusSelected" (selectionChange)="eventFilterStatusChange($event)">
            <mat-option *ngFor="let elt of listStatus" [value]="elt.value">
              {{elt.label}}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
        </mat-form-field>
      </div> -->
      <!-- / SEARCH -->

      <!-- ADD BUTTON -->
      <button mat-icon-button (click)="showDialogAdd()" class="mat-elevation-z8 pink-A400-bg">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        <!-- <span>
            CREER UNE NOUVELLE ÉMISSION
          </span> -->
      </button>
      <!-- / ADD BUTTON -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <mat-tab-group class="c-tabs-group" (selectedTabChange)="eventFilterStatusChange($event)">
        <!-- Tab filter all -->
        <mat-tab label="Tous" class="c-tabs-all">
          <mat-table class="products-table" [dataSource]="emissionCT" fusePerfectScrollbar>
            <!-- Horizon Column -->
            <ng-container matColumnDef="horizon">
              <mat-header-cell *matHeaderCellDef> Horizon</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.horizon}} </mat-cell>
            </ng-container>

            <!-- Durée Column -->
            <ng-container matColumnDef="period">
              <mat-header-cell *matHeaderCellDef> Durée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.period}} </mat-cell>
            </ng-container>

            <!-- EndDate -->
            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef> Date de fin</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.endEmission | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <!-- Taux d’intérêt actuariel Column -->
            <ng-container matColumnDef="rateFixedActuarial">
              <mat-header-cell *matHeaderCellDef> Taux d’intérêt actuariel</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedActuarial}} </mat-cell>
            </ng-container>
            <!-- Taux interet N Column -->
            <ng-container matColumnDef="rateFixedNominal">
              <mat-header-cell *matHeaderCellDef> Taux d'intérêt Nominal</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedNominal}} </mat-cell>
            </ng-container>
            <!-- Résiliation anticipée -->

            <ng-container matColumnDef="anticipatedTerm">
              <mat-header-cell *matHeaderCellDef> Résiliation anticipée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.anticipatedTerm}} </mat-cell>
            </ng-container>
            <!-- Taux de résiliation anticipée -->

            <!-- <ng-container matColumnDef="rateAntipTerm">
                  <mat-header-cell *matHeaderCellDef> Taux de résiliation anticipée</mat-header-cell>
                  <mat-cell *matCellDef="let emission"> {{emission?.rateAntipTerm}} </mat-cell>
                </ng-container> -->
            <!-- Status -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <mat-icon *ngIf="emission?.active" class="c-active-icon active-icon green-600 s-16">check</mat-icon>
                <mat-icon *ngIf="!emission?.active" class="c-active-icon active-icon red-500 s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- Details -->
            <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- details -->
                <button mat-icon-button color="accent" (click)="detailsCard(emission._id)">
                  <mat-icon aria-label="icon-button with a heart icon">search</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- Remove -->
                <!-- Extend Period -->
                <button mat-button [matMenuTriggerFor]="listActions" *ngIf="emission.active">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <!-- Actions delete / extend -->
                <mat-menu #listActions="matMenu">
                  <!-- Delete -->
                  <button mat-menu-item (click)="disabledEmission(emission)" *ngIf="emission.active">Clôturer</button>
                  <!-- Extend -->
                  <button mat-menu-item (click)="extendPeriodEmission(emission,3)"
                    *ngIf="emission.extendPeriod < 1">Prolonger de 3 mois</button>
                </mat-menu>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-tab>
        <mat-tab label="En cours" class="c-tabs-active">
          <mat-table class="products-table" [dataSource]="emissionCT" fusePerfectScrollbar>
            <!-- Horizon Column -->
            <ng-container matColumnDef="horizon">
              <mat-header-cell *matHeaderCellDef> Horizon</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.horizon}} </mat-cell>
            </ng-container>

            <!-- Durée Column -->
            <ng-container matColumnDef="period">
              <mat-header-cell *matHeaderCellDef> Durée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.period}} </mat-cell>
            </ng-container>

            <!-- EndDate -->
            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef> Date de fin</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.endEmission | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <!-- Taux d’intérêt actuariel Column -->
            <ng-container matColumnDef="rateFixedActuarial">
              <mat-header-cell *matHeaderCellDef> Taux d’intérêt actuariel</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedActuarial}} </mat-cell>
            </ng-container>
            <!-- Taux interet N Column -->
            <ng-container matColumnDef="rateFixedNominal">
              <mat-header-cell *matHeaderCellDef> Taux d'intérêt Nominal</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedNominal}} </mat-cell>
            </ng-container>
            <!-- Résiliation anticipée -->

            <ng-container matColumnDef="anticipatedTerm">
              <mat-header-cell *matHeaderCellDef> Résiliation anticipée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.anticipatedTerm}} </mat-cell>
            </ng-container>
            <!-- Taux de résiliation anticipée -->

            <!-- <ng-container matColumnDef="rateAntipTerm">
                      <mat-header-cell *matHeaderCellDef> Taux de résiliation anticipée</mat-header-cell>
                      <mat-cell *matCellDef="let emission"> {{emission?.rateAntipTerm}} </mat-cell>
                    </ng-container> -->
            <!-- Status -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <mat-icon *ngIf="emission?.active" class="c-active-icon active-icon green-600 s-16">check</mat-icon>
                <mat-icon *ngIf="!emission?.active" class="c-active-icon active-icon red-500 s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- Details -->
            <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- details -->
                <button mat-icon-button color="accent" (click)="detailsCard(emission._id)">
                  <mat-icon aria-label="icon-button with a heart icon">search</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- Remove -->
                <!-- Extend Period -->
                <button mat-button [matMenuTriggerFor]="listActions" *ngIf="emission.active">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <!-- Actions delete / extend -->
                <mat-menu #listActions="matMenu">
                  <!-- Delete -->
                  <button mat-menu-item (click)="disabledEmission(emission)" *ngIf="emission.active">Clôturer</button>
                  <!-- Extend -->
                  <button mat-menu-item (click)="extendPeriodEmission(emission,3)"
                    *ngIf="emission.extendPeriod < 1">Prolonger de 3 mois</button>
                </mat-menu>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-tab>
        <mat-tab label="Clôturé" class="c-tabs-ended">
          <mat-table class="products-table" [dataSource]="emissionCT" fusePerfectScrollbar>
            <!-- Horizon Column -->
            <ng-container matColumnDef="horizon">
              <mat-header-cell *matHeaderCellDef> Horizon</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.horizon}} </mat-cell>
            </ng-container>

            <!-- Durée Column -->
            <ng-container matColumnDef="period">
              <mat-header-cell *matHeaderCellDef> Durée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.period}} </mat-cell>
            </ng-container>

            <!-- EndDate -->
            <ng-container matColumnDef="endDate">
              <mat-header-cell *matHeaderCellDef> Date de fin</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.endEmission | date: 'dd/MM/yyyy' }} </mat-cell>
            </ng-container>

            <!-- Taux d’intérêt actuariel Column -->
            <ng-container matColumnDef="rateFixedActuarial">
              <mat-header-cell *matHeaderCellDef> Taux d’intérêt actuariel</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedActuarial}} </mat-cell>
            </ng-container>
            <!-- Taux interet N Column -->
            <ng-container matColumnDef="rateFixedNominal">
              <mat-header-cell *matHeaderCellDef> Taux d'intérêt Nominal</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.rateFixedNominal}} </mat-cell>
            </ng-container>
            <!-- Résiliation anticipée -->

            <ng-container matColumnDef="anticipatedTerm">
              <mat-header-cell *matHeaderCellDef> Résiliation anticipée</mat-header-cell>
              <mat-cell *matCellDef="let emission"> {{emission?.anticipatedTerm}} </mat-cell>
            </ng-container>
            <!-- Taux de résiliation anticipée -->

            <!-- <ng-container matColumnDef="rateAntipTerm">
                      <mat-header-cell *matHeaderCellDef> Taux de résiliation anticipée</mat-header-cell>
                      <mat-cell *matCellDef="let emission"> {{emission?.rateAntipTerm}} </mat-cell>
                    </ng-container> -->
            <!-- Status -->
            <ng-container matColumnDef="status">
              <mat-header-cell *matHeaderCellDef> Statut</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <mat-icon *ngIf="emission?.active" class="c-active-icon active-icon green-600 s-16">check</mat-icon>
                <mat-icon *ngIf="!emission?.active" class="c-active-icon active-icon red-500 s-16">close</mat-icon>
              </mat-cell>
            </ng-container>

            <!-- Details -->
            <ng-container matColumnDef="details">
              <mat-header-cell *matHeaderCellDef>Details</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- details -->
                <button mat-icon-button color="accent" (click)="detailsCard(emission._id)">
                  <mat-icon aria-label="icon-button with a heart icon">search</mat-icon>
                </button>
              </mat-cell>
            </ng-container>
            <!-- Actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions</mat-header-cell>
              <mat-cell *matCellDef="let emission">
                <!-- Remove -->
                <!-- Extend Period -->
                <button mat-button [matMenuTriggerFor]="listActions" *ngIf="emission.active">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <!-- Actions delete / extend -->
                <mat-menu #listActions="matMenu">
                  <!-- Delete -->
                  <button mat-menu-item (click)="disabledEmission(emission)" *ngIf="emission.active">Clôturer</button>
                  <!-- Extend -->
                  <button mat-menu-item (click)="extendPeriodEmission(emission,3)"
                    *ngIf="emission.extendPeriod < 1">Prolonger de 3 mois</button>
                </mat-menu>

              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
        </mat-tab>
      </mat-tab-group>
      <mat-paginator [length]="total" [pageSize]="limitPage" [pageSizeOptions]="[5, 10, 25, 100]"
        (page)="pageEvent = getServerData($event)">
      </mat-paginator>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>