<!-- Content -->
<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/listing/compte-terme'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="m-0">Compte à terme</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>Ajout compte à terme</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">
        <div class="horizontal-stepper-wrapper">
          <mat-horizontal-stepper class="mat-elevation-z4" [linear]="true">
            <mat-step>
              <ng-template matStepLabel>Informations offre</ng-template>
              <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

                <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
                  [formGroup]="formCompteTerme" fxFlex="100" (ngSubmit)="eventCompteTerme(formCompteTerme)">
                  <!-- Horizon / Period -->
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- Horizon -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                      <mat-label>Choisir horizon un</mat-label>
                      <mat-select formControlName="horizon" required (selectionChange)="eventHorizonChanged($event)">
                        <mat-option *ngFor="let elt of ListHorizon" [value]="elt.value">
                          {{elt.label}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      <mat-error>Horizon est obligatoire</mat-error>
                    </mat-form-field>
                    <!-- Period -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Choisir une durée (mois)</mat-label>
                      <mat-select formControlName="period" required>
                        <mat-option *ngFor="let eltP of ListHorizonPeriod" [value]="eltP.value">
                          {{eltP.label}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      <mat-error>durée est obligatoire</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Taux d’intérêt actuariel brut fix / Taux d'intérêt Nominal brut fixe -->
                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- Taux d’intérêt actuariel brut fix -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                      <mat-label>Taux d’intérêt actuariel brut fix %</mat-label>
                      <input matInput formControlName="rateFixedActuarial" maxlength="30" type="number" required min="0"
                        max="99.99" step="0.05" (change)="roundNumber($event, 'rateFixedActuarial')">
                      <!-- Field Required -->
                      <mat-error *ngIf="formCompteTerme.get('rateFixedActuarial').hasError('required')">Taux d’intérêt
                        actuariel brut
                        fix est obligatoire</mat-error>
                      <!-- Field Min -->
                      <mat-error *ngIf="formCompteTerme.controls.rateFixedActuarial.errors?.min">Valeur minimum taux
                        d’intérêt
                        actuariel
                        brut fix est 0</mat-error>
                      <!-- Field Max -->
                      <mat-error *ngIf="formCompteTerme.controls.rateFixedActuarial.errors?.max">Valeur maximum taux
                        d’intérêt
                        actuariel
                        brut fix est 99.99</mat-error>
                    </mat-form-field>
                    <!-- Taux d'intérêt Nominal brut fixe -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Taux d'intérêt Nominal brut fixe %</mat-label>
                      <input matInput formControlName="rateFixedNominal" maxlength="30" type="number" required
                        max="99.99" step="0.05" (change)="roundNumber($event, 'rateFixedNominal')">
                      <!-- Field Required -->
                      <mat-error *ngIf="formCompteTerme.get('rateFixedNominal').hasError('required')">Taux d'intérêt
                        Nominal
                        brut fixe est obligatoire</mat-error>
                      <!-- Field Min -->
                      <mat-error *ngIf="formCompteTerme.controls.rateFixedNominal.errors?.min">Valeur minimum taux
                        d'intérêt
                        Nominal brut fixe est 0</mat-error>
                      <!-- Field Max -->
                      <mat-error *ngIf="formCompteTerme.controls.rateFixedNominal.errors?.max">Valeur maximum taux
                        d'intérêt
                        Nominal brut fixe est 99.99</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Résiliation anticipée / Taux de résiliation anticipée -->
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- Résiliation anticipée -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                      <mat-label>Résiliation anticipée</mat-label>
                      <mat-select formControlName="anticipatedTerm" required
                        (selectionChange)="changeResiliation($event)">
                        <mat-option *ngFor="let elt of ListAnticipatedTermination" [value]="elt.value">
                          {{elt.label}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      <mat-error>Résiliation anticipée est obligatoire</mat-error>
                    </mat-form-field>
                    <!-- Taux de résiliation anticipée -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4"
                      *ngIf="formCompteTerme.value.anticipatedTerm == 1">
                      <mat-label>Taux de résiliation anticipée %</mat-label>
                      <input matInput formControlName="rateAntipTerm" maxlength="30" type="number" max="99.99"
                        step="0.05" (change)="roundNumber($event, 'rateAntipTerm')"
                        [required]="formCompteTerme.value.anticipatedTerm == 1">
                      <!-- Field Required -->
                      <mat-error *ngIf="formCompteTerme.get('rateAntipTerm').hasError('required')">Taux de résiliation
                        anticipée est obligatoire</mat-error>
                      <!-- Field Min -->
                      <mat-error *ngIf="formCompteTerme.controls.rateAntipTerm.errors?.min">Valeur minimum taux de
                        résiliation
                        anticipée est 0</mat-error>
                      <!-- Field Max -->
                      <mat-error *ngIf="formCompteTerme.controls.rateAntipTerm.errors?.max">Valeur maximum taux de
                        résiliation
                        anticipée est 99.99</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Versement des intérêts / Imposition des intérêts -->
                  <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- Versement des intérêts -->
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                      <mat-label>Versement des intérêts</mat-label>
                      <mat-select formControlName="paymentInterest" required>
                        <mat-option *ngFor="let elt of ListPaymentInterest" [value]="elt.value">
                          {{elt.label}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      <mat-error>Versement des intérêts est obligatoire</mat-error>
                    </mat-form-field>
                    <!-- Imposition des intérêts -->

                    <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                      <mat-label>Imposition des intérêts</mat-label>
                      <mat-select formControlName="taxationInter" required>
                        <mat-option *ngFor="let elt of ListPaymentInterest" [value]="elt.value">
                          {{elt.label}}
                        </mat-option>
                      </mat-select>
                      <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                      <mat-error>Imposition des intérêts est obligatoire</mat-error>
                    </mat-form-field>
                  </div>
                  <!-- Investissement minimum à partir de -->
                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">

                    <mat-form-field appearance="outline" fxFlex="50">
                      <mat-label>Investissement minimum à partir de (DT)</mat-label>
                      <input matInput formControlName="miniInvest" maxlength="30" type="number" min="1" required>
                      <!-- Field Required -->
                      <mat-error *ngIf="formCompteTerme.get('miniInvest').hasError('required')">Investissement minimum
                        est
                        obligatoire</mat-error>
                      <!-- Field Min -->
                      <mat-error *ngIf="formCompteTerme.controls.miniInvest.errors?.min">Investissement minimum est 1
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <!-- That can to subscribe -->
                  <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div fxFlex="50">
                      <mat-checkbox *ngFor="let subElt of ListSubscOption; let i = index; let odd=odd; let even=even;"
                        (change)="onChangeSub($event)" [value]="subElt.value" [ngClass]="{ 'pl-4': odd, 'pr-4': even }"
                        class="pr-4" checked="true">{{subElt.label}}</mat-checkbox>
                    </div>
                    <div fxFlex="50" fxLayoutAlign="end">
                      <button type="button" matTooltip="Aucune exigence particulière n'est demandée"
                        matTooltipPosition="above" mat-raised-button color="accent">Exigences particulières</button>
                    </div>
                  </div>
                  <!-- Button -->
                  <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 0 auto" class="mt-36">
                    <!-- Confirm -->
                    <button fxFlex="30" mat-raised-button class="submit-button" color="accent"
                      aria-label="RESET MY PASSWORD" [disabled]="formCompteTerme.invalid">
                      Confirmer votre émission
                    </button>
                  </div>
                </form>
              </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Fiche produit</ng-template>

              <mat-accordion class="file-product-accordion">
                <mat-expansion-panel *ngFor="let product of formFileProduct; let i = index" [expanded]="step === i"
                  (opened)="setStep(i)">
                  <!-- Header -->
                  <mat-expansion-panel-header>
                    <mat-panel-title fxLayout="row" fxLayoutAlign="start center">
                      <mat-icon class="mr-12 s-20 secondary-text">help_outline
                      </mat-icon>
                      {{ product.title }}
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <!-- Content -->
                  <span> <input *ngIf="formFileProduct[i].content != undefined" type="text"
                      [(ngModel)]="formFileProduct[i].content" value="{{ product.content }}"></span>
                  <ul *ngIf="product?.children != undefined && product?.children.length > 0">
                    <li *ngFor="let item of product.children; let in = index">
                      <strong>{{ item.title }}</strong> <span> <input type="text"
                          *ngIf="formFileProduct[i].children[in].content != undefined"
                          [(ngModel)]="formFileProduct[i].children[in].content"
                          value="{{ formFileProduct[i].children[in].content }}"> </span>
                      <ul *ngIf="item.children != undefined && item.children.length > 0">
                        <li *ngFor="let subItem of item.children;let index = index">
                          <strong>{{ subItem.title }}:</strong>


                          <span>
                            <input type="text"
                              *ngIf="formFileProduct[i].children[in].children[index].content != undefined"
                              [(ngModel)]="formFileProduct[i].children[in].children[index].content"
                              value="{{ formFileProduct[i].children[in].children[index].content }}">
                          </span>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </mat-expansion-panel>
              </mat-accordion>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>