<h2 mat-dialog-title>Mise à jour vos encours</h2>
<div fxLayout="row wrap">
  <!-- Form -->
  <form fxFlex="100" [formGroup]="formOutStanding" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto"
    (ngSubmit)="eventOutStandingProfil(formOutStanding)">
    <!-- outstanding EO -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
      <!-- outstanding EO -->
      <mat-form-field fxFlex="100" class="mb-8">
        <mat-label>Encours obligataire</mat-label>
        <input matInput formControlName="outstandingEO" required>
        <!-- Field Required -->
        <mat-error *ngIf="formOutStanding.get('outstandingEO').hasError('required')">
          Encours obligataire est obligatoire
        </mat-error>
        <!-- Field Min -->
        <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.min">Valeur minimum
          d'encours obligataire est 1
        </mat-error>
        <!-- Field Pattern -->
        <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.pattern">Valeur doit
          être numérique
        </mat-error>
      </mat-form-field>
    </div>
    <!-- outstanding BT -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
      <!-- outstanding BT -->
      <mat-form-field fxFlex="100" class="mb-8">
        <mat-label>Encours billets de trésorerie</mat-label>
        <input matInput formControlName="outstandingBT" required>
        <!-- Field Required -->
        <mat-error *ngIf="formOutStanding.get('outstandingBT').hasError('required')">
          Encours billets de trésorerie est obligatoire
        </mat-error>
        <!-- Field Min -->
        <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.min">Valeur minimum
          encours billets de trésorerie est 1
        </mat-error>
        <!-- Field Pattern -->
        <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.pattern">Valeur doit
          être numérique
        </mat-error>
      </mat-form-field>
    </div>
    <!-- outstanding CT -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
      <!-- outstanding CT -->
      <mat-form-field fxFlex="100" class="mb-8">
        <mat-label>Encours comptes à terme</mat-label>
        <input matInput formControlName="outstandingCT" required>
        <!-- Field Required -->
        <mat-error *ngIf="formOutStanding.get('outstandingCT').hasError('required')">
          Encours comptes à terme est obligatoire
        </mat-error>
        <!-- Field Min -->
        <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.min">
          Valeur minimum encours comptes à terme est 1
        </mat-error>
        <!-- Field Pattern -->
        <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.pattern">Valeur doit
          être numérique
        </mat-error>
      </mat-form-field>
    </div>
    <!-- outstanding CD -->
    <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
      <!-- outstanding CD -->
      <mat-form-field fxFlex="100" class="mb-8">
        <mat-label>Encours certificat de dépôt</mat-label>
        <input matInput formControlName="outstandingCD" required>
        <!-- Field Required -->
        <mat-error *ngIf="formOutStanding.get('outstandingCD').hasError('required')">
          Encours certificat de dépôt est obligatoire
        </mat-error>
        <!-- Field Min -->
        <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.min">
          Valeur minimum encours certificat de dépôt est 1
        </mat-error>
        <!-- Field Pattern -->
        <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.pattern">Valeur doit
          être numérique
        </mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row">
      <!-- Confirm -->
      <button fxFlex="50" mat-raised-button class="submit-button mr-8" color="accent"
        [disabled]="formOutStanding.invalid">
        Mise à jour
      </button>
      <!-- Confirm -->
      <button fxFlex="50" type="button" mat-button mat-dialog-close mat-raised-button class="submit-button ml-8">
        Skip
      </button>
    </div>

  </form>

</div>