<div id="academy-courses" class="page-layout simple">

    <!-- HEADER -->
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content p-24">

        <div fxLayout="column" fxLayoutAlign="center">
        	<div class="filters" fxLayout="column" fxLayoutAlign="center center"
                 fxLayout.gt-xs="row" fxLayoutAlign.gt-xs="space-between center">

                <mat-form-field appearance="outline" class="category-selector">
                    <mat-label>Tri des emissions</mat-label>
                    <mat-select [(ngModel)]="currentTri"
                                (selectionChange)="changeTri()">
                        <mat-option [value]="'creationDate'">
                            Tri par nouveauté
                        </mat-option>
                        <mat-option *ngFor="let tri of triOptions" [value]="tri.value">
                            {{ tri.label }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

            </div>
            <div class="courses"  fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

                <div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="100"
                     fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">

                    <fuse-widget (click)="seeDetails()" fxLayout="column" fxFlex="25" fxFlex.gt-xs="100" fxFlex.gt-md="100">

					<div class="fuse-widget-front">
						<div class="pl-16 pr-8 py-16 h-52" style="background-color: #957DAD;" fxLayout="row" fxLayoutAlign="space-between center">
							<div class="h4">{{emission.emetteurId.societe}}</div>
							<div class="h4"></div>
							<!-- <button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="more">
								<mat-icon>more_vert</mat-icon>
							</button> -->
						</div>

						<div class="pt-8 pb-16" fxLayout="column" fxLayoutAlign="center center">
							<div class="green-fg font-size-72 line-height-72">
								{{emission.rateFixedActuarial}}%
							</div>
						</div>
						<div class=" pb-16" fxLayout="column" fxLayoutAlign="center center">
							
							<div class="font-size-36 line-height-36">
								<span class="font-size-16">sur</span>
								{{emission.period}} mois
							</div>
						</div>

						<div class="p-16 border-top" fxLayout="column" fxLayoutAlign="start center">
							<div fxLayout="row">
								<span class="h4 secondary-text text-truncate">
								Type d'emission:
								</span>
								<span class="h4 ml-8">{{emission.type}}</span>
							</div>

							<div fxLayout="row">
								<span class="h4 secondary-text text-truncate">
								Investissement minimum :
								</span>
								<span class="h4 ml-8">{{emission.miniInvest}}</span>
							</div>
							
						</div>
					</div>

					<div class="fuse-widget-back p-16 pt-32">
						<button mat-icon-button fuseWidgetToggle class="fuse-widget-flip-button" aria-label="Flip widget">
							<mat-icon class="s-16">close</mat-icon>
						</button>

						<div>
							Mes details
						</div>
					</div>
				</fuse-widget>

                </div>

                <div class="no-courses" *ngIf="dataSource?.length === 0">
                    No courses found!
                </div>

            </div>

        </div>

    </div>
    <!-- / CONTENT -->

</div>


