<div id="about" class="p-24" fxLayout="row wrap">

  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="45">
    <div class="profile-box info-box general" fxLayout="column">
      <!-- Title -->
      <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Société</div>
        <div class="more secondary-text" (click)="showFormCompany = !showFormCompany">
          <mat-icon class="s-16 ml-4">edit</mat-icon>
        </div>
      </header>
      <!-- Content -->
      <div class="content">
        <div fxLayout="row" *ngIf="!showFormCompany">
          <div fxLayout="column" fxFlex="100">
            <!-- Company -->
            <div class="info-line">
              <div class="title">Société</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.societe }}</span>
              </div>
            </div>
            <!-- legal form -->
            <div class="info-line">
              <div class="title">Forme judrique</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.infoJuridicForm }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.infoJuridicForm == '' || _serviceProfile.user?.infoJuridicForm == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!--mf -->
            <div class="info-line">
              <div class="title">MF (Matricule fiscal)</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.mf | mask: '000000 A' }} </span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.mf == '' || _serviceProfile.user?.mf == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!--lei -->
            <div class="info-line">
              <div class="title">LEI (Identifiant d'Entité Juridique)</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.lei }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.lei == '' || _serviceProfile.user?.lei == undefined">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!-- Capital social -->
            <div class="info-line">
              <div class="title">Capital social</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.sharecapital }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.sharecapital == '' || _serviceProfile.user?.sharecapital == undefined">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="showFormCompany">
          <div class="info-line" fxFlex="100">
            <div class="title">Changez vos informations professionnelles</div>
          </div>
          <!-- Form -->
          <form fxFlex="100" [formGroup]="formInformationCompany" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationCompany)">
            <!-- Legal form / MF -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Legal form -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>Forme juridique</mat-label>
                <mat-select formControlName="infoJuridicForm" required>
                  <mat-option *ngFor="let eltP of ListJuridicForm" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>La forme juridique est obligatoire</mat-error>
              </mat-form-field>

              <!-- MF -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>MF</mat-label>
                <input matInput formControlName="mf" pattern="\d{6}[a-zA-Z]{1}" mask="000000 A">
                <!-- Field required -->
                <mat-error *ngIf="formInformationCompany.get('mf').hasError('required')">MF obligatoire</mat-error>
                <!-- Field Pattern -->
                <mat-error *ngIf="formInformationCompany.controls.mf.errors?.pattern">format doit être (000000 A)</mat-error>
              </mat-form-field>
            </div>
            <!-- LEI -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- LEI -->
              <mat-form-field fxFlex="100" class="pr-4">
                <mat-label>LEI</mat-label>
                <input matInput formControlName="lei" pattern="[a-zA-Z]{18}\d{2}" mask="AAAA AA AAAAAAAAAAAA 00">
                <!-- Field Pattern -->
                <mat-error *ngIf="formInformationCompany.controls.lei.errors?.pattern">format doit être (AAAA AA
                  AAAAAAAAAAAA 00)</mat-error>
              </mat-form-field>
            </div>
            <!-- Share capital -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Share capital -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>Capital social</mat-label>
                <input matInput formControlName="sharecapital" maxlength="50">
                <mat-error>
                  Capital social obligatoire
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Confirm -->
            <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
              [disabled]="formInformationCompany.invalid">
              CONFIRMER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="55">
    <!-- Rating -->
    <div class="profile-box info-box general" fxLayout="column">

      <!-- Title -->
      <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Rating</div>
        <div class="more secondary-text" (click)="showFormCompanyRating = !showFormCompanyRating">
          <mat-icon class="s-16 ml-4">edit</mat-icon>
        </div>
      </header>
      <!-- Content -->
      <div class="content">
        <div fxLayout="row" *ngIf="!showFormCompanyRating">
          <div fxLayout="column" fxFlex="100">
            <!-- Date de notation -->
            <div class="info-line">
              <div class="title">Date de notation</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.infoDateNotation | date: 'dd/MM/yyyy' }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.infoDateNotation == '' || _serviceProfile.user?.infoDateNotation == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!-- Agence de notation -->
            <div class="info-line">
              <div class="title">Agence de notation</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.agencenotation }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.agencenotation == '' || _serviceProfile.user?.agencenotation == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!-- ratinglong -->
            <div class="info-line">
              <div class="title">Rating Long</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.ratinglong }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.ratinglong == '' || _serviceProfile.user?.ratinglong == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!-- ratingcourt -->
            <div class="info-line">
              <div class="title">Rating Court</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.ratingcourt }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.ratingcourt == '' || _serviceProfile.user?.ratingcourt == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
            <!-- perspective -->
            <div class="info-line">
              <div class="title">Perspective</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.perspective }}</span>
                <span class="fuse-navy-200-fg"
                  *ngIf="_serviceProfile.user?.perspective == '' || _serviceProfile.user?.perspective == undefined ">
                  <small>
                    <em>
                      Veuillez compléter votre
                      profil
                    </em>
                  </small>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="showFormCompanyRating">
          <div class="info-line" fxFlex="100">
            <div class="title">Changez vos informations du rating</div>
          </div>
          <!-- Form -->
          <form fxFlex="100" [formGroup]="formInformationCompanyRating" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationCompanyRating)">
            <!-- Date de notation -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Date de notation</mat-label>
                <input [min]="firstDate" [max]="yesterdayDate" matInput formControlName="infoDateNotation"
                  [matDatepicker]="picker3" placeholder="Date de notation">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
                <mat-error>La date de notation est obligatoire</mat-error>
              </mat-form-field>
            </div>
            <!-- Rating agency / FICH & S&P -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Rating agency -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Agence de notation</mat-label>
                <mat-select formControlName="agencenotation" (selectionChange)="SelectAgenceDeNotation($event.value)"
                  required>
                  <mat-option *ngFor="let eltP of ListRatingForm" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>L'agence de notation est obligatoire</mat-error>
              </mat-form-field>
              <!-- FICH & S&P -->
              <mat-form-field fxFlex="50" class="pl-4" *ngIf="VerifAgenceDeNotationLongTerme">
                <mat-label>Rating à long terme (Monnaie locale)</mat-label>
                <mat-select formControlName="ratinglong" required>
                  <mat-option *ngFor="let eltP of RatingFormLongFitch_SP" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>Le rating à court terme est obligatoire</mat-error>
              </mat-form-field>
            </div>
            <!-- Short term rating / Moody's -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Short term rating -->
              <mat-form-field fxFlex="50" class="pr-4" *ngIf="VerifAgenceDeNotationCourtTerme">
                <mat-label>Rating à court terme (Monnaie locale)</mat-label>
                <mat-select formControlName="ratingcourt" required>
                  <mat-option *ngFor="let eltP of RatingFormCourtFitch_SP" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>Le rating à court terme est obligatoire</mat-error>
              </mat-form-field>
              <!-- Moody's -->
              <mat-form-field *ngIf="VerifAgenceDeNotationLongTermeMooday" fxFlex="50" class="pl-4">
                <mat-label>Rating à long terme (Monnaie locale)</mat-label>
                <mat-select formControlName="ratinglong" required>
                  <mat-option *ngFor="let eltP of RatingFormLongMoody" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>Le rating à court terme est obligatoire</mat-error>
              </mat-form-field>
            </div>
            <!-- Short term rating / Perspective -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Short term rating -->
              <mat-form-field fxFlex="50" class="pr-4" *ngIf="VerifAgenceDeNotationCourtTermeMooday">
                <mat-label>Rating à court terme (Monnaie locale)</mat-label>
                <mat-select formControlName="ratingcourt" required>
                  <mat-option *ngFor="let eltP of RatingFormCourtMoody" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>Le rating à court terme est obligatoire</mat-error>
              </mat-form-field>
              <!-- Perspective -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>Perspectives</mat-label>
                <mat-select formControlName="perspective" required>
                  <mat-option *ngFor="let eltP of RatingFormPerspective" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Confirm -->
            <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
              [disabled]="formInformationCompanyRating.invalid">
              CONFIRMER
            </button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>