<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between end">

        <div class="user-info" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
            fxLayoutAlign.gt-sm="start center">
            <div class="avatar huge">
                <img class="profile-image avatar huge" src="{{url}}"
                    [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                <!-- mask upload -->
                <div class="c-mask-img" (click)="fileInput.click()">
                    <input hidden type="file" #fileInput (change)="fileSelected($event.target.files)" />
                    <i class="material-icons">
                        camera_alt
                    </i>
                </div>
            </div>

            <div class="name" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                {{(_profileService.user?.firstname != null ? _profileService.user?.firstname : "") + ' ' +(_profileService.user?.lastname != null ? _profileService.user?.lastname : "")}}
            </div>
        </div>

        <!-- <div class="actions" fxLayout="row" fxLayoutAlign="end center" [@animate]="{value:'*',params:{delay:'200ms'}}">
            <button mat-raised-button color="accent" aria-label="Follow">Follow</button>
            <button mat-raised-button color="primary" aria-label="Send Message">Send Message</button>
        </div> -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group dynamicHeight="true">

            <!-- Professional information -->
            <mat-tab label="informations génerale">
                <app-information-pro></app-information-pro>
            </mat-tab>
            <!-- company information -->
            <mat-tab label="Information société">
                <app-information-company></app-information-company>
            </mat-tab>
            <!-- encours -->
            <mat-tab label="Encours">
                <app-encours></app-encours>
            </mat-tab>
            <!-- security -->
            <mat-tab label="Sécurité">
                <app-security></app-security>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>