@import "src/@fuse/scss/fuse";

#profile {

    .header {
        height: 320px;
        min-height: 320px;
        max-height: 320px;
        background: url('/assets/images/backgrounds/dark-material-bg.jpg') no-repeat 0 45%;
        background-size: cover;

        .profile-image {
            margin-right: 24px;

            @include media-breakpoint('sm') {
                margin: 0 0 16px 0;
            }
        }

        .name {
            font-size: 34px;
            color: #FFFFFF;

            @include media-breakpoint('sm') {
                margin-bottom: 32px;
            }
        }

        .actions {

            button {
                text-transform: none;
                padding: 0 16px;
                margin: 0 0 0 8px;
            }
        }
    }

    .content {
        flex: 1;

        mat-tab-group {
            height: 100%;

            .mat-tab-body-wrapper {
                flex-grow: 1;
            }
        }
    }
}
div.avatar{object-fit: cover;}
div.avatar.huge{position: relative;overflow: hidden;cursor: pointer;}
.c-mask-img{background: rgba(0,0,0,0.4);width: 100%;height: 36%;position: absolute;bottom: 0;display: none;cursor: pointer;}
div.avatar.huge:hover .c-mask-img {display: block;}
.c-mask-img .material-icons{position: absolute;color: #fff;left: 39%;top: 24%;font-size: 19px;}