<div id="login" fxLayout="column">

    <div id="login-form-wrapper" fxLayout="column" fxLayoutAlign="center center">

        <div id="login-form" [@animate]="{value:'*',params:{duration:'300ms',y:'100px'}}">

            <div class="logo">
                <img src="assets/Logos/logo_transparent.png">
            </div>

            <div class="title">CONNECTEZ-VOUS À VOTRE COMPTE</div>

            <form name="loginForm" [formGroup]="loginForm" (ngSubmit)="login(loginForm)" novalidate>

                <mat-form-field >
                    <mat-label>Adresse e-mail</mat-label>
                    <input matInput formControlName="email">
                    <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                    <mat-error *ngIf="loginForm.get('email').hasError('required')">
                        Adresse e-mail est obligatoire
                    </mat-error>
                    <mat-error *ngIf="!loginForm.get('email').hasError('required') &&
                                loginForm.get('email').hasError('email')">
                        S'il vous plaît, mettez une adresse e-mail valide
                    </mat-error>
                </mat-form-field>

                <mat-form-field >
                    <mat-label>Mot de passe</mat-label>
                    <input matInput type="password" formControlName="password">
                    <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                    <mat-error>
                        Mot de passe est obligatoire
                    </mat-error>
                </mat-form-field>

                <div class="remember-forgot-password" fxLayout="row" fxLayout.xs="column"
                    fxLayoutAlign="space-between center">

                    <a class="forgot-password" [routerLink]="'/forgot-password'">
                        Mot de passe oublié?
                    </a>
                </div>

                <button mat-raised-button color="accent" class="submit-button" aria-label="LOG IN"
                    [disabled]="loginForm.invalid">
                    S'IDENTIFIER
                </button>

            </form>

            <!-- <div class="separator">
                <span class="text">OR</span>
            </div>

            <button mat-raised-button class="google">
                Log in with Google
            </button>

            <button mat-raised-button class="facebook">
                Log in with Facebook
            </button> -->

            <div class="register" fxLayout="column" fxLayoutAlign="center center">
                <span class="text">Je n'ai pas de compte?</span>
                <a class="link" [routerLink]="'/inscription'">Créer un compte</a>
            </div>

        </div>

    </div>

</div>