<div id="products" class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <!-- <div class="top-bg accent"></div> -->
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div>

    <!-- HEADER -->
    <div class="header accent c-header-accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center">

      <!-- APP TITLE -->
      <div fxFlex="40" class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32 mr-16">
          notifications_none
        </mat-icon>
        <span class="logo-text h1">
          Mes notifications
        </span>
      </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- Last 5 notifications -->
      <mat-nav-list fusePerfectScrollbar>
        <mat-list-item role="listitem" *ngFor="let notif of listNotif" [ngClass]="{'new-item-notif': !notif.seen}" (click)="eventItemNotif(notif)"
          class="item-notif">
          <div class="item-notification" fxLayout="row" fxLayoutAlign="start center">
            <!-- Logo user -->
            <img src="{{notif.notifId.userSender.logo}}" alt="">
            <!-- content -->
            <p class="content-notification">
              <span><span class="content-notif-username">{{notif?.notifId.userSender.firstname}} {{notif?.notifId.userSender.lastname}}</span>
              {{ notif?.notifId.content }}</span>
              <span class="c-timeago">{{ notif.creationDate | amLocale:'fr' | amTimeAgo }}</span>
            </p>
          </div>
        </mat-list-item>
      </mat-nav-list>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>