<div id="academy-courses" class="page-layout simple">

	<!-- HEADER -->
	<!-- / HEADER -->

	<!-- CONTENT -->
	<div class="content p-24">

		<div fxLayout="column" fxLayoutAlign="center">
			<div class="filters" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-xs="row"
				fxLayoutAlign.gt-xs="space-between center">
				<mat-form-field appearance="outline" class="category-selector">
					<mat-label>Filtrer par</mat-label>
					<mat-select [(ngModel)]="currentType" (selectionChange)="filterByType()">
						<mat-option *ngFor="let type of typeArray" [value]="type.value">
							{{ type.label }}
						</mat-option>
					</mat-select>
				</mat-form-field>
				<mat-form-field appearance="outline" class="category-selector">
					<mat-label>Durée</mat-label>
					<mat-select [(ngModel)]="currentDuree" (selectionChange)="filterByType()">
						<mat-option [value]="-1">
							Tout
						</mat-option>
						<mat-optgroup *ngFor="let group of dureeArray" [label]="group.groupName">
                  			<mat-option *ngFor="let type of group.valeurs" [value]="type.value">
								{{ type.label }} mois ({{emissionByPeriod[group.groupName][type.value]}})
							</mat-option>
						</mat-optgroup>

					</mat-select>
				</mat-form-field>

				<mat-form-field appearance="outline" class="category-selector">
					<mat-label>Trier par</mat-label>
					<mat-select [(ngModel)]="currentTri" (selectionChange)="changeTri()">
						<mat-option *ngFor="let tri of triOptions" [value]="tri.value">
							{{ tri.label }}
						</mat-option>
					</mat-select>
				</mat-form-field>

			</div>
			<div class="courses" fxLayout="row wrap" fxLayoutAlign="center" [@animateStagger]="{value:'50'}">

				<div class="course" *ngFor="let emission of dataSource" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-sm="33" [@animate]="{value:'*',params:{y:'100%'}}">


					<fuse-widget style="cursor: pointer;" fxLayout="column" >
						<!-- Front -->
						<div class="fuse-widget-front" fuseWidgetToggle>
							<!-- Type emission -->
							<div class="pl-16 pr-8 h-28 c-marketplace-header"
								[ngClass]="emission.typeSlug + '-bg'" fxLayout="row"
								fxLayoutAlign="space-between center">
								<span class="h4" fxFlex="100">{{emission.type}}</span>
							</div>
							<!-- Rate fix or Rate variable -->
							<div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
								<div class="c-marketplace-rate font-size-40 line-height-40">
									<!-- EO -->
									<span *ngIf="emission.type == 'Emprunt obligataire'">
										{{ emission?.RembourseTauxVariableBool ? 'TMM +' : '' }}
										{{ emission?.RembourseTauxVariableBool ? (emission.RembourseTauxVariableAmount | number:'1.2') :  (emission.RembourseTauxFixeAmount | number:'1.2' )}}%
									</span>
									<!-- BT CD CAT  -->
									<span *ngIf="emission.type != 'Emprunt obligataire'">
										{{emission.rateFixedNominal| number:'1.2'}}%
									</span>
								</div>
							</div>
							<!-- Period -->
							<div class="pb-16" fxLayout="column" fxLayoutAlign="center center">
								<div class="font-size-24 line-height-24">
									<span class="font-size-16">sur</span>
									{{ emission.period }}
									mois
								</div>
							</div>
							<!-- Logo / Company -->
							<div class="py-8 border-top pl-16" fxLayout="row" fxLayoutAlign="start center">
								<!-- Logo -->
								<img class="w-40 h-40 border-radius-100" src="{{emission.emetteurId.logo}}" alt="">
								<!-- Company -->
								<div class="ml-16">
									<div class="text-bold">{{ emission?.emetteurId.societe }}</div>
								</div>
							</div>
							<!-- Amount / countdown -->
							<div class="p-16 border-top" fxLayout="column" fxLayoutAlign="start center">
								<!--  -->
								<div fxLayout="{{emission.miniInvest > 10000000000 ? 'column': 'row'}}">
									<span class="text-bold text-truncate fuse-black-A700-fg ">
										À partir de :
									</span>
									<span class="secondary-text ml-8 fuse-black-A700-fg ">
										{{ emission.type == 'Emprunt obligataire' ?  emission.EmpruntMontant : emission.miniInvest }}DT
									</span>
								</div>
								<div fxLayout="row">
									<span class="text-bold text-truncate fuse-black-A700-fg ">
										<span class="text-bold text-truncate fuse-black-A700-fg ">
											Se termine dans {{ emission?.countdown }}
										</span>
									</span>
									<span class="h4 ml-8"></span>
								</div>
							</div>
							<!-- Investir -->
							<div class="pt-8 pb-24" fxLayout="column" fxLayoutAlign="center center">
								<div class="c-marketplace-rate font-size-40 line-height-40">
									<button mat-flat-button (click)="detailsCard(emission._id)"
										class="teal-800">Investir</button>
								</div>
							</div>
						</div>
						<!-- back -->
						<div class="fuse-widget-back p-16 pt-32" fuseWidgetToggle>
							<!-- Emetteur Type -->
							<div class="py-8 border-top pl-16" fxLayout="row" fxLayoutAlign="start center">
								<div fxLayout="row">
									<span class="text-truncate fuse-black-A700-fg ">
										<span class="text-bold">Emetteur:</span>
										<span class="secondary-text">{{ emission?.emetteurId.categorie }}</span>
									</span>
									<span class="h4 ml-8"></span>
								</div>
							</div>
							<!-- Horizon -->
							<div class="py-8 pl-16" fxLayout="row" fxLayoutAlign="start center"
								*ngIf="emission.type != 'Emprunt obligataire'">
								<div fxLayout="row">
									<span class="text-truncate fuse-black-A700-fg ">
										<span class="text-bold">Horizon:</span>
										<span class="secondary-text">{{ emission?.horizon }}</span>
									</span>
									<span class="h4 ml-8"></span>
								</div>
							</div>
							<!-- Souscripteurs -->
							<div class="py-8 pl-16" fxLayout="row" fxLayoutAlign="start center"
								*ngIf="emission.type != 'Emprunt obligataire'">
								<div fxLayout="column">
									<span class="text-truncate fuse-black-A700-fg ">
										<div class="text-bold">Souscripteurs éligibles:</div>

										<div class="secondary-text" *ngFor="let item of emission?.subscribeOpt">
											{{ item == 1 ? 'Personne physique' : 'Personne morale' }}
										</div>
									</span>
									<span class="h4 ml-8"></span>
								</div>
							</div>
						</div>
					</fuse-widget>

				</div>

				<div class="no-courses" *ngIf="dataSource?.length === 0">
					Aucune émission à montrer!
				</div>

			</div>

		</div>

	</div>
	<!-- / CONTENT -->

</div>