/* Global Style */
.c-chip-list-custom .mat-chip.mat-standard-chip{border-radius: 4px;padding: 2px 5px 2px 5px;min-height: 20px;background: #fff!important}
.c-filter .mat-form-field .mat-form-field-flex .mat-form-field-infix{padding: 0.5em 0 0.5em 0;}
.c-filter .mat-form-field .mat-form-field-flex .mat-form-field-infix .mat-form-field-label-wrapper{top: -21px;}
[hidden] {
  display: none !important;
}
.c-type-user [type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  visibility: hidden;
}
.c-type-user-content {
  text-align: center;
  position: relative;
  padding: 35px 0;
  border: 1px solid #b9b9b9;
  border-radius: 10px;
}
.c-form .mat-form-field-appearance-outline .mat-form-field-subscript-wrapper {
  line-height: 1.3;
  margin-top: 3px;
  overflow: visible;
}
.c-without-padding .mat-form-field-wrapper {
  padding-bottom: 0;
}
//Form field style
//Change color form field
.mat-form-field-white .mat-form-field-label {
  color: #fff !important;
}
.mat-form-field-white .mat-form-field-underline {
  background-color: #fff !important;
}
//End form field stype
//Snackbar custom
.alert-snackbar {
  background: #e74c3c !important;
  color: #fff;
}
/* IMAGE STYLES */
.c-type-user [type="radio"] + .c-type-user-content {
  cursor: pointer;
}
.c-type-user .c-user-type-checked {
  display: none;
  color: #c5eafd !important;
  position: absolute;
  right: -7px;
  bottom: -10px;
}
.c-type-user-name {
  margin-top: 20px;
  color: #b9b9b9;
}
/* CHECKED STYLES */
.c-type-user [type="radio"]:checked + .c-type-user-content .c-user-type-checked {
  display: block;
}
.c-type-user [type="radio"]:checked + .c-type-user-content .c-type-user-name {
  color: #3498db;
}
.c-type-user [type="radio"]:checked + .c-type-user-content {
  border-color: #3498db;
}
.c-type-user-name {
  display: block;
}
/* Tabs Styles */
.c-tabs-group .mat-tab-label {
  font-size: 16px;
  font-weight: bold;
}
.c-tabs-group .mat-tab-labels div[aria-posinset="2"] {color: green;}
.c-tabs-group .mat-tab-labels div[aria-posinset="3"] {color: red;}
// Import Fuse core library
@import "@fuse/scss/core";

// Import app.theme.scss
@import "app/app.theme";
.c-content-card{max-width: 332px;}
.white-color{color:#fff!important;}
.c-button-cus{text-transform: none!important;line-height: 1!important;padding: 6px 15px!important;border-radius: 0 !important;}