@import "src/@fuse/scss/fuse";

#about {
  max-width: 1200px;

  .about-content {
    .general {
      .location {
        mat-icon {
          line-height: 13px !important;
        }
      }
    }

    .work {
      .job {
        .company {
          padding: 0 16px 0 0;
          font-weight: 600;
        }
      }
    }
  }

  .about-sidebar {
    padding-left: 32px;

    @include media-breakpoint("sm") {
      padding: 8px;
    }

    .friends {
      .content {
        .friend {
          padding: 4px;

          img {
            border-radius: 4px;
          }
        }
      }
    }

    .groups {
      .content {
        .group {
          margin-bottom: 24px;

          &:last-child {
            margin-bottom: 0;
          }

          .logo {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            height: 48px;
            font-size: 21px;
            line-height: normal;
            border-radius: 50%;
            margin-right: 16px;
          }

          .name {
            font-weight: 600;
            font-size: 15px;
          }

          .members {
            margin-top: 8px;
          }
        }
      }
    }
  }
}

// Profile boxes
.profile-box {
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 16px;
  @include mat-elevation(2);

  header {
    padding: 16px;

    .title {
      font-size: 17px;
    }

    .more {
      cursor: pointer;
    }
  }

  .content {
    padding: 16px;
  }

  footer {
    padding: 8px;
    border-top: 1px solid;
  }

  &.info-box {
    .info-line {
      margin-bottom: 24px;

      .title {
        font-size: 15px;
        font-weight: 600;
        padding-bottom: 4px;
      }

      .info {
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
