<div id="about" class="p-24" fxLayout="row wrap">
  <!-- Information compte / Information company -->
  <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="40">

    <!-- General information -->
    <div class="profile-box info-box general" fxLayout="column">

      <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Information compte</div>
        <div class="more secondary-text" (click)="eventShowForm(1)">
          <mat-icon class="s-16 ml-4">edit</mat-icon>
        </div>
      </header>
      <div class="content">
        <!-- User Information -->
        <div fxLayout="row" *ngIf="!showFormUser">
          <div fxLayout="column" fxFlex="100">
            <!-- Role -->
            <div class="info-line">
              <div class="title">Rôle</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.role }}</span>
                <mat-icon class="s-16 ml-4">people</mat-icon>
              </div>
            </div>
            <!-- Category -->
            <div class="info-line">
              <div class="title">Catégorie</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.categorie }}</span>
                <mat-icon class="s-16 ml-4">category</mat-icon>
              </div>
            </div>
            <!-- Company -->
            <div class="info-line">
              <div class="title">Société</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.societe }}</span>
                <mat-icon class="s-16 ml-4">business</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="showFormUser">
          <div class="info-line" fxFlex="100">
            <div class="title">Changez vos informations</div>
          </div>
          <!-- Form -->
          <form fxFlex="100" [formGroup]="formInformationCompte" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationCompte)">
            <!-- Company / sector-->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Company -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Société</mat-label>
                <input matInput formControlName="societe" maxlength="30">
                <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                <mat-error>
                  Société est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Confirm -->
            <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
              [disabled]="formInformationCompte.invalid">
              CONFIRMER
            </button>
          </form>
        </div>
      </div>
    </div>
    <!-- Company company -->
    <div class="profile-box info-box general" fxLayout="column">

      <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Information société</div>
        <div class="more secondary-text" (click)="eventShowForm(2)">
          <mat-icon class="s-16 ml-4">edit</mat-icon>
        </div>
      </header>
      <div class="content">
        <!-- User Information -->
        <div fxLayout="row" *ngIf="!showFormCompany">
          <div fxLayout="column" fxFlex="100">
            <!-- Company -->
            <div class="info-line">
              <div class="title">Société</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.societe }}</span>
                <mat-icon class="s-16 ml-4">business</mat-icon>
              </div>
            </div>
            <!-- secteur-->
            <div class="info-line">
              <div class="title">Secteur d'activité</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.secteur }}</span>
              </div>
            </div>
            <!-- Adresse -->
            <div class="info-line">
              <div class="title">Adresse</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.adresse }}</span>
              </div>
            </div>
            <!-- Website -->
            <div class="info-line">
              <div class="title">Site web</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.website }}</span>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="showFormCompany">
          <div class="info-line" fxFlex="100">
            <div class="title">Changez vos informations</div>
          </div>
          <!-- Form -->
          <form fxFlex="100" [formGroup]="formInformationCompany" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationCompany)">
            <!-- Company / sector-->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Company -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Société</mat-label>
                <input matInput formControlName="societe" maxlength="30">
                <mat-icon matSuffix class="secondary-text">business_center</mat-icon>
                <mat-error>
                  Société est obligatoire
                </mat-error>
              </mat-form-field>
              <!-- Secteur d'activité -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>Secteur d'activité</mat-label>
                <mat-select formControlName="secteur" required>
                  <mat-option *ngFor="let eltP of ListSecteur" [value]="eltP.value">
                    {{eltP.label}}
                  </mat-option>
                </mat-select>
                <mat-error>Le secteur est obligatoire</mat-error>
              </mat-form-field>

            </div>
            <!-- Adresse / website -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Adresse -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Adresse</mat-label>
                <input matInput formControlName="adresse" maxlength="">
                <mat-error>
                  Adresse obligatoire
                </mat-error>
              </mat-form-field>
              <!-- website -->
              <mat-form-field fxFlex="50" class="pl-4">
                <mat-label>Site web</mat-label>
                <input matInput formControlName="website" maxlength="">
                <mat-error *ngIf="formInformationCompany.get('website').hasError('required')">Site web
                  obligatoire</mat-error>
                <mat-error *ngIf="formInformationCompany.get('website').hasError('pattern')">Format est
                  incorrect</mat-error>
              </mat-form-field>
            </div>
            <!-- Confirm -->
            <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
              [disabled]="formInformationCompany.invalid">
              CONFIRMER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- Information personnel -->
  <div class="about-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="60">

    <!-- General information -->
    <div class="profile-box info-box general" fxLayout="column">

      <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
        <div class="title">Information personnelle</div>
        <div class="more secondary-text" (click)="eventShowForm(3)">
          <mat-icon class="s-16 ml-4">edit</mat-icon>
        </div>
      </header>
      <div class="content">
        <!-- User Information -->
        <div fxLayout="row" *ngIf="!showFormProUser">
          <div fxLayout="column" fxFlex="100">
            <!-- Email -->
            <div class="info-line">
              <div class="title">Adresse e-mail</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.email }}</span>
                <mat-icon class="s-16 ml-4">mail</mat-icon>
              </div>
            </div>
            <!-- Phone -->
            <div class="info-line">
              <div class="title">Téléphone</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.tel }}</span>
                <mat-icon class="s-16 ml-4">phone</mat-icon>
              </div>
            </div>
            <!-- Mobile -->
            <div class="info-line">
              <div class="title">Mobile</div>
              <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                <span>{{ _serviceProfile.user?.mobile }}</span>
                <mat-icon class="s-16 ml-4">phone</mat-icon>
              </div>
            </div>
          </div>
        </div>
        <div fxLayout="row wrap" *ngIf="showFormProUser">
          <div class="info-line">
            <div class="title">Changez vos informations</div>
          </div>
          <!-- Form -->
          <form fxFlex="100" [formGroup]="formInformationProUser" fxLayout="column" fxLayoutAlign="start"
            fxFlex="1 0 auto" (ngSubmit)="eventChangeProfil(formInformationProUser)">
            <!-- Lastname / Firstname -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
              <!-- Firstname -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Prénom</mat-label>
                <input matInput formControlName="firstname" maxlength="30">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                  Prénom est obligatoire
                </mat-error>
              </mat-form-field>
              <!-- Lastname -->
              <mat-form-field fxFlex="50" class="pr-4">
                <mat-label>Nom</mat-label>
                <input matInput formControlName="lastname" maxlength="30">
                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                <mat-error>
                  Nom est obligatoire
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Tel / Mobile -->
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Tel -->
              <mat-form-field fxFlex="50" class="pr-4">
                <span matPrefix>+216 &nbsp;</span>
                <input type="tel" matInput formControlName="tel" placeholder="Téléphone" maxlength="8">
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error *ngIf="formInformationProUser.get('tel').hasError('required')">
                  Téléphone est obligatoire
                </mat-error>
                <mat-error *ngIf="formInformationProUser.controls.tel.errors?.minlength">
                  Téléphone doit comporter 8 chiffres
                </mat-error>

              </mat-form-field>
              <!-- Mobile -->
              <mat-form-field fxFlex="50" class="pr-4">
                <span matPrefix class="">+216 &nbsp;</span>
                <input type="tel" matInput formControlName="mobile" placeholder="Mobile" maxlength="8">
                <mat-icon matSuffix>phone</mat-icon>

                <mat-error *ngIf="formInformationProUser.get('mobile').hasError('required')">
                  Mobile est obligatoire
                </mat-error>
                <mat-error *ngIf="formInformationProUser.controls.mobile.errors?.minlength">
                  Mobile doit comporter 8 chiffres
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Confirm -->
            <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
              [disabled]="formInformationProUser.invalid">
              CONFIRMER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>