<!-- Content -->
<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/instit-club'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="m-0">Instit club </h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8" fxLayout="row" fxLayoutAlign="space-between center">
        <span>Mes offres</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row" fxFlex="100">
          <div id="invoice" class="modern page-layout blank" fxLayout="column" fxFlex="100">

            <!-- Card Nbr -->
            <div fxLayout="row" class="mb-16">
              <!-- Total Amount -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="light-blue-600">
                  <div class="p-16">
                    <div class="h4 secondary-text fuse-white--fg">Total </div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8 fuse-white--fg">
                      {{ infoEmission?.accepted + infoEmission?.inprogress + infoEmission?.refused }}</div>
                  </div>
                </div>
              </div>
              <!-- Accepted Offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="green-700">
                  <div class="p-16">
                    <div class="h4 secondary-text">Offres validées</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.accepted }}</div>
                  </div>
                </div>

              </div>
              <!-- Waiting offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="orange-800">
                  <div class="p-16">
                    <div class="h4 secondary-text">Offres en cours</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.inprogress }}</div>
                  </div>
                </div>

              </div>
              <!-- Refused offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="red-700">
                  <div class="p-16">
                    <div class="h4 secondary-text">Offres déclinées</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.refused }}</div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Card Amount -->
            <div fxLayout="row">
              <!-- Total Amount -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="light-blue-600">
                  <div class="p-16">
                    <div class="h4 secondary-text fuse-white--fg">Volume</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8 fuse-white--fg">
                      {{ infoEmission?.amount }}</div>
                  </div>
                </div>
              </div>
              <!-- Accepted Offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="green-700">
                  <div class="p-16">
                    <div class="h4 secondary-text">Total offres validées</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.amountAC }}</div>
                  </div>
                </div>

              </div>
              <!-- Waiting offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="orange-800">
                  <div class="p-16">
                    <div class="h4 secondary-text">Total offres en cours</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.amountWA }}</div>
                  </div>
                </div>

              </div>
              <!-- Refused offers -->
              <div class="card mx-8" fxFlex="100" fxFlex.gt-xs="50" fxFlex.gt-md="25">
                <div class="red-700">
                  <div class="p-16">
                    <div class="h4 secondary-text">Total offres déclinées</div>
                    <div class="font-size-54 font-weight-300 line-height-1 mt-8">{{ infoEmission?.amountRF }}</div>
                  </div>
                </div>
              </div>
            </div>

            <div fxFlex="100" class="mt-20">
              <!-- investments  -->
              <div class="card my-12" fxFlex="100">

                <!-- Emitteur -->
                <div class="header" fxLayout="column" fxLayoutAlign="space-around">

                  <table mat-table class="c-table" [dataSource]="listOffers">

                    <!-- Created date Column -->
                    <ng-container matColumnDef="creationDate">
                      <th mat-header-cell *matHeaderCellDef> Date de création </th>
                      <td mat-cell *matCellDef="let element"> {{element?.creationDate | date: 'dd/MM/yyyy' }} </td>
                    </ng-container>
                    <!-- Amount Column -->
                    <ng-container matColumnDef="amount">
                      <th mat-header-cell *matHeaderCellDef> Montant </th>
                      <td mat-cell *matCellDef="let element"> {{element?.offreicID.amount }} </td>
                    </ng-container>

                    <!-- Period Column -->
                    <ng-container matColumnDef="period">
                      <th mat-header-cell *matHeaderCellDef> Période </th>
                      <td mat-cell *matCellDef="let element"> {{element?.offreicID.period}} Jrs</td>
                    </ng-container>
                    <!-- availableDate date Column -->
                    <ng-container matColumnDef="availableDate">
                      <th mat-header-cell *matHeaderCellDef> Disponible le </th>
                      <td mat-cell *matCellDef="let element"> {{element?.offreicID.availableDate | date: 'dd/MM/yyyy' }}
                      </td>
                    </ng-container>

                    <!-- Rate Column -->
                    <ng-container matColumnDef="rateIC">
                      <th mat-header-cell *matHeaderCellDef> Taux </th>
                      <td mat-cell *matCellDef="let element"> {{element?.rateIC}} %</td>
                    </ng-container>

                    <!-- Type Column -->
                    <ng-container matColumnDef="type">
                      <th mat-header-cell *matHeaderCellDef> Type d'instrument</th>
                      <td mat-cell *matCellDef="let element"> {{element.type}} </td>
                    </ng-container>

                    <!-- Investor Column -->
                    <ng-container matColumnDef="investorId">
                      <th mat-header-cell *matHeaderCellDef> Investisseur</th>
                      <td mat-cell *matCellDef="let element">{{ element?.offreicID.investorId.societe }}</td>
                    </ng-container>

                    <!-- Status Column -->
                    <ng-container matColumnDef="status">
                      <th mat-header-cell *matHeaderCellDef> Statut </th>
                      <td mat-cell *matCellDef="let element">
                        <span *ngIf="element?.active" class="mat-body-1 px-4 py-4 white-color"
                          [ngClass]="{'green-900': element.status == 'Accepté', 'red-900': element.status == 'Refusé', 'orange-700':  element.status == 'en attente'}">
                          {{ element?.status }}</span>
                          <span *ngIf="!element?.active" class="mat-body-1 px-4 py-4 white-color lime-700">
                          {{ element?.status == "en attente" ? 'annulée' : '' }}</span>
                      </td>
                    </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                  </table>
                  <!-- paginator -->
                  <mat-paginator [length]="total" [pageSize]="limitPage" [pageSizeOptions]="[5, 10, 25, 100]"
                    (page)="pageEvent = getServerData($event)">
                  </mat-paginator>
                </div>
              </div>
              <!-- /investments -->
            </div>


          </div>
        </div>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>