<!-- Content -->
<div class="page-layout carded fullwidth">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- CONTENT HEADER -->
    <div class="header accent p-24" fxLayout="row" fxLayoutAlign="start center">
      <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/instit-club/list'">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <h2 class="m-0">Instit club</h2>
    </div>
    <!-- / CONTENT HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT TOOLBAR -->
      <div class="toolbar px-24 py-8">
        <span>Publier une offre de liquidité</span>
      </div>
      <!-- / CONTENT TOOLBAR -->

      <!-- CONTENT -->
      <div class="content p-24">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">

          <form class="p-24 mr-24" fxLayout="column" fxLayoutAlign="start" fxFlex="1 0 auto" name="form"
            [formGroup]="formAdd" fxFlex="100" (ngSubmit)="eventAdd(formAdd)">
            <!-- Amount / Period-->
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Amount -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Veuillez saisir le montant à placer (Mdt)</mat-label>
                <input matInput formControlName="amount" type="number" min="1" step="0.05"
                  pattern="[0-9]+(\.[0-9][0-9]?)?" (change)="changeListTypeCard($event)" required>
                <!-- Field Required -->
                <mat-error *ngIf="formAdd.get('amount').hasError('required')">Montant est obligatoire</mat-error>
                <!-- Field Min -->
                <mat-error *ngIf="formAdd.controls.amount.errors?.min">Valeur minimum du montant est 1</mat-error>
                <!-- Field Pattern -->
                <mat-error *ngIf="formAdd.controls.amount.errors?.pattern">Format incorrect</mat-error>
              </mat-form-field>
              <!-- Period -->
              <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                <mat-label>Durée du placement (JRS)</mat-label>
                <input matInput formControlName="period" required
                  (change)="changeListTypeCard($event)">
                <!-- Field Required -->
                <mat-error *ngIf="formAdd.get('period').hasError('required')">Durée du placement est obligatoire
                </mat-error>
                <!-- Field Min -->
                <mat-error *ngIf="formAdd.controls.period.errors?.min">Valeur minimum du durée du placement est 1
                </mat-error>
                <!-- Field Max -->
                <mat-error *ngIf="formAdd.controls.period.errors?.max">Valeur maximum du durée du placement 365
                </mat-error>
                <!-- Field Pattern -->
                <mat-error *ngIf="formAdd.controls.period.errors?.pattern">Valeur doit être numérique
                </mat-error>
              </mat-form-field>
            </div>
            <!-- Available date / Type -->
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <!-- Type -->
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>Choisir les instruments</mat-label>
                <mat-select formControlName="type" required multiple>
                  <mat-option *ngFor="let type of ListType" [value]="type.value">
                    {{type.label}}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                <mat-error>Instruments est obligatoire</mat-error>
              </mat-form-field>
              <!-- Available date -->
              <mat-form-field fxFlex="50" class="pl-4">
                <input matInput [matDatepicker]="dp" placeholder="Date valeur" formControlName="availableDate"
                  [min]="minDate" [max]="maxDate">
                <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
                <mat-datepicker #dp>
                </mat-datepicker>
                <!-- Field Required -->
                <mat-error *ngIf="formAdd.get('availableDate').hasError('required')">Date valeur est
                  obligatoire</mat-error>
              </mat-form-field>
            </div>
            <!-- blacklist -->
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                <mat-label>blacklist</mat-label>
                <mat-select multiple>
                  <mat-option *ngFor="let item of listBlacklist" (onSelectionChange)="selectBlockedUser($event)"
                    [value]="item">
                    {{ item.label }}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
              </mat-form-field>
            </div>
            <!-- List Emetteur By Role -->
            <div fxLayout="row wrap" fxFlex="100" fxLayoutAlign="start center" fxFlex="1 0 auto">
              <div fxLayout="row wrap" fxFlex="100" *ngFor="let elt of currentBlacklist; let i = index">
                <mat-divider fxFlex="100" class="my-24"></mat-divider>
                <!-- Title -->
                <span fxFlex="100" class="mat-title">{{elt.label}}</span>
                <mat-card fxLayout="column" fxFlex="100">
                  <!-- Table -->
                  <table mat-table fxFlex="100" [dataSource]="blackListTables['table_' + elt.id]" fusePerfectScrollbar>

                    <!-- Checkbox Column -->
                    <ng-container matColumnDef="select">
                      <th mat-header-cell *matHeaderCellDef>
                        Selectionnez
                      </th>
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox (change)="selectUserBlocked($event,row,i)">
                        </mat-checkbox>
                      </td>
                    </ng-container>

                    <!-- Firstname Column -->
                    <ng-container matColumnDef="firstname">
                      <th mat-header-cell *matHeaderCellDef> Prénom </th>
                      <td mat-cell *matCellDef="let element"> {{element.firstname}} </td>
                    </ng-container>

                    <!-- Lastname Column -->
                    <ng-container matColumnDef="lastname">
                      <th mat-header-cell *matHeaderCellDef> Nom </th>
                      <td mat-cell *matCellDef="let element"> {{element.lastname}} </td>
                    </ng-container>

                    <!-- Email Column -->
                    <ng-container matColumnDef="email">
                      <th mat-header-cell *matHeaderCellDef> Adresse email </th>
                      <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                    </ng-container>

                    <!-- Tel Column -->
                    <ng-container matColumnDef="tel">
                      <th mat-header-cell *matHeaderCellDef> Téléphone </th>
                      <td mat-cell *matCellDef="let element"> {{element.tel}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
                    </tr>
                  </table>
                </mat-card>
              </div>

            </div>
            <!-- Button -->
            <div fxLayout="row wrap" fxLayoutAlign="center center" fxFlex="1 0 auto" class="mt-36">
              <!-- Confirm -->
              <button fxFlex="30" mat-raised-button class="submit-button" color="accent" [disabled]="formAdd.invalid">
                Confirmer vôtre offre
              </button>
            </div>
            <!-- {{ formAdd.value | json }} -->
          </form>
        </div>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>