<div id="about" class="p-24" fxLayout="row wrap">

    <div class="about-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="50" fxFlex.gt-md="55">
        <!-- OutStanding -->
        <div class="profile-box info-box general" fxLayout="column" *ngIf="isEmetteur">
            <!-- Title -->
            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">Mise à jour des encours</div>
                <div class="more secondary-text" (click)="showFormOutStadingUser = !showFormOutStadingUser">
                    <mat-icon class="s-16 ml-4">edit</mat-icon>
                </div>
            </header>
            <!-- Content -->
            <div class="content">
                <div fxLayout="row" *ngIf="!showFormOutStadingUser">
                    <div fxLayout="column" fxFlex="100">
                        <!-- outstanding EO -->
                        <div class="info-line">
                            <div class="title">Encours obligataire (en mdt)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingEO }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingEO == '' || _serviceProfile.user?.outstandingAmounts.outstandingEO == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding BT -->
                        <div class="info-line">
                            <div class="title">Encours billets de trésorerie (en mdt)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingBT }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingBT == '' || _serviceProfile.user?.outstandingAmounts.outstandingBT == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding CT -->
                        <div class="info-line">
                            <div class="title">Encours bon de caisse (en mdt)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingCT }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingCT == '' || _serviceProfile.user?.outstandingAmounts.outstandingCT == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                        <!-- outstanding CD -->
                        <div class="info-line">
                            <div class="title">Encours certificat de dépôt (en mdt)</div>
                            <div class="info location" fxLayout="row" fxLayoutAlign="start center">
                                <span>{{ _serviceProfile.user?.outstandingAmounts.outstandingCD }}</span>
                                <span class="fuse-navy-200-fg"
                                    *ngIf="_serviceProfile.user?.outstandingAmounts.outstandingCD == '' || _serviceProfile.user?.outstandingAmounts.outstandingCD == undefined ">
                                    <small>
                                        <em>
                                            Veuillez compléter votre profil
                                        </em>
                                    </small>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div fxLayout="row wrap" *ngIf="showFormOutStadingUser">
                    <div class="info-line" fxFlex="100">
                        <div class="title">Mise à jour des encours</div>
                    </div>
                    <!-- Form -->
                    <form fxFlex="100" [formGroup]="formOutStanding" fxLayout="column" fxLayoutAlign="start"
                        fxFlex="1 0 auto" (ngSubmit)="eventOutStandingProfil(formOutStanding)">
                        <!-- outstanding EO -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding EO -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours obligataire</mat-label>
                                <input matInput formControlName="outstandingEO" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingEO').hasError('required')">
                                    Encours obligataire est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.min">Valeur minimum
                                    d'encours obligataire est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingEO.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding BT -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding BT -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours billets de trésorerie</mat-label>
                                <input matInput formControlName="outstandingBT" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingBT').hasError('required')">
                                    Encours billets de trésorerie est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.min">Valeur minimum
                                    encours billets de trésorerie est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingBT.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding CT -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding CT -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours comptes à terme</mat-label>
                                <input matInput formControlName="outstandingCT" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingCT').hasError('required')">
                                    Encours comptes à terme est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.min">
                                    Valeur minimum encours comptes à terme est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCT.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- outstanding CD -->
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" class="c-spacing-t">
                            <!-- outstanding CD -->
                            <mat-form-field fxFlex="100" class="mb-8">
                                <mat-label>Encours certificat de dépôt</mat-label>
                                <input matInput formControlName="outstandingCD" required>
                                <!-- Field Required -->
                                <mat-error *ngIf="formOutStanding.get('outstandingCD').hasError('required')">
                                    Encours certificat de dépôt est obligatoire
                                </mat-error>
                                <!-- Field Min -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.min">
                                    Valeur minimum encours certificat de dépôt est 1
                                </mat-error>
                                <!-- Field Pattern -->
                                <mat-error *ngIf="formOutStanding.controls.outstandingCD.errors?.pattern">Valeur doit
                                    être numérique
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <!-- Confirm -->
                        <button fxFlex="100" mat-raised-button class="submit-button" color="accent"
                            [disabled]="formOutStanding.invalid">
                            CONFIRMER
                        </button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>